[2020-07-23 05:16] prometherion opened #1 "Ensure all images come from a trusted registry declared in the Tenant"
# Describe the feature

A Tenant could just use a specific set of images from a trusted registry.

Should we use a list of allowed registries?

# What would the new user story look like?

1. setup a Validating Admission webhook for every Pod
2. retrieve the Tenant from the namespace indexer
3. check if the image starts with the desired registry name

# Expected behavior

- if the Pod is running on

[2020-07-23 05:32] prometherion opened #2 "Tenant backup and restore of a Tenant"
# Describe the feature

It looks that [Velero](https://github.com/vmware-tanzu/velero) is the most suitable solution to handle Kubernetes cluster backups, although meaning adding a new dependency besides the already required admission plugins.

However, we should ignore specific Tenant that doesn't need a backup strategy due to end-user business logic (e.g. tiering).

Would be great if we could ea

[2020-07-23 05:35] prometherion opened #3 "Users management"
At the current state of Capsule (just the first commit), we don't have multi-user management for the Tenant resources: it means just the owner can operate over all the clusters through the credentials provided by the Cluster Admin [as mentioned here](https://github.com/clastix/capsule/blob/master/use_cases.md#onboarding-of-new-customer).

We need the support of the community to drive this developm

[2020-07-23 07:35] prometherion opened #4 "Evalute to upgrade to OperatorSDK 0.19"
Operator SDK 0.19 [has been released](https://github.com/operator-framework/operator-sdk/releases/tag/v0.19.0) two weeks ago and is providing more tight integration with Kubebuilder and a better webhook scaffold generation and management, too.

We should consider migrating the actual code-base in order to use this latest version, also to get automated YAML templates generation according to the ann

[2020-07-23 14:15] gdurifw commented on #3
Hi prometherion, this is a very nice project! :)

I could you ask a question ?
With the sentence "the owner can operate over all the clusters through the credentials provided by the Cluster Admin" you mean that the owner can operate as admin of all namespace of the tenant, right?

However, for every multi-user tenant, would be nice to have different Roles (and RoleBinding) for example:

- admin  -

[2020-07-24 09:19] prometherion commented on #3
Hi @gdurifw and thanks for the kind words!

That's right: if you need more context regarding the terms we use, please check out the [use-case documentation](https://github.com/clastix/capsule/blob/master/use_cases.md).

---

What I like a lot about Capsule is that it's providing fascinating self-provisioning management: a Tenant owner just needs to get the `kubeconfig` to create their Namespace re

[2020-07-24 20:20] prometherion opened #5 "Document how to secure the Capsule environment with PSP"
Making a CaaS platform means Tenant owner Pods could run on the same node: an attacker could start a privileged one, getting root access on the machine, and obtain privilege escalation.

A document explaining how to set up a simple [Pod Security Policy ](https://kubernetes.io/docs/concepts/policy/pod-security-policy) would be great, explaining why a Cluster Admin should deny getting Pods running a

[2020-07-25 15:00] prometherion opened #6 "Certificate TLS on initial setup is signed by a different CA"
# Bug description

On Capsule installation, the certificate used by Capsule to handle webhook requests is signed by a different CA.

[code]

Only regenerating it through deletion of the `tls.{crt,key}` keys of `capsule-tls` solves the issue.

# How to reproduce

1. Install capsule via `kubectl apply -f deploy`
2. Wait for getting it up and running
3. Create a Namespace and getting the said error

[2020-07-25 15:21] #6 closed

[2020-07-27 10:44] prometherion opened #8 "Capsule should not run as Cluster Admin"
# Describe the feature

During the reconciliation loop, Capsule will ensure that the `admin` Role is going to be granted to the Tenant owner for their Namespace resources: this is actually mandatory with the current RBAC setup, otherwise, Capsule wouldn't be able to grant RBAC permissions that are not currently held.

# What would the new user story look like?

We should investigate how to decreas

[2020-07-27 10:52] prometherion opened #9 "Scaffold the e2e testing during CI with Kind"
# Describe the feature

[KinD](https://github.com/kubernetes-sigs/kind) is a top-notch project to perform e2e tests during the Continous Integration.

Actually, Capsule doesn't provide a real test suite and probably also the current code-base doesn't allow to perform other kinds of tests ([except for the Certificate Authority package](https://github.com/clastix/capsule/blob/bd7218ba44881c52263d987

[2020-07-27 10:54] prometherion opened #10 "Fix typos in the docs"
Pretty straightforward, there are several typos in the documentation that sounds terrible in the English language.

Help is wanted, so please don't hesitate to refer to this issue while contributing to fixing small typos on Capsule! :tada:

[2020-07-27 11:06] YashThakare commented on #10
I wanted to work on this project . In which file is typos mistakes exactly ?

[2020-07-27 11:13] prometherion commented on #10
Hi @YashThakare and thanks for the help! :rocket:

I'm pretty confident that the [use-cases document](https://github.com/clastix/capsule/blame/bd7218ba44881c52263d987c8160430931da4e11/use_cases.md) contains several of that, as well the [README](https://github.com/clastix/capsule/blame/bd7218ba44881c52263d987c8160430931da4e11/README.md).

Please, open a PR once you found some of them and reference

[2020-07-28 09:15] #8 closed

[2020-07-28 09:25] prometherion opened #12 "Namespace Controller is not using predicates"
# Bug description

Not properly a bug but, rather, a code improvement.

https://github.com/clastix/capsule/blob/66969e334cebdb53ba63a420116a02f62f37a2fc/pkg/controller/namespace/namespace_controller.go#L132-L135

This kind of business logic should be handled at the predicate level rather than the reconciliation loop.

# How to reproduce

1. Restart the Capsule pod
2. Notice how it iterates all ove

[2020-07-28 09:45] #12 closed

[2020-07-28 09:53] prometherion commented on #8
As the linked PR explains, we have to run as __Cluster Admin__ to bind `admin` roles to Tenant owners.

[2020-07-28 09:57] prometherion commented on #10
Just discovered a typo [here](https://github.com/clastix/capsule/blame/master/.github/ISSUE_TEMPLATE/bug_report.md#L24): _behaviour_ should be _behavior_.

[2020-07-28 10:35] bsctl opened #14 "Tenant Resource Quota is not honoured"
# Bug description

We are testing the Tenant Resource Quota feature and discovered that Resource Quota at tenant level is not honoured.

# How to reproduce

Steps to reproduce the behaviour:

Tenant definition:

[code]

We created 3 namespaces: usl1, usl2, and usl3

With empty namespaces, we have:

[code]

Then we create 3 pods for each namespace for a total of 9 pods:

[code]

Then scale up in na

[2020-07-28 11:06] prometherion commented on #14
Definitely a bug and I already noticed the issue

https://github.com/clastix/capsule/blob/fef3607ecf3cdd21c2f26cf42491c433e6b8cfde/pkg/controller/tenant/tenant_controller.go#L274-L280

During the `mutateFn` of `RetryOnConflict` we're losing the enforced quota specified before

https://github.com/clastix/capsule/blob/fef3607ecf3cdd21c2f26cf42491c433e6b8cfde/pkg/controller/tenant/tenant_controller.g

[2020-07-28 15:23] bsctl opened #16 "Document how to contribute"
A document explaining how to contribute to this project would be great, explaining how to setup the development environment, needed tools, coding style, rules of conduct, etc..

[2020-07-28 18:12] bsctl opened #17 "Document how to increase logs level"
It would be nice to have a configurable logs level for the capsule controller, e.g. info, warning, debug, trace, .. This will help during troubleshooting.

[2020-07-28 18:34] bsctl opened #18 "Ability for the tenant owner to list namespaces in the tenant"
# Describe the feature
Ability for the tenant owner to list namespaces in the tenant. Currently, the tenant owner can create and delete namespaces in his tenants but listing them is prevented by RBAC. And this is correct, according to RBAC rules, otherwise the tenant owner can list all the namespaces in the cluster (namespace is a cluster-wide resource).

Generally speaking, the ability to list on

[2020-07-28 18:41] bsctl commented on #18
what about to implement this feature as part of a custom cli?

[code]

[2020-07-28 21:08] prometherion commented on #18
Tough feature this one, let's try to evaluate each one.

---

Overcoming a Kubernetes limitation, as you said with the [first](https://github.com/clastix/capsule/issues/18#issue-667283713) comment is quite hard: the unique to bypass it should be the mirroring of Namespace resources to a _Tenant Namespace_ resources, cloned into each Namespace managed by the Tenant.

Although this could sound the m

[2020-07-28 21:12] prometherion commented on #17
Actually we're logging whatever we can at `info` level and OperatorSDK already provides, via `zap`, a configurable logging verbosity: using a single level has been just a lazy choice since, at this phase, every information is vital but a medium priority is reasonable, here.

[2020-07-30 06:43] bsctl commented on #3
Hello @gdurifw, as pointed by @prometherion, one of the key design principle of the Capsule Operator is the self-provisioning management from the Tenant owner perspective. The Tenant owner does not need to interact with the Cluster Admin in order to complete his day-by-day duties. On the other side, the Cluster Admin has not to deal with multiple requests coming from multiple Tenant owners that pr

[2020-07-30 11:33] bsctl commented on #14
@prometherion we're testing the latest commit

[code]

The quota enforcing seems to work:
[code]

according to the annotation:
[code]

However, what's looking broken now is the update of the annotation: currently you can see 12 in the annotation but tenant has 10

[code]

and even if we scale down all the pods, the annotation is still reporting 12 pods.

By checking the logs on the capsule control

[2020-07-30 13:19] prometherion commented on #17
@bsctl since we're relying on OperatorSDK that uses `zap`, you can specify an additional _argument_ to the Capsule deployment using the following notation: `--zap-level={0...10}`.

I don't think we should reinvent the wheel, let's us the opinionated way without the need to pass additional arguments, so closing the issue.

[2020-07-30 13:20] prometherion commented on #14
Thanks for the report @bsctl! With the latest commit (3da1da1) I fixed the issue, going to close it via PR.

[2020-07-30 13:20] #14 closed

[2020-07-30 15:45] bsctl commented on #17
Agree 💯

However from the average kubernetes user point of view, we have to document it. Reopening and assigning to documentation.

[2020-07-31 08:50] #16 closed

[2020-07-31 19:13] bsctl opened #21 "Let the tenant owner to know the assigned Storage Classes"
# Describe the feature
Let the tenant owner (and other any tenant user) to know the list of Storage Classes available in the tenant. Currently, because of RBAC, the tenant owner cannot get the available storage classes. The suggested approach is to put a readonly  annotation in each namespace of the tenant. The annotation reports the list of Storage Classes assigned to the tenant. For example: `ca

[2020-07-31 19:17] bsctl opened #22 "Let the tenant owner to know the assigned Ingress Classes"
# Describe the feature
Let the tenant owner (and other any tenant user) to know the list of Ingress Classes available in the tenant. Currently, because of RBAC, the tenant owner cannot get the available Ingress classes. The suggested approach is to put a readonly annotation in each namespace of the tenant. The annotation reports the list of Ingress Classes assigned to the tenant. For example: `cap

[2020-08-03 06:37] prometherion commented on #22
This feature request sounds really good: working on it but first, I have to complete the #4: I should be able to commit some code before the end of the week, at last.

[2020-08-03 06:38] prometherion commented on #21
Same here, I can work on this: #4 got higher priority.

[2020-08-03 16:24] prometherion commented on #17
@bsctl do you think that reporting how to increase logs on [contributing.md](https://github.com/clastix/capsule/blob/aab0d9b6579b556fe52f6df340ecc1bdec02c480/contributing.md) is enough or should we add a new section?

If yes, wondering _where_ :sweat_smile:

[2020-08-03 20:04] prometherion opened #24 "NetworkPolicy pruning is deleting also Tenant ones"
# Bug description

If the Tenant owner is going to deploy manually some _NetworkPolicy_ resources on their namespaces and a reconciliation occurs, these are going to be deleted.

# How to reproduce

Given the following `np.yaml`:

[code]

1. `kubectl apply -f np.yaml`
2. reconcile the Tenant, restarting Capsule for example
3. `kubectl get networkpolicies.networking.k8s.io -w` and notice how it's d

[2020-08-03 20:06] prometherion commented on #24
The issue is [here](https://github.com/clastix/capsule/blob/aab0d9b6579b556fe52f6df340ecc1bdec02c480/pkg/controller/tenant/tenant_controller.go#L152-L155) and we need to provide a _requirement_ with a sort of _and_ operator:

[code]

[2020-08-03 20:58] bsctl commented on #24
@prometherion Good catch! Is this applicable to all other user defined resources in the tenant (eg. quota, limits, roles, ...)?

[2020-08-04 05:19] bsctl commented on #17
IMO a short note in the main README should be enough, just after the how to run section. Generally speaking, we need a review of the whole documentation.

[2020-08-04 05:26] bsctl opened #25 "Helm 3 chart"
A Helm 3 chart would be useful.

[2020-08-04 05:35] bsctl commented on #2
@prometherion we can implement this new feature without depending on Velero even if this looks like the most suitable solution in the open source space.

From Capsule operator point of view, we just need to put additional labels to the tenant leaving the cluster admin to give specific semantics to these labels, according to the implemented business logic.

[2020-08-04 05:44] prometherion commented on #25
I say it's a wonderful idea, moreover considering we could use GitHub Pages to distribute them: glad you self-assigned this :+1:

[2020-08-04 05:50] prometherion commented on #17
Absolutely true.

We could start considering to implement documentation using a static site (e.g.: Jekyll hosted with GitHub Pages) or the broadly adopted _Mkdocs_.

[2020-08-04 05:53] prometherion commented on #2
I'm not getting the point, here: please, can you try to elaborate a bit more? I'm really interested.

[2020-08-04 05:55] prometherion commented on #24
It is appliable only to `LimitRange`, `ResourceQuota`, and `NetworkPolicy` resources, although, from my perspective, the Tenant owner should not create further resources of the first two kinds: we're not blocking it but additional ones would be useless.

[2020-08-04 06:11] bsctl commented on #24
@prometherion in some cases (that we just do not imagine now), the Tenant owner can create additional `LimitRange`, `ResourceQuota`, and `NetworkPolicy` for a specific namespace and the Capsule operator should leave the Tenant owner to do it. Of course, the Cluster admin (and the Capsule operator acting on behalf of him) is not responsabile for the wrong logic implemented by the Tenant admin. IMO

[2020-08-04 06:29] prometherion commented on #24
It makes sens: we're going to address this issue once #4 is closed.

[2020-08-04 06:31] bsctl commented on #2
Just free thinking here ... The idea is to leave an additional section in the Tenant manifest where the Cluster admin can specify additional labels to apply to the namespaces in the tenant. Initially, there are no specific semantics assigned to these labels, they just will be assigned to the namespaces in the tenant. This can be useful to implement further features, giving a sort of _programming i

[2020-08-04 06:45] prometherion commented on #2
Feature proposal sounds legit, even if the `.spec.backups` field would be totally useless with this scenario.

I'm not saying that it would be wrong: Capsule should just be responsible to manage the Tenant abstraction dealing with the underlying Namespace resources, and probably this feature request should be closed although we're still lacking of feedbacks (and I'm eager of them).

Using Velero w

[2020-08-04 06:50] bsctl commented on #2
@prometherion sure we can keep the above feature request separated from this specific #2. Will open a new enhancement to address the above request and leave #2 only for backup.

[2020-08-04 12:30] prometherion opened #26 "Adding Owner and Age as additional printer columns"
# Describe the feature

An additional printer column reporting the Tenant owner name would be great.

# What would the new user story look like?

Implementation is really easy, just need to add the kubebuilder`printcolumn` annotation into the Tenant type.

Feel free to add a diagram if that helps explain things.

# Expected behavior

[code]

[2020-08-04 12:36] prometherion opened #27 "Namespace count additional printer column is empty when creating a new Tenant"
# Bug description

Not properly a bug, it's just something stylish: when creating a Tenant the additional printer column `NAMESPACE COUNT` is not reporting zero

[code]

Once the Tenant owner creates a Namespace and deletes it, the counter is successfully computed.

[code]

# How to reproduce

1. Create the Tenant
2. Get the Tenant from the CLI

# Expected behavior

After Tenant creation, `kubectl

[2020-08-04 13:21] prometherion opened #28 "Enable short name for Tenant"
# Describe the feature

We are lazy people, typing `kubectl get tenants` is too much hassle.

Would be great having `tnt` as shortname: `kubectl get tnt`

# What would the new user story look like?

1. Annotate the Tenant CRD with the Kubebuilder one (should be `shortName`)

# Expected behavior

Getting Tenant resources via `tnt` resource name using `kubectl` rather than typing `tenant{s}`

[2020-08-04 14:30] #4 closed

[2020-08-04 14:45] #24 closed

[2020-08-04 16:02] bsctl opened #31 "How to get rid of Capsule"
We need to document how to uninstall the Capsule Operator from the current setup and how to clean everything it installs: pods, web-hooks, roles, crds, ...

[2020-08-04 16:19] bsctl commented on #26
it would be useful to have the AGE field too

[code]

[2020-08-04 16:55] bsctl opened #32 "Tenant NetworkPolicies added by the tenant owner cannot be deleted nor patched"
# Bug description
Tenant NetworkPolicies added by the tenant owner cannot be deleted nor patched

`$ cat networkpolicy.yaml`

[code]

# How to reproduce

Steps to reproduce the behaviour:

1. Given additional network policies the tenant owner has in a namespace

[code]

2. the tenant gets deny when deleting or patching

[code]
# Expected behavior

The tenant owner can create, patch and delete addi

[2020-08-04 17:56] bsctl opened #33 "The tenant nodeSelector is not updated correctly"
# Bug description
When updating the tenant nodeSelector in the tenant manifest, the new selector is just appended in the tenant namespaces instead of substituted.

# How to reproduce

Steps to reproduce the behaviour:

1. Having a tenant manifest with a given node selector

[code]
2. as tenant owner, create a namespace

[code]
3. and check the namespace is correctly labeled

[code]

4. as cluster

[2020-08-04 18:05] prometherion commented on #33
Nice finding!

The reason of this resides on the missing full resync upon Tenant reconciliation, can be easily achieved.

[2020-08-04 18:09] prometherion commented on #32
Another nice finding

https://github.com/clastix/capsule/blob/ee0a238b7f80dcb492d8247d0664eef0ad6ed473/pkg/webhook/network_policies/validating.go#L66-L76

We need to fix this, during #4 I messed up this due to the refactoring.

[2020-08-04 18:12] prometherion commented on #31
Should be easy, let's work with an additional make recipe: just need to use `kubectl delete -f -`

https://github.com/clastix/capsule/blob/ee0a238b7f80dcb492d8247d0664eef0ad6ed473/Makefile#L49-L52

[2020-08-05 08:50] gabrilabs75 opened #34 "Simple implementation of control naming of namespaces"
# Describe the feature

We may need a simple implementation of control naming of namespaces.
Currently during creation of a new namespace by tenant-owner we receive an error message from k8s if the name of our selected namespace is already used by another tenant.

For example:

[code]

# What would the new user story look like?

1. Tenant owner creates a new _Namespace_ (eg. production like the ex

[2020-08-05 09:12] bsctl commented on #34
@gabrilabs75 thanks for submitting this request. A control on the naming convention may have sense since it is likely that different tenant owners want to call their namespaces "production", "test", and "development".

Another viable solution is just instruct Capsule to deny the namespace creation if the name is not in the form of "tenantname"-"namespace" leaving the tenant owner to implement the

[2020-08-05 09:54] #21 closed

[2020-08-05 09:54] #22 closed

[2020-08-05 10:00] #32 closed

[2020-08-05 10:06] #31 closed

[2020-08-05 10:17] prometherion commented on #33
That was wrong since we already implemented it

https://github.com/clastix/capsule/blob/0ff047ee10530fc03838376c3ac53d8af87419a6/controllers/tenant_controller.go#L512-L548

@bsctl I tried to replicate your issue but I wasn't able, keep in mind I'm using the HEAD `0ff047e` (the current `origin/master`).

[2020-08-05 10:21] prometherion commented on #34
I guess this should be the preferred implementation, maybe providing a simple boolean flag to the CLI as `--force-tenant-prefix`.

tl;dr; with `--force-tenant-prefix` as _true_ the validation webhook will ensure the desired pattern, otherwise, it will reject the request.

WDYT @gabrilabs75?

[2020-08-05 12:07] bsctl commented on #33
@prometherion  not able to reproduce once more ... let's to close it and in case we'll reopen. Thanks

[2020-08-05 12:07] #33 closed

[2020-08-05 12:24] prometherion commented on #26
It seems that adding additional printer columns is not reporting anymore the `AGE` default one: removing [these](https://github.com/clastix/capsule/blob/5d20d515a760e4698a707e3297d11416bc32c1b0/config/crd/bases/capsule.clastix.io_tenants.yaml#L11-L19) is behaving as expected.

[code]

Opened an issue on [`kubectl`](https://github.com/kubernetes/kubectl/issues/903) just to clarify this behavior, bu

[2020-08-05 14:36] bsctl commented on #26
@prometherion already noted this, it looks like you have to enforce in CRD

[code]

[2020-08-06 09:49] bsctl opened #38 "Align the docs to latest bug fixing and enhancements"
Review the docs in order to align them to new bug fixing and enhancements. Even if planning to host the documentation to `mkdocs` or `hugo`, here we are more focused on provide an updated simple getting started docs.

[2020-08-06 09:49] gabrilabs75 commented on #34
@prometherion  it seems to be perfect for our scope...
Thanx in advance!

[2020-08-06 11:36] #27 closed

[2020-08-06 11:43] #26 closed

[2020-08-06 13:46] bsctl opened #42 "Getting an error message from Capsule Operator about CA certificate validity"
# Bug description
Getting an error message from Capsule Operator about CA certificate validity:

`Error from server (InternalError): Internal error occurred: failed calling webhook "owner.namespace.capsule.clastix.io": Post https://capsule-webhook-service.capsule-system.svc:443/mutate-v1-namespace-owner-reference?timeout=30s: x509: certificate signed by unknown authority`

[2020-08-06 14:51] prometherion commented on #42
Yeah, it was expected to be already addressed by #7 by I guess we're facing some further weird issues.

Actually, Capsule is generating its own CA that could take up to some seconds: probably we just need to use the Kubernetes one provided by the Service Account token.

[2020-08-06 16:40] prometherion commented on #42
Using CSR from the OperatorSDK code is a bit tricky, need to evaluate if we can fix using our CA and lately with the Kubernetes one.

[2020-08-06 18:01] bsctl commented on #17
is this missing in more recent builds?

[2020-08-07 08:25] #34 closed

[2020-08-07 09:46] bsctl opened #46 "Control logs verbosity"
Moving to Operator SDK 0.19, the `--zap-logger` for controlling logs verbosity is no more available.

[2020-08-07 10:12] #28 closed

[2020-08-07 13:42] #46 closed

[2020-08-07 14:19] #42 closed

[2020-08-10 10:43] bsctl opened #49 "Tenant Resource Quota admission controller doesn't block resources creation"
# Bug description

Tenant Resource Quota admission controller doesn't block resources creation

# How to reproduce

As cluster admin:

[code]

A tenant owner:

[code]

check used quota at tenant level

[code]

scale up pods

[code]

and check quota:

[code]

# Expected behavior

Tenant Resource Quota admission controller should block resource creation crossing the set quota.

# Logs

Capsule contr

[2020-08-10 10:45] bsctl commented on #49
https://github.com/clastix/capsule/issues/14

[2020-08-10 12:27] prometherion commented on #49
I'm aware of this behavior and it's a viable trade-off, although not entirely satisfying.

I'm still trying to figure out how to apply these constraints without reinventing the wheel and ensuring the hard quota is absolutely honored.

Right now, Capsule is setting the Tenant quotas to each Namespace handled by it and watching for events: once the sum of the used resources across all the Namespace

[2020-08-11 06:49] bsctl opened #50 "Make configurable the Resource Quota enforcement at tenant level"
# Describe the feature
It would be useful to make configurable via CLI argument, eg. `--force-tenant-quota=true` the resource quota enforcement at tenant level. The default should be true and leave the cluster admin to disable the quota resource enforcement at tenant level.

# What would the new user story look like?
We would to address case where the cluster admin wants assign resources only at n

[2020-08-11 06:52] #38 closed

[2020-08-11 07:07] bsctl commented on #17
#48 update documents

[2020-08-11 07:07] #17 closed

[2020-08-11 07:29] bsctl opened #51 "Add an optional external admission controller to Capsule Operator"
# Describe the feature
Capsule implements its own set of Admission Controllers through the Dynamic Admission Controller, providing callbacks to add further validation or resource patching. Currently these admission controllers address only a fixed set of use [cases](https://github.com/clastix/capsule/blob/master/use_cases.md).

As long term evolution for this project we can evaluate to make the ad

[2020-08-11 11:31] bsctl commented on #5
@prometherion just started to address this issue. Following kubernetes [guidelines](https://kubernetes.io/docs/concepts/security/pod-security-standards/) we should assign the SA in the `capsule-system` namespace the RBAC to use a permissive PSP. This could be a _pre-requisite_ for example before to install Capsule in a PSP-enabled cluster.

[2020-08-11 15:13] bsctl opened #52 "Dedicated PodSecurityPolicy per Tenant"
# Describe the feature
It would be nice to let the cluster admin to set a dedicated Pod Security Policy (PSP) per tenant. This is likely to be a requirement in a multi-tenancy environment.

A PSP is defined at cluster scope. To assign the PSP to users/serviceaccounts in a tenant we can use RoleBindings for each namespace created in the tenant. The Capsule should enforce the creation of RoleBinding

[2020-08-11 15:57] prometherion commented on #50
Nice feature, but honestly I wouldn't go for a CLI argument: that would be a global option and enforced for any deployed Tenant.

Rather, would be great having this option at Tenant level, maybe as following:

[code]

`shared` could be a _boolean_ value: `true` would set a _ResourceQuota_ used and shared by all the Namespaces in the Tenant. The opposite (`false`) would set-up a _ResourceQuota_ per

[2020-08-11 16:02] prometherion commented on #51
I'm not entirely convinced by this feature proposal, since in the end would create a huge dependency on _OPA_.

Maybe would be worth providing a meta-example to get a clear view of the benefits of an _OPA_ integration, although it could mean adding further points of failures (_e.g. what happens if the OPA service is no reachable?_)

[2020-08-12 06:10] bsctl commented on #50
Do you mean:

* "at tenant level", i.e. same behaviour for all quotas belonging to same tenant, or
* "at quota level", i.e. different behaviour for different quotas of the same tenant?

From the snippet above, it looks you mean the latter.

IMHO, the first option is preferable (same behaviour for the same tenant) because the latter can be confusing for the final users since they do not access the

[2020-08-12 06:23] prometherion commented on #50
With the _Tenant level_ I was referring to make this flag configurable per instance, rather than globally.

The YAML snippet you suggested is good enough: just wondering if `sharedResources` is enough self-explanatory :thinking:

[2020-08-12 06:27] bsctl commented on #51
That's my biggest concern too.

The idea here (feasibility to be checked) is to embed OPA as Go library:

`import "github.com/open-policy-agent/opa/rego"`

so technically is a smooth dependancy.

Let's keep this proposal just as possible _long term evolution_ of the project depending on the feedbacks from the adopters.

IMHO main benefits are:

* programmable admission interface, so a new feature

[2020-08-12 15:08] prometherion opened #53 "Tenant without Limit Range or Network Policy resources is not able to reconciliate"
# Bug description

Actually, Capsule is not able to handle a Tenant with no Resource Quota or Limit Range resource due to the pruning funcion.
https://github.com/clastix/capsule/blob/7661bbb0ad770d8f9773e3c02aa76ac1b53a602d/controllers/tenant_controller.go#L126-L156

The issue is the `notIn` condition, since if keys are mandatory and with an empty list the requirement is using an empty string slic

[2020-08-12 15:16] #53 closed

[2020-08-14 06:14] bsctl opened #55 "Provide an endpoint for liveness and readiness probes"
# Describe the feature
As best practice, we should define readiness and liveness probes for any container providing a service and this is also true for capsule controller being a critical service.

Currently the capsule controller exposes only the web-hook port 9443 but this port is not suitable for probing:

[code]

# Expected behavior
We need a couple of endpoints for liveness and readiness prob

[2020-08-14 07:38] prometherion commented on #9
- [ ] Scaffold first e2e tests for basic functionalities
- [ ] Automate the e2e setup (`kind create cluster && make deploy`)
- [ ] Implement the CI action

[2020-08-14 08:50] prometherion commented on #55
Easy to take:

[code]

The given result is the following:

[code]

[2020-08-14 15:15] pierDipi opened #57 "Review RetryOnConflict usages"
# Bug description

In multiple places, there are `retry.RetryOnConflict` usages that are unnecessary or misused.

https://github.com/clastix/capsule/blob/ee469ce2e78f478c123478203746745478e4ae4b/controllers/tenant_controller.go#L566-L569

https://github.com/clastix/capsule/blob/a29db95ad3d04fce6664fd7c6693f935ac44b328/controllers/namespace_controller.go#L172-L181

For both the above `Update` calls

[2020-08-14 15:28] prometherion commented on #57
thanks for the issue @pierDipi :rocket:

Working on this with proper PR.

[2020-08-14 17:57] bsctl opened #59 "How to pronunce it"
How to pronunce "_capsule_"?
It should be pronounced as /ˈkæpsjuːl/ with a bit of french accent :)

[2020-08-15 07:53] prometherion commented on #59
![image](https://user-images.githubusercontent.com/9697646/90308118-01f20b80-dedd-11ea-8b5f-416e9cca7992.png)

What I really love from this pronounce is the presence of the *k*... That's a Kubernetes reference!

[2020-08-20 13:47] #55 closed

[2020-08-21 20:53] prometherion opened #63 "Ingress Class is not correctly allowed with Kubernetes 1.17"
# Bug description

It seems the e2e test suite is failing (spec `ingress_class_test.go`) when running on Kubernetes 1.17 with Ingress Class specified through `.spec.ingressClassName` field rather than annotation (API group: `ingresses.extensions.k8s.io/v1beta1`).

Although using an available Ingress Class as the Tenant specified, the webhook is returning always an errored response.

The issue appe

[2020-08-22 10:34] #63 closed, assigned to prometherion

[2020-08-22 10:37] prometherion opened #65 "e2e tests against multiple Kubernetes versions"
Right now, the Capsule e2e test suite is running only on Kubernetes 1.18: would be great to perform it over the latest available releases, also to discover eventually incompatibilities.

[2020-08-24 15:34] MaxFedotov opened #66 "Support for custom user group"
# Describe the feature

Hi guys, thank's a lot for a great tool for managing multi-tenant k8s :)

We are now trying to adopt it in our environment and found that right now it's impossible to use custom UserInfo.Group in webhooks so they apply only for specific users, as it's hardcoded as `capsulev1alpha1.GroupVersion.Group`. As we already have a dedicated AD group for k8s users, it will be good if

[2020-08-24 15:45] prometherion commented on #66
Thanks Max, honestly we were thinking about a feature proposal like this, so happy to get this! 🚀

As your PR pointed out, managing this through a CLI argument is the most elegant implementation, I'll check out the PR ASAP!

[2020-08-25 21:21] bsctl commented on #10
I think https://github.com/clastix/capsule/pull/48 resolves it.

[2020-08-25 21:21] #10 closed

[2020-08-25 21:40] bsctl opened #68 "Meet the multi-tenancy benchmarks requirements"
Pass the benchmarks test as specified by SIG multi-tenancy [benchmarks](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/benchmarks).

Target for Capsule should be the [L2](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/documentation/definitions.md#level-2) profile, being the [L3](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/benchmarks/documenta

[2020-08-26 07:05] prometherion commented on #68
Just saw [this](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/benchmarks#status) but pretty sure would be great to start thinking how to pass these checks.

Thanks for reporting this

[2020-08-26 08:34] prometherion opened #69 "Capsule should control at runtime the namespace:provisioner and namespace:deleter Cluster Role and CRB resources"
# Bug description

Found this via #67: although adding the CLI flag we have to changes also the bindings, otherwise, the Capsule user wouldn't be able to provision new namespaces or delete these.

# How to reproduce

N.R.

# Expected behavior

Once Capsule is running, the given resources should be updated or created at runtime according to the specified Capsule user group.

# Logs

N.R.

# Additio

[2020-08-27 16:46] MaxFedotov opened #70 "Support for Group as RoleBinding.Subject.Kind created by Capsule"
# Describe the feature

We always use groups for rbac, but right now Tenant Owner is always set to a `User`. So i would like to add flag `--use-groups-as-tenant-owner` , which will modify  `func (r *TenantReconciler) ownerRoleBinding(tenant *capsulev1alpha1.Tenant) function`, so
[code]
will be created with Kind:"Group"

[2020-08-27 18:11] bsctl commented on #70
Please see https://github.com/clastix/capsule/pull/71#issuecomment-682108460

[2020-08-30 15:49] MaxFedotov opened #72 "Support for protected-namespace-regexp option"
# Describe the feature

We had a concept of protected namespaces, e.g. we do not allow users to create namespaces ending on -system$ , as they had special monitoring and other rules, which are applied to such NS. So I would like to add additional flag `--protected-namespace-regexp`  and modify tenant_prefix  webhook, so will also reject creation of namespaces, which are covered by this regexp.

[2020-08-31 16:17] prometherion commented on #57
Outdated, closing.

[2020-08-31 16:17] #57 closed

[2020-09-01 10:15] #66 closed

[2020-09-01 10:15] #69 closed

[2020-09-01 14:47] prometherion opened #74 "CI is broken due to kustomize missing Namespace creation"
There's an odd behavior during the CI: `kustomize` doesn't create the expected Namespace (`capsule-system`).

[code]

[2020-09-01 17:12] #74 closed

[2020-09-02 10:43] #72 closed

[2020-09-02 16:25] MaxFedotov opened #76 "Capsule always assumes first found tenant as an owner for namespace"
Current implementation of owner_refrence webhook use following logic to set tenant for a namespace
https://github.com/clastix/capsule/blob/a99153cbe70432d7e21ad5a2610ba737b1ba27d3/pkg/webhook/owner_reference/patching.go#L84-L93
So basically we find all Tenants for a user\group who created a namespace, and select first one from it (and I think that this logic should be rewritten if future because i

[2020-09-02 17:45] bsctl commented on #25
here it is: https://github.com/clastix/capsule-helm-chart

[2020-09-02 17:45] #25 closed

[2020-09-02 17:48] bsctl commented on #5
PodSecurityPolicies for Capsule Operator can be enabled when installing Capsule with its helm chart https://github.com/clastix/capsule-helm-chart. It is documented into the chart.

[2020-09-02 17:48] #5 closed

[2020-09-04 07:15] bsctl opened #77 "The controller namespace is hard-coded"
# Bug description
The namespace of Capsule controller is hard-coded to `capsule-system`.

# How to reproduce
Use the Helm chart to deploy Capsule and specify a different namespace than `capsule-system`

`$ helm install capsule capsule-helm-chart --set force_tenant_prefix=false -n foo`

# Expected behavior
The capsule controlled should be deployed on the requested namespace

# Logs

# Additional co

[2020-09-04 07:30] bsctl opened #78 "Support for additional labels and annotations to be inherited by tenant namespaces"
# Describe the feature
The idea is to leave an additional section in the Tenant manifest where the Cluster admin can specify additional labels and/or annotations to apply to the namespaces belonging to the tenant. Initially, there are no specific semantics assigned to these labels, they just will be assigned to the namespaces in the tenant. This can be useful to the adopters of Capsule to implemen

[2020-09-04 07:42] bsctl opened #79 "Support for additional labels and annotations to be inherited by tenant services"
# Describe the feature
The idea is to leave an additional section in the Tenant manifest where the Cluster admin can specify additional labels and/or annotations to apply to the services created in the tenant. Initially, there are no specific semantics assigned to these labels, they just will be assigned to the services and endpoints in the tenant. This can be useful to the adopters of Capsule to

[2020-09-04 08:09] bsctl commented on #76
@MaxFedotov thanks for pointing on this.

The `--force-tenant-prefix` option has been introduced because of a customer requirement. However, this should not be the forced as default behaviour because forcing a naming convention, e.g. `tenant-namespace` sounds too much restrictive, so we decided to keep it as optional.

Generally speaking, we need to use a lookup algorithm to find the belonging ten

[2020-09-04 10:15] MaxFedotov commented on #79
@bsctl
I think this webhook should also support https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/

[2020-09-07 11:32] prometherion commented on #79
I guess we have to watch for Services managed by a Tenant and reconcile the requested labels: this is definitely a new Controller.

We can easily retrieve the Tenant from the Namespace using the indexer, so it should be easy to achieve.

[2020-09-07 13:09] #78 closed

[2020-09-08 07:22] prometherion opened #81 "Webhook handlers should work as piped middleware"
# Describe the feature

It appears we have to replicate or not for some webhook certain business logic.

As an example, we're always [checking if the user impacting the webhook is a Capsule user or not](https://github.com/clastix/capsule/blob/ee0261c069d073fd097dacd7acb59a22396c1b77/pkg/webhook/router.go#L59-L62) but this could be a blocker for future interactions and we should rely on a smart han

[2020-09-08 07:33] prometherion commented on #76
What we could assume here is to change the default behavior, let's write down some specs.

### A Tenant Owner owns just a single Tenant

All namespaces will be assigned to the single available Tenant, end of the story 👍🏻

### A Tenant Owner owns two or more Tenant

Actually, we're assigning the Namespace to the first Tenant available, and this behavior seems odd.
What we could do here is to perfor

[2020-09-08 10:55] MaxFedotov commented on #76
I don't know if it is a good idea to have different logic in case of user or group\sa tenant owner as it's a bit confusing from the end-user perspective.

As I understand, it's impossible to find out if a Tenant Owner is a User or Group, as it can be both, e.g. my username is m_fedotov@wargaming.net and I am a member of a group WGAdmins. I can have my own tenant, as a user. And my group can also h

[2020-09-08 11:02] prometherion commented on #76
What is concerning to me is the case when a User belongs to several Groups, meaning to iterate all over of these and we cannot assume to pick the first available occurrence, since the User could be assigned to several Groups that got several Tenant resources assigned.

The ServiceAccount case is pretty straightforward since I guess we're able to determinate that from the Admission Request as we wo

[2020-09-08 11:27] MaxFedotov commented on #76
I don't think so, as UserInfo struct looks like
[code]
and it's impossible to say if it User or SA

[2020-09-08 11:31] MaxFedotov commented on #76
And I think that SA couldn't be a tenant owner, as it is namespace scoped

[2020-09-08 11:47] prometherion commented on #76
Nice catch, you're right.

Let's abandon the idea of SA as Owner and focus just on a viable solution for Groups.

[2020-09-08 12:12] MaxFedotov commented on #76
@prometherion
what if we use this logic
[code]

[2020-09-08 12:14] bsctl commented on #76
@prometherion @MaxFedotov for my understanding here, we have some cases already addressed, eg. a User owns one or more Tenants. But other cases already not addressed, eg. a User is part of a Group and the its Group owns one or more Tenants.

For my understanding, the latter case is the most tricky as different combinations are possible. But these cases can be simplified if we assume alway `--enfor

[2020-09-09 07:47] prometherion commented on #52
@bsctl do we still need discussion or any priority to assign here?

[2020-09-09 07:57] prometherion commented on #76
We can use a regex validation at CRDs level, rather: should be easy to achieve.

[2020-09-09 08:39] MaxFedotov commented on #76
@prometherion
It was my first intention, but as we are using
[code]

and metav1.ObjectMeta is imported from `metav1 "k8s.io/apimachinery/pkg/apis/meta/v1"` you can't add kubebuilder comments with regexp validation for it (or you had to vendor and patch it)

[2020-09-09 08:45] prometherion commented on #76
Gosh, you're totally right 🤦🏻‍♂️

Let's see if we can find a workaround, otherwise we have to switch over a validating webhook for the Tenant resources.

[2020-09-09 11:33] #77 closed

[2020-09-09 11:33] #81 closed

[2020-09-09 11:44] bsctl commented on #52
Definitely a requirement for a strong multi tenancy environment. Also needed by #65. Anyway not a current request from our early adopters, so we can postpone to the next release.

[2020-09-10 09:56] #79 closed

[2020-09-10 13:10] MaxFedotov opened #85 "Webhook closures not working"
# Bug description

Closures not working in webhooks middleware

# How to reproduce

Steps to reproduce the behaviour:

build capsule from master, load it to kind
try to create namespace as cluster-admin
You will got following error
[code]

# Expected behavior

Namespace should be created, as kind cluster-admin is not a member of `capsule-user-group`

[2020-09-10 13:27] #85 closed

[2020-09-10 14:09] MaxFedotov commented on #76
#71 implements validating webhook and logic from https://github.com/clastix/capsule/issues/76#issuecomment-688826105

[2020-09-10 14:19] MaxFedotov opened #87 "Support for regular expressions in ingressClasses and storageClasses"
# Describe the feature

Right now for ingress\storage classes you need to pass an array of distinct values. In our env, when user orders a tenant in k8s cluster, he can specify if he wants dedicated ingress nodes and which ingress he wants (e.g. haproxy\nginx) and then we provision separate nodes with specified ingresses. We want to name these ingress classes using following naming convention: {te

[2020-09-10 14:19] MaxFedotov commented on #87
@prometherion, please assign to me :)

[2020-09-10 14:34] prometherion commented on #87
You asked for it, @MaxFedotov!

[2020-09-10 16:00] prometherion opened #88 "ClusterRole and ClusterRoleBinding names are not conform to Kubernetes naming requirements"
# Bug description

Not properly a bug, rather an error while linting the Helm charts.

# How to reproduce

Cloning the provisional [Helm Chart repository](https://github.com/clastix/capsule-helm-chart)
[code]

# Expected behavior

We should follow all best practices and naming convention.

# Logs

N.R.

# Additional context

N.R.

[2020-09-11 11:36] bsctl opened #90 "Which apiVersion to use for CRDs and WebhooksConfigurations?"
Noted the CRDs and WebhooksConfigurations are installed by `make deploy` script with `apiVersion: v1` and templates files have `apiVersion: v1beta1`. When installing with Helm, we install always with `apiVersion: v1` but this leads to some errors preventing the installation, see: https://github.com/clastix/capsule-helm-chart/issues/5 and https://github.com/clastix/capsule-helm-chart/issues/4.

[2020-09-11 13:44] prometherion commented on #76
So we can say this has been accomplished as expected, no more auto-selection of first Tenant in case of multiple ones?

[2020-09-11 13:45] prometherion commented on #90
Which Kubernetes version are you referring to? Tested on Kubernetes 1.18 and works like a charm.

[2020-09-11 13:57] bsctl commented on #90
Kubernetes 1.18.5.

https://github.com/clastix/capsule/blob/303fc4d69ca2c8d416422154d5e4b0f27c21ee8a/config/crd/bases/capsule.clastix.io_tenants.yaml#L3

Once installed with `make deploy` , we have:

[code]

So I assumed v1 in the Helm chart
https://github.com/clastix/capsule-helm-chart/blob/07a759cb1e38aa24ecc8a1a4b0c90a5be8c90230/crds/tenant-crd.yaml#L1

However, we get https://github.com/clasti

[2020-09-12 10:14] #88 closed

[2020-09-12 10:56] #76 closed

[2020-09-14 06:42] bsctl commented on #2
@prometherion should we close this? Since #80 we can add additional labels/annotations to namespaces belonging to a tenant. Assuming the backup solution will be able to operate per namespace, e.g. https://github.com/vmware-tanzu/velero/issues/18, this use case can be accomplished in that way.

[2020-09-14 06:51] bsctl commented on #3
@prometherion @gdurifw User Management in Capsule has been improved with the addition of `Kind: Group` as tenant owner, as per #71. Should we close this issue?

[2020-09-14 07:12] prometherion commented on #2
Yes, I would say we're good enough: in case, just need to open this back.

[2020-09-14 07:12] #2 closed

[2020-09-15 09:08] #87 closed

[2020-09-15 09:39] prometherion opened #93 "nil pointer dereference on Ingress webhook"
# Bug description

With some expected failed webhooks I'm getting a non-well formed failed webhook response.

# How to reproduce

1. Create a Tenant with no Ingress Class
2. Create a Tenant Namespace resource
3. Create an Ingress resource with no Ingress Class

# Expected behavior

No panic at all.

# Logs

[code]

# Additional context

- Capsule version: N.R.
- Kubernetes version:

[code]

[2020-09-15 09:54] #93 closed

[2020-09-15 12:03] bsctl opened #95 "Update documentation to reflect new implementations"
# Bug description
Update documentation to reflect new implementations

# How to reproduce
na

# Expected behavior
Documentations should be aligned with actual system behaviour

# Logs
na

# Additional context

- Capsule version: (`capsule --version`)
- Kubernetes version: (`kubectl version`)

[2020-09-16 10:54] prometherion opened #96 "Outdated Tenant example"
# Bug description

Cannot deploy the [Tenant example available](https://github.com/clastix/capsule/blob/303fc4d69ca2c8d416422154d5e4b0f27c21ee8a/config/samples/capsule_v1alpha1_tenant.yaml).

# How to reproduce

1. `make deploy`
2. `kubectl apply -f config/samples/capsule_v1alpha1_tenant.yaml`

# Expected behavior

The Tenant should be created without any issue.

# Logs

[code]

# Additional conte

[2020-09-16 18:50] #96 closed

[2020-09-16 18:57] bsctl opened #98 "Use controller library v0.4.0 with v1 CRDs support"
# Describe the feature
Use controller library v0.4.0 with v1 CRDs support

# What would the new user story look like?

# Expected behavior

Have Tenant CRD in v1

[2020-09-16 18:59] bsctl commented on #98
Assigning to @MaxFedotov as per your request. https://github.com/clastix/capsule-helm-chart/pull/11#discussion_r489655382

[2020-09-17 09:58] prometherion commented on #98
What's the reason behind this requirement?

[2020-09-17 10:09] MaxFedotov commented on #90
There are some problems with updating to `controller-gen.kubebuilder.io/version: v0.4.0` and `apiVersion: apiextensions.k8s.io/v1`/`admissionregistration.k8s.io/v1`

So the thing is following:
* controller-gen is used to generate crd\deep-copy methods. And it supports `admission.k8s.io/v1`/`admissionregistration.k8s.io/v1`
* But, controller-runtime, which provides an API for writing webhooks, stil

[2020-09-17 10:09] MaxFedotov commented on #98
@bsctl please see https://github.com/clastix/capsule/issues/90#issuecomment-694134836
Let's postpone this

[2020-09-17 13:22] bsctl commented on #98
@MaxFedotov ok

[2020-09-17 13:23] bsctl commented on #90
@prometherion Close in favour of #98

[2020-09-17 13:23] #90 closed

[2020-09-22 06:56] jnsrikanth opened #99 "IngressClass for Istio Ingress and Istio Load Balancer and or Nginx"
# Bug description

I wanted to know what kind of support do you have for Istio Ingress controllers, Istio Load Balancer, Istio Gateway, and even Nginx Load Balancer for incoming traffic into the tenant space?

# How to reproduce

Steps to reproduce the behavior:

1. Provide the Capsule Tenant YAML definitions
2. Provide all managed Kubernetes resources

# Expected behavior

A clear and concise des

[2020-09-22 06:56] #99 closed

[2020-09-23 08:17] prometherion opened #101 "Upon removal, ClusterRole and ClusterRoleBinding resources are not cleaned up"
# Bug description

After uninstalling Capsule (`make remove`) the following resources are still there:

[code]

# How to reproduce

1. Install Capsule
2. Execute the said commands

# Expected behavior

After removal, the resources handled by the RBAC Manager should be removed. This is affecting also the Helm chart installation.

# Logs

N.R.

# Additional context

- Capsule version: `0.0.1`
- Kube

[2020-09-23 08:40] #101 closed

[2020-09-26 13:37] bsctl commented on #18
We should have addressed this problem with the [`ns-filter`](https://github.com/clastix/capsule-ns-filter) tool. @prometherion Can we close this issue?

[2020-09-27 06:18] prometherion commented on #18
We can close it once opened the said repo :)

[2020-10-03 13:22] AdheipSingh opened #103 "How can Owner track the list of namespaces created"
# Bug description

- I deployed capsule with 0.0.1 tag, and created alice user using the hack script.
- Deployed tenant using the sample config provided
- As per sample tenant an owner ( alice ) can create upto 3 namespaces.
- What my query is how can alice track how many namespaces she has created or how can alice know what all namespaces she is responsible for ?

# How to reproduce
- Basically w

[2020-10-03 13:26] prometherion commented on #103
Thanks for the bug report, really appreciated!

We're going to provide an additional utility that will allow Tenant Owner to list Namespaces created, without any additional RBAC at cluster scope and without any additional kubectl plugin or additional CRD

This project will be released next week, going to provide you the link to it!

[2020-10-05 19:01] prometherion commented on #103
As promised, [`capsule-ns-filter`](https://github.com/clastix/capsule-ns-filter) is a simple Kuberentes API decorator that empowers Tenant owner capabilities to list their namespaces without the need of additional RBAC! 🚀

Closing this issue, any further inquires should be opened on that repository.

[2020-10-05 19:01] #103 closed

[2020-10-05 19:02] prometherion commented on #18
Closing, `capsule-ns-filter` was born! ❤️

[2020-10-05 19:02] #18 closed

[2020-10-05 19:03] #59 closed

[2020-10-09 07:57] gdurifw commented on #3
@prometherion @bsctl

It's perfect! yes we can close the issue. Thank you so much for your support.

[2020-10-09 07:57] #3 closed

[2020-10-14 12:41] bsctl opened #105 "Storage Class policy is not applied to Persistent Volume Claims generated from StatefulSets"
# Bug description
Storage Class policy is not applied to Persistent Volume Claims generated from StatefulSets. Only PVCs directly created by the user are subject to the policy. PVCs created from a StetefulSet template are not subject to the Storage Class policy defined at tenant level.

# How to reproduce
As cluster admin, create a tenant with a StorageClass policy.
Login as tenant owner and:

- c

[2020-10-14 18:27] bsctl opened #106 "Provide a more meaningful error message when `--force-tenant-prefix` is used and the validation webhook rejects the request"
# Bug description
Provide a more meaningful error message when `--force-tenant-prefix` is used and the validation webhook rejects the request.

# How to reproduce
1. Start capsule with `--force-tenant-prefix` option
2. Create a tenant
3. Login as tenant owner
4. Create a namespace without the tenant prefix: the validation webook denies and returns a generic message "`admission webhook "owner.names

[2020-10-14 18:40] bsctl opened #107 "Provide a more meaningful error message when not admitted Storage/Ingress Classes are used"
# Bug description
Provide a more meaningful error message when not admitted Storage/Ingress Classes are used.

# How to reproduce
1. Start capsule
2. Create a tenant with Storage/Ingress admitted classes
3. Login as tenant owner
4. Create an ingress/persistentvolumeclaim with a Ingress/Storage class not admitted: the validation webook denies and returns a generic message "`admission webhook "ingre

[2020-10-17 08:01] prometherion commented on #105
Nice catch and this can be applied to any other Service Account, so applies also to Ingress Class.

We have to make the webhook logic more generalist and not relying just on the user ownership, got PR ready for this.

[2020-10-17 12:40] #105 closed

[2020-10-20 08:12] prometherion opened #109 "Ingress allowed class should handle also networking.k8s.io/v1"
# Describe the feature

With Kubernetes 1.19 Ingress went GA as versioned API group `networking.k8s.io/v1`.

Actually (0.0.1), Capsule is just supporting the `v1beta1` version, both for `extensions` and `networking.k8s.io`, too.

https://github.com/clastix/capsule/blob/b0310cd42f635c56c86a601a48e7404d5a7935f1/pkg/webhook/ingress/types.go#L20-L21

# What would the new user story look like?

1. As a

[2020-10-23 19:08] prometherion commented on #65
Along with this, we have also to refactor a little bit the tests, especially for _Ingress_ resources: `extensions` API group will be deprecated, so `ingress_class_test.go` must detect the running K8s version and test each kind according to the version of the underlying KinD cluster.

[2020-10-23 19:19] #109 closed

[2020-10-24 18:01] bsctl opened #112 "Leave the tenant owners to handle namespaced CRDs in their own namespaces"
# Describe the feature
Leave the tenant owner appropriate RBAC privileges to handle namespaced CRDs in the owned namespaces. Currently, we assign the [pre-defined](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles) `admin` ClusterRole to the tenant owner, limited to its namespaces only.

However, this role prevents the tenant owner to handle, e.g. create/get/list/patc

[2020-10-29 08:39] #65 closed

[2020-10-29 21:46] d-m opened #113 "Tenant names with dashes are denied by admission webhook"
# Bug description

Tenant names with dashes fail admission we hook with "Tenant name has forbidden characters." Do dashes cause an issue or is this solely due to the regex used?

# How to reproduce

Steps to reproduce the behavior:

1. Attempt to creat a Tenant resource with name "test-tenant"

# Expected behavior

A tenant with the name "test-tenant" is created.

# Logs

[code]

[2020-10-29 21:55] prometherion commented on #113
It seems we have a regex, there:

https://github.com/clastix/capsule/blob/ee6e3aa0df79ada668d68f3a174eb09ae2617bc5/pkg/webhook/tenant/validating.go#L67-L70

I recall a discussion with @MaxFedotov that implemented that, also according to `git blame`, but honestly I don't recall what's the downside of having dashes on Tenant name. Pretty sure, the Tenant name is used across referenced resources to a

[2020-10-30 07:54] prometherion opened #114 "Document that Capsule runs on Kubernetes >= 1.16"
# Describe the feature

Not properly a feature but rather a reminder on the doc update since we're not mentioning the minimum Kubernetes release we're supporting.

Implementing #65 I discovered that we're using various resources versions that are not available on previous releases, so better to document it.

# What would the new user story look like?

Not required.

# Expected behavior

Not requir

[2020-10-30 07:58] prometherion commented on #112
It makes sense to me, what we could do here is to don't bump up the API Version since we're adding a feature that is not breaking change.

I would suggest the following spec, WDYT?

Just a single remark about the spec field name: `additionalAuthzRules` could sound involved in authentication, so what about to use instead `aggregatedClusterRoles`? So we can document it using [the provided Kubernetes

[2020-10-30 09:30] MaxFedotov commented on #113
Hi,
this was related to https://github.com/clastix/capsule/issues/76#issuecomment-688826105
Without this restrictions, we are unable to distinguish namespace name from tenant name

[2020-10-30 09:40] MaxFedotov commented on #112
Hi guys,
and why don't you want to use
[code]
in CRD clusterRoles?
this would add permissions for all tenant users

[2020-10-30 10:09] bsctl commented on #112
@MaxFedotov this is an option and currently our workaround too :)

However, consider we would give the ability to install custom resources by tenant according to their business profile. Instead, by adding an `aggregatedClusterRoles` to the single tenant we can have a more fine control on the tenant behaviour. No breaking changes to the APIs, just an additional control.

[2020-10-30 11:25] MaxFedotov commented on #112
@bsctl Understood :) But then to keep it backward compatible, it should allow everything if nothing is specified?

[2020-10-30 11:54] prometherion commented on #112
I would say no, just the Namespaces resources would be manageable due to the Capsule RoleBinding.

[2020-10-30 13:38] d-m commented on #113
Ah I see. This may cause some issues for my use case. I'm trying to map Tenant resources to some exists groups I have, but some of these groups have dashes. I'd like to keep them if possible so that the namespace prefixes make sense to the users, since they're familiar with the group names they're in.

Unfortunately, I can't drop the dashes for the Tenant name since I sometimes have other groups t

[2020-10-30 18:16] MaxFedotov opened #115 "Endpoints are not created for services with selectors if tenants servicesMetadata is specified"
# Bug description

Enpoints are not created if `servicesMetadata.additionalLabels` or `servicesMetadata.additionalLabels` are used for tenant and service is created with selector (for headless services everything is OK)

# How to reproduce

Create new tenant with:
[code]
Create service with selector:
[code]

service will be created, but endpoints not

# Expected behavior

endpoints should be creat

[2020-10-30 19:19] bsctl opened #117 "Question: duplicated nested loops in the code"
We're looking at #106 and noted a couple of nested loops we're not understanding:
https://github.com/clastix/capsule/blob/ee6e3aa0df79ada668d68f3a174eb09ae2617bc5/pkg/webhook/tenant_prefix/patching.go#L87-L102

What's the purpose of them? It looks the desired condition of #106 is already addresses by `return admission.Denied("The namespace doesn't match the tenant prefix, expected " + e) `

but it

[2020-10-31 08:34] prometherion commented on #117
I would say it's a bug, let me test the hotfix for this, although is not critical: it's just a matter to don't repeat an already performed task.

[2020-10-31 08:36] prometherion commented on #113
I think we can try to make an effort and solve this problem from the upside-down, rather.

I just opened a PR and would be nice having feedback from @MaxFedotov since I guess we can easily implement it when test suite is green! :)

[2020-10-31 08:43] prometherion commented on #107
:wave: any updates on this? May I help with the implementation?

[2020-10-31 09:22] prometherion opened #120 "Refactoring e2e test suite"
It appears, from time to time, we got flaky tests as happened [here](https://github.com/clastix/capsule/pull/118/checks?check_run_id=1335492495): in this case, is not definitely an issue of an underlying Capsule error, but rather the respawn of the Capsule pod not so quick to deal with the args changes.

My suggestion is to use the `Eventually` helper also for the resource creations inside the `Ju

[2020-10-31 11:50] #117 closed

[2020-10-31 12:10] #115 closed

[2020-10-31 18:43] prometherion opened #122 "Capsule configuration via a CRDs"
With Capsule growing and getting more features, probably we should start thinking about providing an effective way for iterating with Capsule options rather than through CLI flags.

Ingress Controller moved toward a CRDs thanks to Ingress Class (especially, the `.spec.parameters` key as a typed local object reference).

Although this would be nice and cool, wondering if we really need a CRDs: Caps

[2020-10-31 18:43] #113 closed

[2020-10-31 18:45] prometherion commented on #113
Good news @d-m: with the latest contributions Capsule now accepts also Tenant names with dashes as DNS RFC-1123 🎉

Please, give it a try building Capsule from `master` and feel free to open back this issue in the case is not working as expected.

[2020-11-01 13:24] bsctl opened #123 "Assign a namespace to the tenant from the tenant prefix used in the namespace"
# Describe the feature
When `--force-tenant-prefix` is set, multiple tenants are assigned to the same owner, and the user creates a new namespace, capsule should infer the tenant to assign from the tenant prefix used in the namespace. Before the recent rework introduced by #118, this was the behaviour.

Currently, when multiple tenants are assigned to the same owner, the user must specify the tena

[2020-11-01 14:01] MaxFedotov commented on #123
Hi @bsctl, let me try to explain why we had to introduce such a design.
According to the latest issues, users asked about the support of tenants, whose names had dashes.
That introduces the following problem - let's assume that the user creates a namespace, with a name of `teamalpha-production-mycoolproject-web` and we had `--force-tenant-prefix` enabled.
What we do next - we take this user and hi

[2020-11-01 15:13] bsctl commented on #123
@MaxFedotov thanks for the explanation

This is my expectation.

What if he wants it to be assigned to teamalpha tenant?

He has to specify by using the label in that case. Complete match wins.

[2020-11-01 18:13] bsctl commented on #123
What if he wants it to be assigned to `teamalpha` tenant?

It's a bit unusual request .. imho.
A more common expectation is to assign the namespace `teamalpha-production-mycoolproject-web` to the tenant `teamalpha-production-mycoolproject`.

As for example, in another domain, if you have a reverse proxy with following routes:

A. http://teamalpha
B. http://teamalpha/production
C. http://teamalpha/

[2020-11-01 19:21] MaxFedotov commented on #123
@prometherion @bsctl what do you think about using https://github.com/schollz/closestmatch library in order to find most suitable tenant for a namespace?

[2020-11-02 09:00] prometherion commented on #123
I have to say that in the beginning, I was ok with the case of a user, having multiple Tenants, had to put a label to Namespace in order to assign to the right Tenant when Capsule was running with the force Tenantt prefix flag.

But I missed the point that the underlying reason for this feature is to don't let users do something like this:

[code]

However, the remarks reported by @MaxFedotov are

[2020-11-02 09:39] bsctl commented on #123
+1

we can ask the user to specify a label and this makes sense when the user has multiple tenants to choice and when the `--force-tenant-prefix` is set to `FALSE`.

However, when `--force-tenant-prefix` is set to `TRUE`, we already provided the user a criteria to indicate the tenant. Requiring to specify it again with a label, feels like a poor UX. It recall me a sort of government bureaucracy :)

[2020-11-02 10:57] ams0 opened #124 "clastix/capsule:latest tag not found"
# Bug description

The `make deploy` quickstart creates a capsule-controller-manager pod with image pointing to `quay.io/clastix/capsule:latest` which doesn't exist.

# How to reproduce

`make deploy` in the root of this git repo checkout (master)

# Expected behavior

Pod container image either pointing to `quay.io/clastix/capsule:v0.0.1` or tag the image on quay with `latest`

# Logs

# Addition

[2020-11-02 11:05] prometherion commented on #124
You're totally right and it's my bias: `latest` is an anti-pattern and is just used during the development phase but we have to consider also bare installation from source code, so thanks for reporting this!

[2020-11-02 11:25] ams0 commented on #124
Even better would be to mention and present the helm chart installation method in the readme in this repo; I found out about the helm chart after I pulled a lot of go dependencies:). Might consider moving the chart here too under /charts

P.S. hello Dario!

—-
Live long and prosper
________________________________
From: Dario Tranchitella <notifications@github.com>
Sent: Monday, November 2, 2020 1

[2020-11-02 11:28] MaxFedotov commented on #123
@prometherion There won't be 100% match for tenant, as the namespace name contains additional words, e.g.
[code]
and result is
[code]

So event in this situation it's 72% match

[2020-11-02 12:26] bsctl opened #125 "Mention the installation via Helm chart in the README"
Mention the installation via Helm chart in the README file.

[2020-11-02 13:42] #125 closed

[2020-11-02 13:44] bsctl commented on #124
@ams0 Thanks Alessandro for reporting this. Just updated the README by mentioning the Helm installation.

[2020-11-02 15:35] #124 closed

[2020-11-02 15:37] prometherion commented on #124
Yes, it's something we're sorting out but we were too tightened on time with some features and bugs but thanks for adding this point, we'll plan to deliver it ASAP!

[2020-11-02 21:58] bsctl commented on #123
@MaxFedotov it might seem odd .. but why not just find the first match of the namespace in the sorted list of tenants? If no match, just return an error message saying "_Not able to find a tenant to match and ... bla bla bla_"

[2020-11-03 09:41] bsctl commented on #123
@MaxFedotov not sure if we really need for fuzzy-logic here. May be a more traditional matching logic is enough. Have you looked at some router/proxy out there?

B. http://teamalpha/production
C. http://teamalpha/production/mycoolproject

I feel they already solved our same problem with slashes `/` instead of dashes `-`

[2020-11-03 14:11] prometherion commented on #123
I'm missing the point here, mates: why are we talking about URL and slashes? Namespace names adhere to DNS RFC-1123 and that means no special characters, except for the dash (`-`).

Regarding the case reported by @MaxFedotov, when creating a Namespace named `teamalpha-production-mycoolproject-web` with the following Tenant list

I'm expecting to get it assigned to `teamalpha-production-mycoolproje

[2020-11-03 19:39] bsctl commented on #106
@prometherion trying to understand the code base, we see two different mutating web hooks trying to enforce the `--force-tenant-prefix` policy:

- https://github.com/clastix/capsule/blob/0ce901f8dd5b6559c9dcca7036a5efa6db10f50f/pkg/webhook/tenant_prefix/patching.go#L70

- https://github.com/clastix/capsule/blob/0ce901f8dd5b6559c9dcca7036a5efa6db10f50f/pkg/webhook/owner_reference/patching.go#L71

N

[2020-11-04 12:01] bsctl commented on #106
We found two different behaviours trying to create a namespace (as tenant owner) that is not compliant the `--force-tenant-prefix` policy

First case:
[code]
in the case above, the namespace `foo` is evaluated as tenant by admission webhook `owner.namespace.capsule.clastix.io`

Second case:

[code]

in the latter case, we have the expected behaviour

[2020-11-04 12:03] bsctl commented on #106
Consider also #123

[2020-11-04 15:36] d-m opened #128 "capsule-mutating-webhook-configuration prevents new masters from becoming ready"
# Bug description

When rotating my cluster master ASG, the capsule-mutating-webhook-configuration seemed to prevent new masters from becoming `Ready` when running `kubectl get nodes`. The master appeared functional otherwise. There were no logs in the capsule pods, however there were errors in the kube-apiserver.log, described below. Once I deleted capsule-mutating-webhook-configuration the kube-

[2020-11-04 16:17] MaxFedotov commented on #128
Hello @d-m.

You need to set mutatingWebhooksTimeoutSeconds parameter in chart values to 10 seconds.

Btw, @bsctl @prometherion let's make 10 seconds as a default value? That's seems like the same issue, that i've got in https://github.com/clastix/capsule-helm-chart/issues/14

[2020-11-04 16:25] prometherion commented on #128
@MaxFedotov honestly, I would start considering to handle the Service metadata through reconciliation loop, rather than webhook.

Do you recall which was the blocker?

[2020-11-05 09:18] MaxFedotov commented on #128
@prometherion according to https://github.com/clastix/capsule/pull/84#pullrequestreview-485207090 we decided to implement it later. Seems like this time had come :)

[2020-11-05 09:27] MaxFedotov commented on #128
@prometherion shall we create a new issue for moving services from webhook to controller or let's keep this work in this one?

[2020-11-05 10:20] #123 closed

[2020-11-05 15:12] bsctl commented on #106
Closed as it works as expected after rework for #129

[2020-11-05 15:12] #106 closed

[2020-11-08 15:11] prometherion commented on #128
@MaxFedotov please, use this issue as the tracking one.

[2020-11-09 08:41] gdurifw commented on #52
@bsctl , @prometherion  i would like to provide to our customers a specific PSP for own Tenant in a K8s Cluster with Capsule and i think that this feature would be perfect for our purpose.
Is there already a schedule for the implementation of this feature? How can I contribute?

[2020-11-09 09:13] prometherion commented on #52
Thanks for your feedback @gdurifw, really appreciated: having feedbacks and offering help for feature requests is always good!

This specific one looks fuzzy to me, right now: we all know that PSPs aren't yet a graduated `v1` API but it seems they're going to be deprecated, [although starting from the community](https://github.com/Azure/AKS/issues/968).

Rather than this, I think we should start s

[2020-11-09 19:20] bsctl commented on #52
@prometherion as #51 is a long term evolution, we should consider #52 as short term solution to address this requirement. Although PSP is going to be deprecated in favor of OPA, it is still widely used. And deprecation seems only in Azure AKS.

[2020-11-10 16:43] #128 closed

[2020-11-10 16:45] MaxFedotov commented on #128
Hi @d-m,

We refactored code responsible for dealing with service labels\annotations and moved it from webhook to controller. Now this problem should gone

[2020-11-10 19:02] prometherion opened #131 "The NetworkPolicy webhook should avoid using the utils.InCapsuleGroup middleware"
Just a minor improvement, as we achieved with #108.

[2020-11-10 21:10] d-m commented on #128
@MaxFedotov thanks! I also shortened the timeout which has worked in the meantime.

[2020-11-10 21:24] d-m commented on #52
This will be useful for me as well. If tying this closely to PodSecurityPolicy resources is a concern due to its potential deprecation, would it make more sense to look at this as a generic RoleBinding feature?

For example,

instead of

[code]

it could be

[code]

This would also be consistent with with the pattern established by the `networkPolicies`, `limitRanges`, and `resourceQuotas` Tenant

[2020-11-11 09:05] MaxFedotov commented on #128
@d-m oh, forgot to mention. This fix is available in https://github.com/clastix/capsule/releases/tag/v0.0.2

[2020-11-11 09:41] emanuelr93 opened #132 "Deny specific image tag in the Tenant"
# Describe the feature

A Tenant could just use a specific regex to validate image tag. The rule can be setted in Deny or Allowed mode.
This can be useful for example in Production Tenant.
For example:

- I want to disallow the usage of latest image in Production
- I want to allow only image with tag that use Semantic Version in production (eg. X.Y.Z)

Another use case would be to only allow the u

[2020-11-11 11:25] prometherion commented on #132
Definitely, an interesting feature proposal.

I got just a single remark, here: this seems more a business logic that should be handled at CD level.
Although that could be implemented in the Tenant definition, I would say that additional custom checks could be added here.

What we're planning is to provide a [programmable admission webhooks spec](https://github.com/clastix/capsule/issues/51) using

[2020-11-11 12:03] bsctl commented on #132
I would say leave it as part of #51.

[2020-11-13 16:11] prometherion commented on #52
thanks for your point @d-m: I'm thinking of a similar approach, like the following:

[code]

The idea is to use the _key_ as the value of the Cluster Role we'd like to apply all over the Tenant's Namespaces, giving the change to personalize the subjects.

I think we can avoid the `roleRef` since we're expecting to assign always a ClusterRole for the said API Group (`rbac.authorization.k8s.io`).

@

[2020-11-13 18:10] prometherion commented on #132
LGTM, let's close as you said but I'd like to thanks @emanuelr93 for your feature request: we're going to address when implementing natively OPA/Gatekeeper and I guess this validation can be a valid use case.

[2020-11-13 18:10] #132 closed

[2020-11-16 07:54] bsctl commented on #122
@prometherion not sure to understand the feature request. Could you please articulate with a bit of more details?

[2020-11-16 08:20] bsctl opened #134 "The docker image is built with wrong tag version"
# Bug description
When building from master branch with `make docker-build` the produced artefact is labeled as:

[code]

Currently the image should be tagged as `latest`

# How to reproduce

[code]

# Expected behavior
Tag image tagged with latest tag.

# Logs

If applicable, please provide logs of `capsule`.

In a standard stand-alone installation of Capsule,
you'd get this by running `kubectl -

[2020-11-16 08:35] bsctl commented on #134
@prometherion not really convinced by #127. Building from master branch should tag the image as `latest` instead of the current release. We can have the master branch ahead of the current release, eg. `v0.0.2`.  In such case, the image built from master branch is different from the image stored on the public repo `quay.io/clastix/capsule`.

[2020-11-16 08:49] prometherion commented on #134
`latest` is an anti-pattern and should be avoided at all since it's mutable.

Building from `master` should produce a build with the upcoming patch release with a suffix of the commit SHA, but that's something out of our control, right now: if an end-user would like to use `latest` free to do that, but I'd like to strongly discourage this.

[2020-11-16 08:59] bsctl commented on #134
This is not the case, imho. The image built from master branch is actually the `latest` artefact available for the users. It is **actually different** from the official release stored on the public repo. Having both the images (one from repo and another one from make build) labeled with the same tag will confuse the users.

Do you mean something like `v0.0.2-xyz`?

[2020-11-16 12:51] #52 closed

[2020-11-16 12:51] #112 closed

[2020-11-17 15:25] bsctl opened #137 "Add the node pool label as additionalPrinterColumns"
# Describe the feature
It would be nice to have the node pool label of a Tenant as Additional Printer Column in the output of `kubectl get tenants`

# What would the new user story look like?

Having a tenant oil with a given node selector

[code]

you get

[code]

# Expected behavior
see above

[2020-11-17 15:58] #137 closed

[2020-11-17 17:53] prometherion commented on #122
Let's take the example of the tenant prefix enforcement: right now, you have to edit the Capsule `args` Pod specification, adding the flag `--force-tenant-prefix`.

Rather than using CLI flags, we could use an additional CRD manageable by Cluster Administrator, something as:
[code]

What I like of this approach is the chance to edit the Capsule behavior at runtime, without the need of restarting t

[2020-11-17 18:00] prometherion opened #139 "Changing the logs ts field from timestamp to date"
Let's evaluate to use the `ts` field of Capsule logs as a real date time rather than a timestamp.

@MaxFedotov since you've been the [issuer](https://github.com/clastix/capsule/pull/135#issuecomment-728828509), do you have any suggestion?

We have to evaluate if we can hack the zap logger.

[2020-11-17 18:20] #134 closed

[2020-11-17 22:44] #107 closed

[2020-11-18 16:00] d-m opened #143 "Capsule pods occasionally become unresponsive"
# Bug description

Occasionally the Capsule pods will become unresponsive which prevents the creation of resources due to the web hook configurations. Deleting the Capsule pods and allowing the deployment to recreate them fixes the issue.

Our cluster does not have any Tenant resources deployed.

# How to reproduce

Unfortunately it seems difficult to reproduce this issue. I generally find it when

[2020-11-19 06:58] #139 closed

[2020-11-19 07:04] prometherion commented on #143
@d-m first of all, thanks for the detailed bug report: really appreciated, we're looking forward to fixing this issue and making Capsule more robust!

I'd like to ask you if you can increase the verbosity of the logs using the `--zap-devel` flag that will enable the development logging feature, providing further detailed stack traces.

What's weird is that the Pod is not being killed by the readin

[2020-11-19 14:29] d-m commented on #143
<img width="1389" alt="Screen Shot 2020-11-19 at 9 23 56 AM" src="https://user-images.githubusercontent.com/2354832/99678792-30860200-2a49-11eb-877d-f652fde21f30.png">

Here's a screenshot of the dashboard from where we recreated the pods. I'll increase the log level and see what we find. Capsule has been pretty stable for the last 24 hours after recreating the pods, though.

[2020-11-19 17:24] prometherion commented on #143
Thanks for sharing, everything seems ok at first glance.

Please, next time try to ping the `/readyz` and `/healthz` endpoint probes rather than the webhook TLS terminated port: we're expecting also a detailed report on logs about what's not working there.

[2020-11-19 17:31] d-m commented on #143
Sounds good. I enabled the `--zap-devel` flag and will keep an eye on it and check those probes as well if it happens again. I should note that we have four clusters provisioned identically and noticed this issue on each one. Capsule has been stable on each cluster after restarting the pods yesterday.

[2020-11-23 23:40] #1 closed

[2020-11-27 10:04] bsctl opened #145 "Changing required fields for Tenant resource"
I would review the required fields in Tenant resource. Currently (v0.0.3), in `capsule.clastix.io/v1alpha1`, we have:

|field                      |required   |webhook    |controller |
|---------------------------|-----------|-----------|-----------|
|owner                      |*          |*          |           |
|nodeSelector               |           |           |*          |
|namespaceQuota

[2020-11-27 10:25] prometherion commented on #145
I couldn't agree more and, honestly, you got me in before: as you probably noticed, for some Tenant specification fields we're using the `,omitempty` tags: this should allow us to avoid putting empty values during test cases as well, and, last but not least, increasing the Capsule flexibility.

Definitely, LGTM but eager to hear others' opinions.

[2020-11-28 15:26] prometherion commented on #143
Hey @d-m, any news about this issue?

[2020-11-28 16:00] d-m commented on #143
No it seems to have been stable after rebooting. Feel free to close and now that I have debug logs enabled I'll reply with more info if it happens again.

[2020-11-28 16:45] #143 closed

[2020-11-29 07:55] bsctl commented on #145
@prometherion I would raise the priority of this issue. By rewriting the documentation with an "user stories" approach, I feel the Capsule user's experience will be improved by limiting the required field only to the ownership. This because, the user approaching Capsule, can easily become comfortable with it by just trying one feature at time.

[2020-11-29 09:12] prometherion commented on #145
There's still a blocker for 0.1.0 releae and it's #49.

That issue is quite tricky and haven't figured yet a way to solve it, so we could postpone it to `0.2.0` or any next patch version since it's just an enhancement.

[2020-11-29 09:51] prometherion commented on #145
I just realized we could have another blocker, `namespaceQuota`.

How should Capsule behave when this limit is not declared? Right now, we got also the additional printer column on `kubectl get tnt -o wide`, and last but not least, how to deal when a Cluster Admin assign a Namespace quota lower than the already registered Namespaces (I'd say we have to block that).

Any thoughts on this?

[2020-11-29 10:41] bsctl commented on #145
I got a feedback from customer, they are not to use this constraint leaving the tenants to create namespaces as much they want. Actual constraints will be `resourceQuota`. In such case they have to put namespaceQuota=999 for example  but this looks a bit ugly. My suggestion is to make this optional and show namespaceQuota=0 in the printed column where, by convention, zero means infinite. Sorry to

[2020-11-29 10:42] bsctl commented on #145
I just got a new test case :)

[2020-12-01 08:07] bsctl opened #148 "Define a benchmark for performances"
We should define a benchmark for performances and tests in different stress conditions.

For example:

- how many tenants
- how many namespaces/tenants
- how many concurrent users
- how many requests

[2020-12-01 22:14] prometherion commented on #120
We're still facing some flakiness, let's try to make wide use of `Eventually` since we can't ensure reconciliation happens in matters of millisecond 😅

[2020-12-01 22:18] prometherion commented on #148
Could you elaborate a bit more? Because, at first glance, I'd say it's a matter of Kubernetes limits, here :)

Especially for:

- tenants
- namespaces/tenants
- concurrent users

Regarding requests, I'd say it depends on the resources assigned to Capsule, since we got the webhook server there.

[2020-12-02 17:06] prometherion opened #150 "Provide a Grafana dashboard for metrics overview"
# Describe the feature

Having a Grafana dashboard JSON would be great in order to fetch some stats: metrics are already provided by the Controller Runtime package and available at port 8080 on `/metrics` endpoint, just need to puzzle them.

Along with this, a `ServiceMonitor` instance must be declared in the Helm Chart and Kustomize manifests.

# What would the new user story look like?

**As a**

[2020-12-02 18:04] bsctl commented on #148
We have to provide a benchmark for adopters. If most of them are Kubernetes limits, let's just to document it.
It would be nice to have a performance test suite, not part of this code base.

[2020-12-02 18:17] bsctl opened #151 "Let the tenant owner to know the allowed trusted registries"
# Describe the feature
Let the tenant owner to know the list of allowed trusted registries available in the tenant. An annotation, similar to what we done for Ingress and Storage Classes, can be placed on the namespaces, For example: `capsule.clastix.io/registries: "quay.io,trusted-registry.mycompany.com"`.

# What would the new user story look like?

- Tenant owner creates a new namespace
- Tenan

[2020-12-05 08:15] bsctl opened #152 "Let the tenant owner to know the allowed Resources Quota"
# Describe the feature
Let the tenant owner to know the allowed Resources Quota available in the tenant.

It would be useful to have the annotations, similar to the used resources amount:

[code]
Actually, the _ResourceQuota_ object is telling the hard limit but this is for the namespace and not for the whole tenant:

[code]
But this value is adjusted by Capsule when the quota is crossed at tenant

[2020-12-06 01:23] prometherion opened #155 "On Helm upgrade, the CA/TLS secrets are overwritten with empty data"
# Bug description

This is happening upon Helm upgrade, forcing a new CA/TLS generation causing an outage in case of an upgrade due to a new release.

# How to reproduce

1. `helm upgrade --install capsule ./charts/capsule -n capsule-system --create-namespace`
2. Wait for get it up and running
3. Once done, check the Secrets in `capsule-system`, should contain 2 keys
4. `helm upgrade --install cap

[2020-12-07 16:42] bsctl opened #157 "Check the hostname that an Ingress can use"
# Describe the feature
It would be nice to have additional admission controls on the Ingresses resources created by the tenant owners:

 A. white list of admitted hostnames for a given tenant.

For example:

[code]

The above is useful to assign domain(s) to the tenant.

B. check of unicity on the hostname, i.e. deny when `my.oil.acmecorp.com` is already taken by another Ingress (same or different

[2020-12-08 08:50] prometherion commented on #152
We can discuss how providing this detail to the Tenant Owner: as I suggested privately, we could take advantage of the `additionalRoleBindings` and give to the user the read capability to its Tenant using the `resourceName` specification, so we can stop annotating stuff since it's a widely considered bad practice.

[2020-12-08 08:52] prometherion commented on #148
I'd say #150 could help here: my plan is to scrape metrics and perform some massive fuzz activities in order to track down the requested reconciliation time, as well as any other metric that can help us define the benchmark.

I'd just say something regarding the maximum amount of resources, as Tenants or Namespaces: this is strictly related to Kubernetes itself, and more specifically, to `etcd`. W

[2020-12-08 09:00] prometherion commented on #157
I'd say this is a good first issue and should be relatively easy: we have to replicate what [k8s-ingress-claim](https://github.com/yahoo/k8s-ingress-claim) is doing, but renovating the codebase since I'm not feeling safe importing code that is older than 2 years.

Obviously, we have to work at the webhook level, implementing a `ValidatingWebhook` one.

Since we're dealing with webhook an asymptoti

[2020-12-08 09:42] MaxFedotov commented on #145
I totally agree with having only owner as required field in spec. As capsule is growing with new features, it becomes really hard for a new user to understand them all. So It will be much better to allow to start only with owner field in spec, and then if needed to update spec with additional features.

[2020-12-08 10:05] prometherion commented on #145
It seems we acquired a full RAFT consensus on this design! 🤣

[2020-12-09 12:37] bsctl commented on #152
Totally agree. +1

As short term solution, let's to keep this PR for the reasons we discussed, i.e. easy display of the hard resources quota in the customer dashboard.

[2020-12-09 14:19] #152 closed

[2020-12-09 14:20] #151 closed

[2020-12-09 18:25] paolocarta commented on #157
I am starting analysing the requirements and the code for the webhooks. ;-)

[2020-12-09 22:37] bsctl opened #159 "Policy to restrict External IPs in Services [CVE-2020-8554]"
# Describe the feature
We need to add a policy to restrict External IPs in services in order to mitigate CVE-2020-8554. Ref. [here](https://github.com/kubernetes/kubernetes/issues/97076) and [here](https://github.com/kubernetes/kubernetes/issues/97110)

# What would the new user story look like?

1. CVE-2020-8554 affects multi-tenancy environments
2. The cluster admin creates a tenant specifying t

[2020-12-09 22:39] bsctl commented on #159
No mitigations are provided for LoadBalancer IPs since it is not recommend granting users patch service/status permission. If LoadBalancer IP restrictions are required, the approach for the external IP mitigations can be copied.

[2020-12-10 10:20] paolocarta commented on #157
I think it would be good validating the domain when the cluster admin applies the tenant, in order to verify there are no duplicate domains assigned to different customers.

What do you think?

[2020-12-10 10:33] prometherion commented on #157
Honestly, I'm not entirely sure we need an Allowed List for ingress hostnames: @bsctl can you describe a potential use case for this scenario?

[2020-12-10 10:36] paolocarta commented on #157
You mean using just a single domain or wildcard domain per tenant?

[2020-12-10 11:08] bsctl commented on #157
In a shared scenario, where multiple tenants share the same ingress controller and the same domain, eg. `acmecorp.com`, the cluster admin would to enforce the rules:

- tenant `oil` can publish its services only as `*.oil.acmecorp.com`
- tenant `gas` can publish its services only as `*.gas.acmecorp.com`
- and so on

Actually, `*.oil.acmecorp.com` and `*.gas.acmecorp.com` are wildcards and not sing

[2020-12-10 11:48] prometherion commented on #157
I just wanted to raise the topic on the non sense of having an Allowed List here.

As you said, from a developer experience, it's safer having the same behavior, but this is raising the issue reported by @paolocarta: if i got `foo.acme.tld` in the allowed list of tenant `bizz`, any other tenant should not be able to specify it, otherwise a collision would happen.

This is increasing the complexity

[2020-12-10 11:57] bsctl commented on #157
Got it! +1

[2020-12-10 13:21] #155 closed

[2020-12-10 21:48] prometherion opened #160 "Use errgroup instead of channels and WaitGroup"
I wasn't aware of the [`errgroup` package](https://godoc.org/golang.org/x/sync/errgroup) and it's really nice: I implemented something similar but not so elegant and neat

https://github.com/clastix/capsule/blob/a3c77b35319bd18148bc900456940ee2ab3d9e99/controllers/tenant_controller.go#L529-L548

We should implement this package.

[2020-12-11 14:47] #145 closed

[2020-12-11 18:17] #159 closed

[2020-12-13 10:12] bsctl opened #163 "A new copyright logo for Capsule"
Use a new copyright logo for the Capsule eco-system.

[2020-12-14 13:55] prometherion opened #164 "Use more comprehensive variables in the code-base"
We should keep an eye on the variables names we're using in the code-base: as developers and core contributors, it's easy for us understanding their purposes, not the same for newcomers.

_Originally posted by @paolocarta in https://github.com/clastix/capsule/pull/162#discussion_r541976465_

[2020-12-14 13:58] prometherion opened #165 "Update the coding style guide"
We're not documenting the no-new-line at the beginning of a new function in the coding style documented for Capsule.

_Originally posted by @prometherion in https://github.com/clastix/capsule/pull/162#discussion_r542398228_

[2020-12-14 18:00] paolocarta commented on #164
I could take it as soon as I will be done with #157 .

[2020-12-14 23:03] #95 closed

[2020-12-14 23:03] #114 closed

[2020-12-14 23:03] #163 closed

[2020-12-15 15:48] prometherion opened #166 "Define required golangci linters"
Actually, we're just running the default ones, we should consider switching on more strict linters.

[2020-12-19 10:45] prometherion opened #167 "Loop on updating ResourceQuota with multiple namespaces managed by a Tenant"
# Bug description

When a Tenant got more than a Namespace attached to it and its defining ResourceQuota resources, there's an infinite loop on updating the resources across all the namespaces, wasting the Operator queue and making it slower than the usual and dumping too many Update events on the Tenant.

# How to reproduce

1. create the sample Tenant manifest ing `config/samples`
2. create some

[2020-12-20 11:25] #160 closed

[2020-12-20 11:25] #167 closed

[2020-12-20 14:33] prometherion opened #170 "Adding Kubernetes 1.20 to the e2e testing matrix"
KinD on Kubernetes 1.20 is available: https://hub.docker.com/r/kindest/node/tags?page=1&name=v1.20&ordering=last_updated

[2020-12-20 22:15] prometherion opened #173 "Using Tenant recorder to emit and record events about the reconciliation"
# Describe the feature

As a Cluster Administrator, I'd like to check events of the last reconciliations rather than debugging the Capsule logs.

Controller Runtime provides [recorder](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/recorder) to deal with events recorder.

# What would the new user story look like?

1. `kubectl describe tnt <name>`
2. checking the last events for a Tenant

#

[2020-12-20 22:29] #120 closed

[2020-12-20 22:47] #170 closed

[2020-12-21 21:24] d-m opened #174 "Allow cluster administrator to bootstrap Tenant namespaces"
# Describe the feature

I've been working on an automated process using a Helm chart to provision tenants (the Tenant resource, as well as things like pod security policies and other cluster level resources). It would be helpful to be able to bootstrap namespaces for a tenant during this provisioning process.

Currently, when I, as a cluster admin, create a namespace named "my-tenant-namespace" fo

[2020-12-21 22:24] bsctl commented on #174
@d-m Thanks for suggesting this improvement. We're always eager of feedbacks from users.

Actually, you can achieve the same as cluster admin, by impersonate the tenant owner, `alice` in this case:

[code]

[2020-12-21 22:30] bsctl commented on #174
With Helm, you can use

[code]

[2020-12-21 22:42] d-m commented on #174
Thanks for the reply. This would work great for Helm charts consisting solely of resources that a tenant admin has permission to deploy. However, this helm chart also provisions cluster level resources like the Tenant resource itself as well as PodSecurityPolicy resources.

[2020-12-21 23:00] bsctl commented on #174
Interesting case. We may implement on the tenant controller a sort of `namespaceSelector` based on the label `capsule.clastix.io/tenant=<tenant_name>`  as the replicaSet does with pods. We need to evaluate technical impacts.

[2020-12-22 09:17] prometherion commented on #174
What about using Helm hooks to issue a simple `kubectl` create?

[code]

This should be idempotent, so creating Namespace, or doing nothing if already there.

[2020-12-22 20:21] d-m commented on #174
It ended up being a little more complicated. Using the `--as` and `--as-group` flags in a pod clears out the current context, which required providing kubectl with the server, CA cert, port, and token. The pod's service account needed permission to impersonate the tenant name and capsule group as well.

I got it to work with the following job, in case anyone else is interested:

[code]

[2020-12-22 20:56] prometherion commented on #174
Thanks for sharing this with the whole community, @d-m!

Just a little remark: instead of using `hyperkub`e image that is heavy a a really heavy thing you could use use the `bitnami/kubectl` one, and maybe using the Capsule service account in order to avoid installing additional resources that could be hard to follow.

Anyway, I'm really pleases to see your suggestion in how increase the use cases

[2020-12-22 21:10] d-m commented on #174
Actually, it looks like this raised another issue when I changed the command to use the create | apply pattern above to avoid an error when the namespace already exists.

This approach results in the following error for existing namespaces or creating new namespaces:

[code]

Running `kubectl create ns my-tenant-namespace` works as expected.

[2020-12-23 19:17] d-m commented on #174
@prometherion Good idea about switching away from the hypercube image. Also, happy to join your Slack workspace; I'll DM  you at the Twitter profile you have in your GitHub profile.

[2020-12-30 17:43] prometherion opened #177 "IsInCapsuleGroup binary search is case-sensitive broken"
# Bug description

According to @MaxFedotov report, sometimes the `IsInCapsuleGroup` output is not correct.

# How to reproduce

[code]

# Expected behavior

The issue is due to the broken binary search, here.

https://github.com/clastix/capsule/blob/8f3fd8dfee405fcec147116f6b221a06ce448bc5/pkg/utils/user_group.go#L30-L32

# Logs

N.R.

# Additional context

N.R.

[2020-12-31 15:24] bsctl opened #178 "Update documentations with capsule-proxy"
As we renamed `capsule-ns-filter` as `capsule-proxy`, we also need to update the documentation.

[2021-01-02 13:20] #178 closed

[2021-01-04 19:53] bsctl opened #180 "Support for API Priority and Fairness per tenant"
# Describe the feature
Kubernetes introduced the API Priority and Fairness (APF) feature [beta in k8s 1.20] to control the behaviour of the Kubernetes API server in an overload situation. See [here](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/) for details.

When multiple tenants are deployed, a buggy or malicious application running in a tenant can overload the APIs se

[2021-01-05 12:10] #177 closed

[2021-01-12 13:34] #174 closed

[2021-01-13 21:18] #157 closed

[2021-01-13 22:49] #166 closed

[2021-01-14 15:50] bsctl opened #184 "Check on Ingress hostname is not working"
# Bug description
The check on Ingress hostname is not working. We're able to create an Ingress resource with a hostname that is not allowed in the tenant manifest.

# How to reproduce

1. Tenant `oil` has

[code]

2. The ingress resource has

[code]

3. as tenant owner

[code]

# Expected behavior

The Ingress webhook should deny the creation of such ingress as per #157

# Logs

[code]

# Additio

[2021-01-14 15:52] bsctl commented on #184
@paolocarta @prometherion it looks something went wrong. Could you pls take a look at this issue?

[2021-01-14 17:01] prometherion commented on #184
This is really weird, also because tests are there and working as expected.

I can replicate, so definitely a bug: expect a hotfix ASAP.

[2021-01-14 18:36] prometherion opened #187 "Tenant CRD should not have preserveUnknownFields: true"
The CRD attribute `preserveUnknownFields` is allowing to put non structured data into the Tenant definition.

[code]

By default, the `.spec.preserveUnknownFields` field is set to `true`: it's not critical but would be nice to be informed of typos during the specification apply.

[2021-01-15 08:04] bsctl opened #189 "Check on tenant allowed ingressHostnames not working on update"
# Bug description

The check on tenant allowed ingressHostnames is not working on update of the tenant.

# How to reproduce

[code]

[code]

Change the tenant `due` manifest as

[code]

Apply it: tenant `due` is provisioned.

Change the manifest again as

[code]

And apply it. The apply is accepted.

# Expected behavior

The check should work on tenant update too.

# Logs

If applicable, please pr

[2021-01-15 08:31] prometherion opened #190 "Helm Chart icon is broken"

[2021-01-15 08:44] #187 closed

[2021-01-15 08:45] #184 closed

[2021-01-16 13:01] #190 closed

[2021-01-21 06:11] #189 closed

[2021-01-21 18:31] d-m opened #193 "Helm hooks delete capsule-tls and capsule-ca secrets"
Helm hook resources are removed after installs and upgrades. The following lines cause the tls and ca secrets to be deleted, preventing the deployments from scaling up successfully:

https://github.com/clastix/capsule/blob/16906db309ab5d8a952bb818e600601dd990d31c/charts/capsule/templates/certs.yaml#L5

https://github.com/clastix/capsule/blob/16906db309ab5d8a952bb818e600601dd990d31c/charts/capsule/

[2021-01-21 18:58] prometherion commented on #193
Thanks for reporting this, really appreciated

I'm having some issues trying to replicate this:

1. `helm upgrade --install capsule clastix/capsule -n capsule-system --create-namespace`
2. `helm upgrade capsule clastix/capsule -n capsule-system`

Checked the secrets but these are not deleted.

Which version of the Chart are you using?

[code]

[2021-01-21 19:29] d-m commented on #193
I was attempting to install chart version 0.0.10.

[2021-01-21 19:37] prometherion commented on #193
[code]

[code]

[code]

It's really weird, I have no idea how to reproduce it.

[2021-01-21 19:47] prometherion commented on #193
Ok, finally I was able to replicate the issue: thanks for reporting this, I'll try to find a viable solution!

[2021-01-28 21:37] bsctl commented on #98
@MaxFedotov @prometherion hello it looks some work has been done [here](https://github.com/kubernetes-sigs/controller-runtime/issues/1161) and [here](https://github.com/kubernetes-sigs/controller-runtime/pull/1293). Can we consider to move to webhooks to API v1?

[2021-01-29 17:05] MaxFedotov opened #196 "validating-ingress webhook should also support spec.ingressClassName"
According to https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation `kubernetes.io/ingress.class` annotation is deprecated and a new way of specifying `ingress-class` is via `spec.ingressClassName` field. We should support this in validating-ingress webhook in Capsule

[2021-01-29 17:07] MaxFedotov commented on #196
sorry, my fault. It's already there and I was on the wrong branch when checking

[2021-01-29 17:07] #196 closed

[2021-02-03 00:12] donhighmsft opened #197 "Documentation Spelling Mistakes"
# Bug description

Clean up spelling errors within documentation.

# Additional context

I would love to fix these errors and submit pull-request.

[2021-02-07 16:15] bsctl opened #199 "Tenant CRD schema generates some errors in kube-apiserver logs"
# Bug description
The Tenant CRD schema generates some errors in kube-apiserver logs

[code]
# How to reproduce
Install Capsule with its Helm chart

# Expected behavior
no error in logs

# Logs
see above

# Additional context

- Capsule version: v0.0.4
- Helm Chart version: 0.0.10
- Kubernetes version: 1.19

[2021-02-08 10:40] prometherion commented on #199
Unfortunately, this is happening due to a [Kubernete API Server bug](https://github.com/kubernetes/kubernetes/issues/85127) since we use some nullable fields.

We can keep it here for tracking, or close it.

[2021-02-08 16:23] #193 closed

[2021-02-08 18:24] bsctl commented on #199
@prometherion will keep it opened since [97172](https://github.com/kubernetes/kubernetes/pull/97172) is going to be merged.

[2021-02-15 21:10] GlassOfWhiskey opened #200 "Enable restrictions on tenant namespaces labels"
As of today (Kubernetes 1.20.x) NetworkPolicy resources can only address namespaces by their labels, not by their names. But if tenant admins can assign arbitrary labels to their namespaces, NetworkPolicy resources can easily be bypassed.

A common use case when it is necessary to allow ingress traffic from a different namespace is when exposing an IngressController resource to tenant users. Suppo

[2021-02-16 21:40] frodopwns opened #202 "API Versioning compatibility in the future"
# Describe the feature

Backward compatibility. In the future, the API for the custom resources this project uses may change. Many maintainers of operators choose not to implement semver or versioning at all. This can lead to painful releases.

Luckily, kubebuilder has a system in place for managing this: https://book.kubebuilder.io/multiversion-tutorial/conversion-concepts.html

# What would the

[2021-02-17 09:18] prometherion commented on #202
Thanks for opening this issue/question, really appreciated it, also considering the hot topic!

At the current state, Capsule is adding features upon request, or encountering minor fixes that are not affecting the base schema, e.g. the [allowed external service IP to mitigate CVE-2020-8554](https://github.com/clastix/capsule/issues/159): that's it, pretty easy since we're adding fields, these are

[2021-02-17 16:16] frodopwns commented on #202
You shouldn't need additional controllers per version. The last time I used this, installing a new CRD version caused kubernetes to use the conversion hook to upgrade all existing instances. Of course, in that case, I was updating the stored version to the new version. In theory, you could leave the oldest version as the stored version which would mean new CR instances get converted downward befor

[2021-02-17 17:50] prometherion commented on #202
Thanks for sharing all your insights @frodopwns, really appreciated it, also because the topic, as I said, it's hot and tough for most people, and getting feedback is definitely gold!

This is great news!

Right now we have some companies running Capsule in production and, honestly, the issue has been raised several times, and I couldn't agree more on managing the lifecycle of CRDs at its best, au

[2021-02-18 00:10] frodopwns commented on #202
I haven't worked with webhooks much but I suspect you would need to implement a new hook for each version.

The hooks are attached to the versioned API struct itself:

[code]

And I believe the webhook gets called before the conversion would happen at storage time.

[2021-02-18 00:23] frodopwns commented on #202
I have an example multi-version repo here: https://github.com/Azure/azure-service-operator
Could come in handy for reference.

One interesting thing about the hub and spokes. Which version you choose as your hub can have ramifications.

I chose to make my newest version always be the hub version. I did this because when you set an old version as the hub and add new fields to your models, Kubernete

[2021-02-19 21:28] #197 closed

[2021-02-19 21:32] donhighmsft opened #204 "Create capsulectl"
A suggestion to have a capsule cli tool would be cool.

# Describe the feature

create a capsulectl cli tool to view, create, edit, delete tenants

[2021-02-19 23:32] bsctl commented on #204
@donhighmsft thanks for your interest in Capsule. May be we’re missing something but we do not see any reason for such cli. You can view, edit, create, and delete tenants by `kubectl`. One of the key guidelines for developing Capsule was to give the users a native Kubernetes experience while dealing with tenants. Unlike other solutions for multi tenancy in Kubernetes, with Capsule, you do not have

[2021-02-19 23:42] donhighmsft commented on #204
@bsctl Makes Sense. I was thinking for many users who just want to add tenants, view tenants, change tenant resources only who are not kubernetes experts. Which many users may not be, just an option for the average it guys thats not devops experts. Say Alice for example who just want to onboard her team but new to kubernetes she just want to put resource limits on her tenants etc. Right now capsul

[2021-02-19 23:57] bsctl commented on #204
@donhighmsft good point of view. For such people we’re developing a nice UI based on the awesome Lens project https://github.com/clastix/capsule-lens-extension please have a look.

[2021-02-20 00:04] donhighmsft commented on #204
@bsctl that same UI can fuel the capsulectl same api calls etc. Use cobra, ffcli, kong, etc.  I love Lens but for the average user can be overwhelming when I just want to onboard tenants and group many of my namespaces.

[2021-02-22 11:20] prometherion commented on #204
Actually, `capsule` is baked just by the Custom Resource Definition: it means all the API calls are towards the Kubernetes Control Plane. We don't have the [API aggregation](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/) in place, which would require a more cumbersome development effort, although providing more flexibility and additional subresources (a

[2021-02-22 13:05] donhighmsft commented on #204
@prometherion yes I'm talking about `attached` already created Namespaces to Tenant. Many customers will not be Kubernetes experts but maybe be in charge of creating Tenants, Namespaces, Resource Quotas, Resource Limits. They just want a tool see all of that quickly or add quickly. The cli should do one thing specific to Capsule.

[2021-02-22 16:06] prometherion commented on #204
Thanks for sharing these requirements but I'm not still understanding them properly.

As @bsctl said,m since Capsule is (ab)using underlying Kubernetes primitives, most of the actions can be performed using the Kubernetes tools, e.g.creating a Namespace as _alice_ user (`kubectl create namespace my-namespace --as alice --as-group capsule.clastix.io`).

I'd say a strong requirement if you want to u

[2021-02-22 16:28] donhighmsft commented on #204
Exactly what I was thinking as well @prometherion `capsulectl` cli to help the newcomers of capsule and kubernetes. Let me tell you a true story in the last 2 weeks, I must of talked to 5 Startups and ISV's who I mentioned Capsule and/or Proposed Capsule as an option over other tools like HNS, Virtual Clusters Loft, or Who Doesn't Need a full blown Rancher Cluster. Rancher has this functionality i

[2021-02-23 08:56] prometherion commented on #204
Thanks for all the useful insights, as I said, really appreciated it.

Although these features could be useful to onboard users with the Capsule domain logic, we are already focusing our energy on the [Lens extensions](https://github.com/clastix/capsule-lens-extension) that allows, using UI, to understand better all the moving parts involved.

I'm not saying we should not focus also on a CLI, but

[2021-02-23 15:20] donhighmsft commented on #204
@prometherion I understand thats what the community is for. I would love to help out in the future and contribute to the `capsulectl` efforts.

[2021-02-25 14:12] GlassOfWhiskey opened #205 "Allow multiple tenants reserve the same hostname regex"
As a federation owning a multi-tenant cluster, it is a common scenario to enable every tenant to publish sites under the federation domain, e.g. `*.federation.net`. At the moment, this is not possible, since only a single tenant can reserve a specific hostname regex. The only possible scenario with this limitation is to assign each tenant a private subdomain, e.g. `*.tenant1.federation.net` to Ten

[2021-03-01 08:57] bsctl commented on #205
@GlassOfWhiskey thanks for reporting this issue. Actually, the cluster admin can provision multiple tenant having the same hostname regex

[code]

and

[code]

The check is on the `allowed` field where two tenants cannot use the same allowed hostname:

[code]

[2021-03-01 09:17] bsctl opened #206 "Allow multiple tenants reserve the same allowed ingress domain"
# Describe the feature
Currently it not possible to create multiple tenants allowing the same ingress domain as introduced by #162. There are cases, where this is a too strict limitation as reported (incorrectly) by #205.  It would be nice to have a command switch in Capsule to disable the check on allowed ingress domains

# What would the new user story look like?
A new  command switch in Capsule

[2021-03-01 09:27] bsctl opened #207 "Allow by default multiple tenants reserve the same allowed ingress domain"
# Describe the feature
Multiple tenants cannot be allowed to use same ingress domain as reported in #206.

By introducing a new command switch as in #206 the default value `false` leads to the same behaviour. It would be nice to have the switch set to `true` by default since this is the most common scenario. However, we decided to set the default to `true` in a new major release v0.1.0 since doing

[2021-03-01 09:29] bsctl commented on #205
@GlassOfWhiskey we're addressing this with #206 and #207.

[2021-03-01 09:49] prometherion commented on #205
If it's ok with @GlassOfWhiskey  I'm going to close this issue.

[2021-03-01 09:51] prometherion commented on #202
Again, thanks a lot! <3 This is absolutely gold!

I couldn't agree more.

It's a pay-off we can easily consider while upgrading, legit.

[2021-03-01 09:53] prometherion commented on #200
Thanks for the feedback, I'm marking this as a bug since it could lead to a big attack surface especially considering how network segregation through NetworkPolicy resources is mandatory in multi-tenant contexts.

[2021-03-01 11:37] GlassOfWhiskey commented on #205
Yes feel free to close this one

Il Lun 1 Mar 2021, 10:49 Dario Tranchitella <notifications@github.com> ha
scritto:

[2021-03-01 13:53] unai-ttxu opened #208 "[Helm] Make Jobs containers image configurable"
# Describe the feature

Now, both `pre-delete-job.yaml` and `post-install-job.yaml` jobs are set to `bitnami/kubectl:1.18`:

- **charts/capsule/templates/pre-delete-job.yaml**:

[code]
- **charts/capsule/templates/post-install-job.yaml**:

[code]

It would be great to be able to set these Jobs image `repository` as with the manager and proxy ingress images.

[2021-03-01 14:24] unai-ttxu commented on #208
I've openned the following PR to implement the requested feature :smile::

https://github.com/clastix/capsule/pull/209

[2021-03-01 16:26] #208 closed

[2021-03-02 11:16] #205 closed

[2021-03-04 07:32] prometherion opened #213 "Capsule builds are always .dirty"
We're having this output log that is useful when debugging Capsule to understand if the binary has been built with noncommitted changes that could lead to issues.

https://github.com/clastix/capsule/blob/2ea36db5d6a38cf15d777c2e34e4f9494ed0664b/main.go#L68

This variable is set at build-time, as following.

https://github.com/clastix/capsule/blob/2ea36db5d6a38cf15d777c2e34e4f9494ed0664b/Dockerfile

[2021-03-04 08:03] davideimola commented on #213
Hi @prometherion! I would like to work on this issue!
Thanks!

[2021-03-04 09:02] #200 closed

[2021-03-05 08:22] bsctl opened #215 "Prevent ingress hostname collision"
# Describe the feature
Currently it is possible to create multiple ingresses with same ingress hostname across different tenants and within the same tenant as well.

# What would the new user story look like?
A new CLI flag `--allow-ingress-hostname-collision` is added, defaulted to `true` to reflect current behaviour and do not break things. When set to `false`, Capsule will check if the Ingress

[2021-03-05 08:30] bsctl commented on #206
it looks this is the check we need to skip

https://github.com/clastix/capsule/blob/452bceff343ceb657675d8f0d1d6652dae60d1e0/pkg/webhook/tenant/validating.go#L110-L131

[2021-03-05 17:16] prometherion commented on #215
Actually, we're allowing Ingress hostname collision: default value must be `true`.

[2021-03-05 17:19] bsctl commented on #215
this should be reflected into #214

[2021-03-05 17:54] bsctl commented on #215
Update the bug description according to https://github.com/clastix/capsule/issues/215#issuecomment-791559641

[2021-03-05 18:00] bsctl opened #218 "Prevent by default ingress hostname collision"
# Describe the feature
Currently it is possible to create multiple ingresses with same ingress hostname across different tenants and within the same tenant as well.

# What would the new user story look like?
A new CLI flag `--allow-ingress-hostname-collision` is added, defaulted to `false` since this seems the most common case. Capsule will check if the Ingress hostname is already assigned to ano

[2021-03-05 20:02] #213 closed

[2021-03-05 21:50] #215 closed

[2021-03-06 08:53] bsctl commented on #50
@prometherion had a discussion with a customer about disabling quota enforcement at tenant level. It would be nice to have. We should change priority of this enhancement and consider to implement it in next major release.

[2021-03-06 09:25] prometherion opened #219 "Make programmable deny of wildcard hostnames"
Let's assume that we had a big organization, having a domain `bigorg.com` and there are two tenants, `gas` and `oil`.
Let's also assume, that we are using some type of automatization, in order to publish ingress hosts to DNS automatically (like https://github.com/kubernetes-sigs/external-dns/)

Ingresses supports wildcard hostnames (https://kubernetes.io/docs/concepts/services-networking/ingress/#

[2021-03-06 10:44] prometherion opened #220 "Making probes configurable at Helm Chart level"
# Describe the feature

All the Deployment probes should be configurable through Helm values.

# Expected behavior

Setting probes via `--set` CLI flag or using a custom `--values` file I should be able to fine-tune probes or disable them.

[2021-03-06 11:14] bsctl opened #222 "Leave the cluster admin to share secrets with tenant owners"
# Describe the feature
There are cases where the cluster admin wants to share secrets with the tenant owners. Such secrets can be used, for example, by tenant owners to access cluster services like a private Image Registry or Helm Repo. Multiple secrets can be assigned for each tenant, so the cluster admin can create different secrets for each tenant.

The Capsule Operator propagates such secrets

[2021-03-06 12:25] prometherion opened #223 "Capsule won't start on Kubernetes < 1.19"
# Bug description

Capsule is not able to start when running on Kubernetes < 1.19.

# How to reproduce

https://github.com/clastix/capsule/runs/2045990496?check_suite_focus=true

# Expected behavior

Although running on older versions, Capsule should drop unsupported API types and starts.

# Logs

[code]

# Additional context

- Capsule version: (`capsule --version`)

[code]
- Helm Chart version:

[2021-03-06 13:12] bsctl opened #225 "Preventing ingress hostname collision does not work between different namespaces of the same tenant"
# Bug description
Preventing ingress hostname collision does not work between different namespaces of the same tenant

# How to reproduce
As cluster admin, start Capsule with switch to prevent ingress hostname collision

[code]

As cluster admin, create two tenants

[code]

As tenant owner, create some ns

[code]

As tenant owner, create an ingress

[code]

Create a second ingress in the same name

[2021-03-06 13:26] MaxFedotov commented on #218
@bsctl, and can we limit this check to be only across different tenants?

On ingress-nginx, it's a quite common situation, when you had to create 2 ingresses with the same host and different paths. For example, if we had an application deployed, and we want to apply whitelists only for a single path, for example `/admin`. Then we had to create 2 ingresses like:

yml```
---
kind: Ingress
metadata:

[2021-03-06 13:37] bsctl commented on #218
@MaxFedotov that'a good point.
It looks like there are different levels where we can prevent ingress hostname collision:

- prevent collision across tenants -> very critical requirement in a public CaaS
- prevent collision across namespaces of the same tenant
- prevent collision in the same namespace

[2021-03-06 13:43] bsctl commented on #218
@prometherion @MaxFedotov one more reason we should go to #51
All the cases above could be easily addressed with a programmable policy engine, case by case, without trying to guess all possible scenarios and put the logic in Capsule.

[2021-03-06 14:06] #223 closed

[2021-03-06 14:57] #220 closed

[2021-03-06 15:58] #206 closed

[2021-03-06 16:04] prometherion opened #226 "Tenant's Namespace reconciliation triggers loop"
# Bug description

Capsule is triggering reconciliation of the same Namespace in an infinite loop.

# How to reproduce

1. Deploy Capsule from `master` (`d78bcd8`)
2. create two Tenants
3. create a Namespace per Tenants
4. watch logs

# Expected behavior

Reconciliation should happen just a single time, or when required.

# Logs

[code]

# Additional context

- Capsule version: (`capsule --version

[2021-03-06 16:41] #226 closed

[2021-03-06 19:50] #225 closed

[2021-03-07 18:07] prometherion commented on #222
Rather than declaring secrets in a such opinionated way, I'd say we could take advantage of the [`ObjectReference` API](https://pkg.go.dev/k8s.io/api/core/v1?utm_source=godoc#ObjectReference), although we would need a new polling controller in order to replicate changes across the Tenant's namespaces.

But honestly I'm thinking we could reuse the super capabilities provided by the Hierarchical Nam

[2021-03-07 18:20] prometherion commented on #50
Are you referring to 0.1.0 or 0.5.0?

Getting this done should be deadly simple: just wondering how we should change the API.

Honestly, using the `.spec.resourceQuotas` key as list of `ResourceQuotaSpec` items has been a bad idea since the new flag that could control this behaviour should be encapsulated in a proper key, as following.

[code]

But implementing this change would be breaking, so we

[2021-03-08 16:17] MaxFedotov commented on #219
I thought one more time and basically, that's not an issue, as we can use negative lookahead in `ingressHostnames.allowedRegex` to achieve it. Something like `^(?!\*.(bigorg|org).*).*$`

@prometherion what do you think? Should this work?

[2021-03-08 16:26] prometherion commented on #219
Negative lookahead regexes are not supported in Go 😞 (more context: [here](https://groups.google.com/forum/#!topic/golang-nuts/7qgSDWPIh_E))

[2021-03-08 16:44] MaxFedotov commented on #219
Damn, forgot about it :( Then we will have to add another field to CRD, like `ingressHostnames.deniedRegex`?

[2021-03-08 16:45] bsctl commented on #50
@prometherion imho both the options are ok

[2021-03-09 20:08] ValentinoUberti opened #229 "Add a create user script for OCP 4.x (Experimental)"
# Describe the feature

Create a script like hack/create-user.sh for OCP

# What would the new user story look like?

How would the new interaction with Capsule look like? E.g.

1. The cluster admin runs a create-user script for OCP

# Expected behavior
A demo user and tenant are created in OCP

[2021-03-13 10:38] bsctl opened #231 "Install the capsule-proxy service along with capsule-controller-manager by main Capsule Helm Chart"
# Describe the feature
It would be nice to install the `capsule-proxy` service along with `capsule-controller-manager` by the main Capsule Helm Chart. ~We use the sub charts feature of Helm.~

# What would the new user story look like?
As cluster admin, install the capsule-proxy along with capsule-controller-manager by the same Helm Chart

# Expected behavior
see above

[2021-03-13 11:19] bsctl commented on #229
closed by #230

[2021-03-13 11:19] #229 closed

[2021-03-14 19:57] ludusrusso opened #232 "Helm install (version 0.0.17) does not complete"
# Bug description

Helm install on chart versions 0.0.16 and 0.0.17 does not complete.
The container `manager` in deployment `capsule-controller-manager` will  fail.

The new version of chart 0.0.16 and 0.0.17 have introduced two new command line options `allow-ingress-hostname-collision` and  `allow-tenant-ingress-hostnames-collision ` that are not available in the docker build used as default `q

[2021-03-14 20:30] prometherion commented on #232
Definitely a bug, and I got already a suspect causing the issue: I aligned the Helm chart upon the new allow ingress hostname collision that will be shipped starting from 0.0.5.

According to the current Helm Chart release, we should avoid adding new program arguments until we bump up the new image version.

I think we can remove the option to fix the 0.0.17 Helm chart version: this is a __good fi

[2021-03-14 20:40] ludusrusso commented on #232
Also the 0.0.16 has the same issue :D
I can handle if it's ok for you!

[2021-03-14 20:50] prometherion commented on #232
Ok, this is even worse but since we're documenting this, we could go for a newer hotfix version: shit happens!

Oh, and thanks for your availability: the issue is yours!

[2021-03-16 10:17] stg-0 opened #234 "Add new group as an exception of the capsule-user-group"
Hi everyone!

I've found an issue using Capsule in a (IMHO) non-conventional way, that's why I think this is a feature request and not a bug.

I've deployed Capsule on my k8s cluster, and used system:authenticated as the capsule-user-group so no user in Kubernetes remains outside the multi-tenancy, but when I tried to delete a Namespace with a NetworkPolicy created by the Tenant, I got an error co

[2021-03-16 20:25] prometherion commented on #234
First of all, thanks for giving Capsule a try! 🤗

I'd say this, although non documented, it's a bad practice: the issue is that RBAC is used by several components in Kubernetes, such as `system:node` used by the Kubelet certificate, etc. Multi-tenancy should be applied just to a small set of users and the `system:authenticated` group is a too much broader audience, bringing side-effects or issuess

[2021-03-16 21:18] prometherion commented on #234
Let's ignore the last checklist because in the end we just need to verify if the request has been generated by a ServiceAccount in the `kube-system` Namespace!

PR on it's way.

[2021-03-16 22:30] stg-0 commented on #234
When thinking solutions for this issue I discarded checking for a specific group just to make it more configurable for other use cases, but I also didn't like to add a new parameter. You've chosen the latter which I think is a good decision.

Thanks!

[2021-03-17 10:43] #234 closed

[2021-03-17 10:44] #232 closed

[2021-03-23 17:54] frodopwns opened #240 "Multiple Group Ownership of Tenants"
# Describe the feature
Multiple groups can own multiple tenants instead of just one.

Groups:
1. TeamA
    - User: Tom
    - User: Mary
2. TeamB
    - User: Alice
    - User: Jeff

Tenants:
1. Oil
    - Owner: TeamA
2. Gas
    - Owner: TeamB

If users Tom or Mary create a namespace, it increments the namespace count for the Oil tenant.
If users Alice or Jeff create a namespace, it affects the Gas

[2021-03-24 16:26] stg-0 opened #241 "Namespaces within a Tenant cannot be selected in NetworkPolicies"
Hi everyone!

I'm trying the brand new v0.0.5 release and found out that, due to the issue #200, there's no way to reference (using namespaceSelector) a particular Namespace within a tenant in a NetworkPolicy.

As stated in the mentioned issue and in the [official documentation](https://kubernetes.io/docs/concepts/services-networking/network-policies/#what-you-can-t-do-with-network-policies-at-lea

[2021-03-24 16:31] prometherion commented on #241
Looks good to me: @bsctl @MaxFedotov any remark on this?

I also think this can be a really good first issue, any contribution is highly appreciated! ❤️

[2021-03-24 16:37] MaxFedotov commented on #241
We are already doing this in order to support Calico `GlobalNetworkPolicies`.
But we are using `namespacesMetadata.additionalLabels` in Tenant spec:
[code]

[2021-03-24 16:43] stg-0 commented on #241
I need to identify each Namespace within a tenant separately, not all the Namespaces belonging to a particular tenant.

[2021-03-24 16:44] prometherion commented on #241
I think the use-case here is different: we don't have to replicate the tenant name but, rather, the Namespace name. Labeling a Namespace is either disabled due to the reported bug/enhancement, we have just to rely on the `namespacesMetadata.additionalLabels` but these are going to be applied across all the Tenant Namespace resources.

I guess the need for this feature is to take advantage of the C

[2021-03-24 17:03] stg-0 commented on #241
That's exactly it. A simple use-case would be to have layer segregation by Namespace within a tenant. Off the top of my head, a possible scenario would be a tenant with a Namespace dedicated to my DBs and a second Namespace with some consumers, then I want to be able to only access those DBs (and no other Namespaces) from the consumers. I hope that clarifies a bit the need.

[2021-03-24 18:29] #241 closed

[2021-03-24 18:35] prometherion commented on #240
Capsule is already supporting Tenant ownership to groups:

[code]

The prerequisite to getting it working is the belonging of users to both groups, `capsule.clastix.io and `TeamA` as well: this is documented in the [Tenant owners](https://github.com/clastix/capsule#tenant-owners) section but probably this could be improved if not clear enough.

Actually, the `capsule.clastix.io` group name (custom

[2021-03-24 19:20] MaxFedotov commented on #240
Hi @frodopwns.

We are using Active Directory with capsule and everything works just great!
We had a group called `kubernetes-abilitytologin`, for which users require access using our internal access management system. This group is used in a `--capsule-user-group` flag and user must be in this group in order to be able to authorize in kubernetes.

Each user can also be in one or many `ownermember

[2021-03-26 09:15] prometherion commented on #240
@frodopwns going to close the issue, if you have further concerns don't hesitate to open it back!

[2021-03-26 09:15] #240 closed

[2021-03-26 09:16] prometherion commented on #164
Hey @paolocarta are you still working on this?

[2021-03-26 14:34] paolocarta commented on #164
@paolocarta No I am not at the moment. Feel free to assign it in case!

[2021-03-26 14:35] ludusrusso commented on #164
Hi @prometherion , I'd like to give a try!

[2021-03-26 14:36] prometherion commented on #164
Thanks @paolocarta, appreciated it!

[2021-03-27 17:53] bsctl opened #243 "Cordon a tenant for maintenance"
# Describe the feature
Inspired by  the [kube-anchor](https://github.com/JESWINKNINAN/kube-anchor) project, it would be nice to leave the cluster admin to "cordon" a tenant for maintenance during a Production Freeze Window.

### Some possible use cases:

- Avoid accidental resource modification(s) including deletion during a Production Freeze Window
- During Kubernetes upgrade, to prevent any work

[2021-03-27 19:03] prometherion commented on #243
Seems an interesting feature, I'm just concerned regarding the ValidatingWebhookConfiguration required that would be a catch-all for all the underlying resources, doesn't look so confident to me.

I'm ok with the label, although since this change would require a new field in the CRD specification, we could add it effortlessly.

[2021-03-29 06:45] prometherion commented on #243
Got a question regarding this: should we block *all* API actions from any user or just the ones from the Tenant owner?

Because I'm thinking the case when QoS, PodPriority, and Preemption kick in: if we block all the requests, an anchored Tenant could disrupt other ones or the Kubernetes critical components itself.

The idea to avoid this sort of deadlock would be to block all requests except the

[2021-03-29 06:46] prometherion commented on #243
Also regarding deletion of a Tenant performed by a Cluster Administrator: should be it allowed when a Tenant is frozen?

I'd say no, an unfreeze would be required since it's the actor involved and they have to play by the rules.

[2021-03-29 08:03] bsctl commented on #243
yes, label is effortless without change the tenant CRD

Imho, the latter one. The intention of this feature is to block write activity from tenant owners during maintenance windows, for example, cluster or dedicated node pools upgrade. In a multitenacy scenario, likely a public CaaS, it becomes hard for the cluster admin to keep discipline among all tenant users, emailing them id not enough.

[2021-04-07 16:13] prometherion commented on #243
We should also block operations on behalf of the underlying Service Account, not only the Tenant Owners.

[2021-04-13 08:00] prometherion opened #244 "Support for Arm-based Docker images"
# Describe the feature

Actually, all the Docker images are built using the `amd64` architecture.

https://github.com/clastix/capsule/blob/12237ae106d6e9bbcb49e1091318534a901f29cd/Dockerfile#L27

Capsule should be runnable also on Arm and Arm64-based infrastructures since there are plenty of projects running Kubernetes at the edge.

# What would the new user story look like?

1. Definitely, we hav

[2021-04-16 07:02] ludusrusso commented on #164
@prometherion just started working on it, what does `wl` stands for here? I think "webhooks" but I don't get the "l" :D

https://github.com/clastix/capsule/blob/12237ae106d6e9bbcb49e1091318534a901f29cd/main.go#L169

[2021-04-16 13:37] prometherion opened #246 "Remove the RBAC proxy"
Capsule is exposing [Prometheus metrics](https://github.com/clastix/capsule/blob/12237ae106d6e9bbcb49e1091318534a901f29cd/main.go#L127-L134) provided by the `controller-runtime`

However, we're [forcing the metrics endpoint to bind to the Pod loopback](https://github.com/clastix/capsule/blob/12237ae106d6e9bbcb49e1091318534a901f29cd/charts/capsule/templates/deployment.yaml#L49) and the `kube-rbac-p

[2021-04-16 19:57] bsctl commented on #246
@prometherion it can be considered safe from my side.

[2021-04-17 10:08] MaxFedotov commented on #246
Lgtm, let's remove it

[2021-04-19 12:18] ptx96 opened #247 "Using arbitrary name for capsule namespace generates error during webhook calls"
# Bug description

Installing capsule in a namespace called differently from the default one ( N.B. *capsule-system* ) generates errors during webhook calls

# How to reproduce
As cluster admin :

 1. Install the Chart using an arbitrary namespace name :
[code]
 2. Apply the scaffold tenant :

[code]

# Expected behavior

Capsule should communicate with the webhook despite chosen namespace name :

[2021-04-19 12:56] prometherion commented on #247
We got several hard-coded references to the default namespace, `capsule-system`.

We have to check if we can avoid this, or not.

[2021-05-04 15:49] prometherion commented on #164
Closed via #245.

[2021-05-04 15:49] #164 closed

[2021-05-04 15:54] prometherion commented on #68
I think we cannot adherer to all the benchmarks, just an example:

- [Block use of NodePort Services](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/benchmarks/kubectl-mtb/test/benchmarks/block_use_of_nodeport_services)

  With the BYOD scenario adopted also by @MaxFedotov, this is a too big limitation. What we could do is to toggle this option at Cluster Administrator level, allowin

[2021-05-05 09:32] MaxFedotov commented on #68
@prometherion yeah, that's will be too big limitation for us.
`What we could do is to toggle this option at Cluster Administrator level, allowing us to enable or not the policy. WDYT @bsctl @MaxFedotov?`
So add additional configuration param, which will allow to enable\disable this behavior?

[2021-05-05 09:43] prometherion commented on #68
It's up to us, honestly.

Actually, there's no yet a real standard for the multi-tenancy model in Kubernetes, although the working group is working on that: that's a generic validation schema appliable to generic multi-tenancy projects and we should adhere to it, or at least claims what we can tackle or not. The `NodePorts` one is a limitation of Kubernetes, of course, but we found a way, with Cap

[2021-05-05 11:13] MaxFedotov commented on #68
That's looks good! We already had validating webhook for services, so we can add this additional check to it. I can take this task, if you are ok :)

[2021-05-05 11:27] bsctl commented on #68
@prometherion @MaxFedotov I'm going to open a specific issue for this topic and leave the current one as placeholder for keeping track of the generic requirement for compliance according to SIG multi-tenancy benchmark.

 What do you think? Can we address this in the coming v0.1.0 release?

[2021-05-06 07:44] bsctl opened #249 "Block use of NodePort Services"
# Describe the feature
It would be nice to leave the cluster admin to block the use of `NodePort` services for a given tenant. A `NodePort` services created in a given tenant will open a port on all the worker nodes of the cluster. In some multi-tenant scenarios, for example tenants with dedicate node pools, this could be an issue since the port is opened on all the nodes, including nodes belongin

[2021-05-06 07:46] bsctl commented on #68
@MaxFedotov just opened #249 . Please feel free to assign it to yourself

[2021-05-07 09:55] MaxFedotov commented on #249
i'll take it :)

[2021-05-07 13:18] prometherion commented on #249
I got just a remark about the proposed specification:

We have to go for annotations and plan a specification for the upcoming CRD version (maybe `v1alpha2`?) since I noticed some odd behaviors updating Custom Resource Definition schema using Helm.

[2021-05-07 14:17] prometherion opened #250 "Release Helm chart release on tag"
At every commit on `master`, we put in place the Helm chart release, overwriting the remote file.

Besides the facility on retrieving the source files at a specific Chart version, we should trigger the deployment after a tag for the Helm Chart, something as `chart-v0.1.0`.

[2021-05-07 14:20] #250 closed

[2021-05-07 17:49] bsctl opened #253 "Update documentation as per latest capsule-proxy release"
Small updates to documentation as per latest capsule-proxy release

[2021-05-07 18:07] #253 closed

[2021-05-08 12:51] #246 closed

[2021-05-10 19:00] bsctl commented on #249
@MaxFedotov honestly a CRD field is the cleanest but we should find a safe solution. What about to leave the controller itself to install/update/migrate its CRDs?

[2021-05-11 15:56] prometherion opened #256 "Align Helm charts to latest changes"
- [x] [migrate to admission.k8s.io/v1](https://github.com/clastix/capsule/blob/49e1f088ad931e52d28cffb1bdb3c5b60c12bc05/config/webhook/manifests.yaml)
- [x] [update the CRD](https://github.com/clastix/capsule/blob/49e1f088ad931e52d28cffb1bdb3c5b60c12bc05/config/crd/bases/capsule.clastix.io_tenants.yaml)
- [x] [multiple `capsule-user-groups` changed the ClusterRoleBinding that must be cleaned-up up

[2021-05-13 12:24] bsctl opened #257 "Assign Priority Classes to tenants"
# Describe the feature
In kubernetes, pods can have priority. Priority indicates the importance of a Pod relative to other Pods. If a Pod cannot be scheduled, the scheduler tries to preempt (evict) lower priority Pods to make scheduling of the pending Pod possible.

In a multi-tenant cluster where not all users are trusted, a tenant owner could create Pods at the highest possible priorities, causi

[2021-05-14 09:09] prometherion commented on #257
To implement this, we need several changes.

- [ ] Planning new key for upcoming CRD version
- [ ] Implement a list of priority classes using annotations for the current CRD version (`v1alpha1`)
- [ ] Webhook for the Pods denying/allowing the execution
- [ ] `capsule-proxy` endpoint to let Tenant owners list their assigned priority classes

Am I missing something else?

[2021-05-14 09:16] bsctl commented on #257
There are two Priority Classes already defined by default

[code]
and other can be defined by cluster admin.

The workflow is very similar to Ingress and Storage Classes we already impemented

[2021-05-14 11:55] #98 closed

[2021-05-14 11:56] prometherion commented on #257
And this means, on the `capsule-proxy` side, to implement the labeling with the resource name to allow listing of the resources.

[2021-05-17 21:12] bsctl opened #258 "Use multiple groups as capsule-user-group"
# Describe the feature
Currently, only user requests belonging to the group specified in `--capsule-user-group` are managed by Capsule. In some cases, there are users in different groups that need to use Capsule and it is not always possible to create a new dedicated common group and move all the existing users into it (think a large legacy AD/LDAP user base managed by a corporate security team).

[2021-05-19 11:48] MaxFedotov commented on #258
seems like this would be breaking change in CRDs and require a new version

[2021-05-19 12:19] prometherion commented on #258
I don't think that the @bsctl aim is to assign a Tenant to a group of users, but rather just increase the audience of allowed groups allowed and enforced to the Capsule multi-tenancy.

Pretty sure, we have to try to avoid the breaking of CLI flags: I'm not a big fan of the comma-separated list of values, we need to check if we can go for `--capsule-user-group=capsule.clastix.io --capsule-user-grou

[2021-05-19 13:14] MaxFedotov commented on #258
what do you think if we switch to https://github.com/spf13/pflag instead of native golang flag? it is drop-in replacement and it supports arrays(https://pkg.go.dev/github.com/spf13/pflag#StringSliceVar), so we can replace
[code]
with
[code]

[2021-05-19 14:44] MaxFedotov commented on #258
@prometherion  if you are ok with this, I will do this task

[2021-05-19 15:34] prometherion commented on #258
Sure, let's go for `github.com/spf13/pflag`, also because it's already imported by the actual dependencies.

[code]

@MaxFedotov you got a new issue assigned! :D

[2021-05-22 09:33] iverberk commented on #247
Hi @prometherion,

We are very interested in using Capsule but this seems like an odd thing to hardcode? Is there any technical reasons why a user cannot choose his own namespace to deploy in?

[2021-05-22 11:00] prometherion commented on #247
@iverberk honestly there's no technical reason, it's just a technical debt inherited and never fixed: always considered Capsule as a Kubernetes cluster component, so the pattern `<operator>-system` namespace has been implemented.

However, it should be easy to fix [this](https://github.com/clastix/capsule/blob/e6da507d10727afae9afbb20e637957f03676cee/controllers/secret/tls.go#L85): we just need to

[2021-05-22 11:07] iverberk commented on #247
@prometherion thanks for your response and that is very good to hear. I'd be willing to help out here if needed, let me know what kind of help you could use.

[2021-05-22 11:14] prometherion commented on #247
Thanks @iverberk, it seems the fix is really easy to achieve: #261 is there, just tested on my own and seems working, but I'd like to get feedback from @ptx96 since he's the reporter of the issue.

If you want to give it a try, would be helpful!

[2021-05-22 11:17] iverberk commented on #247
Yep, the fix seems easy enough indeed. I'd be glad to test it. I'll checkout and build a docker image locally, unless intermediate images are already stored somewhere? Thanks for picking this up so fast!

[2021-05-22 11:50] iverberk commented on #247
I've tested this locally and it seems to work just fine. Was able to deploy it to a different namespace, apply a tenant configuration and create a namespace with one of the tenant owners.

[2021-05-22 21:27] ptx96 commented on #247
I built a new image from #261 and swapped it with the one on my platform; everything is good now, also using an arbitrary namespace name! Ready to merge for me.

Thank you @prometherion

[2021-05-23 16:46] #247 closed

[2021-05-25 12:46] #258 closed

[2021-05-27 11:18] bsctl commented on #249
@MaxFedotov I've created a tenant with the annotation to block services with `type=NodePort`

[code]

and then created a namespace in the tenant. However, I'm able to create service with `type=NodePort`

[code]

any idea what went wrong?

[2021-05-27 11:28] bsctl commented on #249
[code]

[2021-05-27 14:11] MaxFedotov commented on #249
@bsctl i'll check

[2021-05-27 14:22] bsctl opened #263 "The ClusterRoleBindings capsule-namespace-provisioner are not reconciled when --capsule-user-group changes"
# Bug description
The ClusterRoleBindings `capsule-namespace-provisioner` are not reconciled when the `--capsule-user-group` is changed. This leads the tenant owners belonging to the old group to provision namespaces in the cluster outside of the control of Capsule.

# How to reproduce
1. Deploy the Capsule Operator with default `--capsule-user-group=capsule-clastix.io`. A couple of ClusterRoleBin

[2021-05-27 14:44] bsctl opened #264 "Helm Chart: having two jobs with same name generates a warning in ArgoCD"
# Bug description
Having two jobs in Helm Chart with the same name generates a warning in ArgoCD. Template manifest: `post-install-job.yaml` and `pre-delete-job.yaml`

[code]

# Expected behavior
No such warning  when deploying with ArgoCD

# Logs

If applicable, please provide logs of `capsule`.

In a standard stand-alone installation of Capsule,
you'd get this by running `kubectl -n capsule-syst

[2021-05-27 15:29] bsctl opened #266 "Resources go out of synch in GitOps deployments"
# Bug description
Some resources continuously go out of synch when deploying with a GitOps tool, eg. ArgoCD:

- `capsule-ca` and `capsule-tls` secrets
- `capsule-mutating-webhook-configuration` MutatingWebhookConfiguration
- `capsule-validating-webhook-configuration` ValidatingWebhookConfiguration

# How to reproduce
1. Deploy Capsule Helm chart with ArgoCD

[code]

2. Check the synch status on Ar

[2021-05-27 17:27] #249 closed

[2021-05-27 17:28] prometherion commented on #249
@bsctl PR has been merged, feel free to open it back if it doesn't work.

[2021-05-27 18:14] bsctl commented on #51
@prometherion @MaxFedotov

The new proposal here is to re-engine the Operator in order to have all the current Admission and Mutating Webhooks running as a separated pod from the main Capsule Controller pod. This will help to make the Admission Controller swappable with an external Policy Engine, eg. OPA or Kyverno.

We should evaluate this proposal since often we get people asking for having Caps

[2021-05-27 18:22] bsctl commented on #199
going to close it.

[2021-05-27 18:22] #199 closed

[2021-05-28 07:32] #263 closed

[2021-05-28 07:45] prometherion commented on #266
A possible solution for this is to let Capsule create or update the `{Mutating,ValidatingWebhookConfiguration}` resources.

But we got a problem with the `Secret` ones, because we're mounting them and, if they don't exist, the `capsule-controller-manager` Pod cannot be started.

We got two options here:

1️⃣ not mounting Secrets but let the Operator write the content to its roots
2️⃣ creating an a

[2021-05-28 08:51] MaxFedotov commented on #266
`
2️⃣ creating an additional Job that checks for the Secret resources and, if they're not there, creating it with the desired content; this would require an additional command in the Capsule code-base.
`

the same way, as we do in https://github.com/clastix/capsule-proxy/blob/master/charts/capsule-proxy/templates/post-install-job.yaml?

[2021-05-28 10:59] prometherion commented on #266
I was thinking about this, yes, but in the end, I think we can easily address this with the opinionated ArgoCD options.

I tested the scenario in an ArgoCD environment: the issue is that ArgoCD doesn't play so well with the 3-way merge patch as Helm 3 does, in fact, it complains regarding the outdated Secret resources content and webhooks CA.

We can easily ask ArgoCD to ignore these fields, using

[2021-05-28 11:01] bsctl commented on #266
@prometherion thanks, I think yes. Closing it.

[2021-05-28 11:01] #266 closed

[2021-05-28 22:08] #264 closed

[2021-05-31 13:10] prometherion opened #270 "Using SPDX License List Short Identifiers in Source Files"
[Short identifiers are cool](https://spdx.github.io/spdx-spec/appendix-V-using-SPDX-short-identifiers-in-source-files/), and save a lot of spaces on my vertical screen! 🤓

[2021-05-31 14:15] #122 closed

[2021-05-31 14:47] bsctl opened #271 "Require tenants to use imagePullPolicy as Always"
# Describe the feature
The Cluster admin can require tenant owners to always use `imagePullPolicy: Always` so that their private images can only be used by those who have the credentials to pull them.

This is also required for SIG multi-tenancy [benchmarks](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/benchmarks) as part of L1 profile.

# What would the new user story look like?

[2021-05-31 14:49] bsctl commented on #271
We have to go for annotations and plan a specification for the upcoming CRD version.

[2021-05-31 15:28] prometherion opened #272 "Get rid of Docker hub images"
It's absolutely annoying getting the [container image builds blocked by the Docker Hub rate limiting](https://quay.io/repository/clastix/capsule/build/a7239dbe-dcff-4f90-a5ae-f4db3b758894).

Let's find a mirror of the `golang:1.16` builder image, as well as using a minified one.

[2021-05-31 15:44] ptx96 commented on #272
is there any limit on ECR public gallery?

public.ecr.aws/bitnami/golang:1.16

[2021-05-31 17:04] prometherion commented on #272
ECR just rate limited me! 😅

We could go for quay.io/notano/golang:1.16, there should not be problema since we're building from Quay!

WDYT?

[2021-05-31 17:17] ptx96 commented on #272
Sure, let's go with it!

[2021-05-31 17:23] bsctl opened #273 "Require tenants to block the latest Tag"
# Describe the feature
The `:latest` tag is mutable and can lead to unexpected errors if the image changes. A best practice is to use an immutable tag that maps to a specific version of an application pod. Always considered a **bad practice**, we still see people and examples out there to use it. In a multitenancy environment, the cluster admin can disallow tenants to use this bad practice.

# Wha

[2021-05-31 17:26] bsctl commented on #180
@prometherion do you have any concern about this enhancement?

[2021-06-01 10:37] ptx96 commented on #244
Done some tests on arm and arm64 platforms;

here we have some critical points:
- the bitnami/kubectl image used inside "jobs" is not ready for arm use;
  instead I'd take a look at [kubesphere](https://hub.docker.com/r/kubesphere/kubectl) -> TESTED OK, I'll modify default helm chart values for this ;
- RBAC Proxy image is not ready for arm use -> REMOVED with [#246 PL](https://github.com/clastix/

[2021-06-01 12:01] prometherion commented on #244
LGTM

Let's move out the build process from Docker to goreleaser

[2021-06-01 16:58] alegrey91 opened #274 "Fix typo in docs/contributing"
In section: [Setting up the development environment](https://github.com/clastix/capsule/blob/master/docs/operator/contributing.md#setting-up-the-development-environment), requisite **OperatorSDK 1.9** needs to be fixed in **OperatorSDK 1.7.2**.

[2021-06-03 07:55] bsctl opened #276 "Add applications to act as tenant owner"
# Describe the feature
We should consider to have a more general approach for the Tenant Ownership. Currently ownership of a tenant is assigned by the cluster admin to a single subject: `User` or `Group`. However, there are cases where an application needs to act as tenant owner, for example, to provision namespaces or getting list of nodes and storage/ingress class assigned to tenant (through the

[2021-06-03 08:46] prometherion commented on #276
Thanks for sharing this feature proposal, @bsctl: really appreciated!

I'm not so concerned regarding the [Owner Reference mutating webhook](https://github.com/clastix/capsule/blob/a7fff597fac8c2c40afb37aa8e8f998ee1dfa6d2/pkg/webhook/ownerreference/patching.go#L100-L121): I think we could add a sort of check, when the request is made by a ServiceAccount we could skip the User and Group traversal,

[2021-06-03 08:50] bsctl commented on #276
yep, I'm aware of that. We should go with annotations in `v1alpha` and then migrate to a new CRD as we're doing with other enhancements.

[2021-06-03 10:10] alegrey91 opened #277 "Change Go version in docs/operator/contributing file"
Documentation currently tells **go 1.13.4**. This needs to be changed in **go 1.16**.

[2021-06-03 10:16] MaxFedotov commented on #276
Regarding
[code]

we can use `sub` field of jwt spec to specify which service accounts we would allow to act as tenant owners.
So the spec will look like:
[code]

@prometherion, @bsctl  WDYT?

[2021-06-03 10:19] prometherion commented on #276
What about, instead using directly the `sub` key as name?

[code]

Honestly, I wouldn't put a regex in the token stuff:that would degrade further performances and, if you need to allow permissions to a set of Service Account, you could simply use the `system:serviceaccount:capsule-system` notation that would mean all the SA in the `capsule-system` Namespace.

[2021-06-03 10:30] MaxFedotov commented on #276
The problem is if I want to allow all service accounts located in all tenant's Namespaces to act as tenant owners (and as a cluster admin I don't know which namespaces and SA be in tenant beforehand), but I can use `force-tenant-prefix`, and supply a regexp in tenant spec to achieve it

[2021-06-03 10:36] bsctl commented on #276
@prometherion @MaxFedotov
that's not exactly the intention of the proposal. If well understand, either the

[code]
or

[code]

give the role of tenant owner to _any_ SA in the `capsule-system` namespace. Also such SA will be tenant owner of multiple tenants at same time.

Imho, we should give that role only to SA under the control of the the tenant owner:

[code]

I'm not sure how this can be achi

[2021-06-03 11:38] prometherion commented on #276
No, it isn't.

It seems could be a good idea using the `allowed` and `allowedRegex` fields also in the `owner` key, although this would require a lot of conversion stuff required for the upcoming CRD version.

To address this in the current schema, we could use the annotations meta-programming, but first let's introduce how the `v1alpha2` could be.

[code]

This would be converted to `v1alpha1` as

[2021-06-03 12:32] #274 closed

[2021-06-03 14:25] #277 closed

[2021-06-03 15:37] prometherion commented on #273
Is this something related to the multi-tenancy benchmark?

Asking this because we had a discussion on #132 and we agreed on implementing this once the Policy Engine is set.

[2021-06-03 16:20] #272 closed

[2021-06-03 17:46] #270 closed

[2021-06-03 17:56] bsctl commented on #273
@prometherion yep, it's correct. Currently, it's not part of the multi-tenancy benchmark and it's proposing the same of #132. I suggest to keep it open till the Policy Engine implementation, just to avoid people to suggest the same once again. And it happened to me too ;)

[2021-06-04 12:35] MaxFedotov commented on #276
@prometherion
So, what we would start with? Add support for annotations, update ownerReference webhook, update capsule controller ownerRoleBinding func, right?

[2021-06-05 10:21] prometherion commented on #244
According to latest PR, few updates.

- we're going to provide a Clastix `kubectl` container image since we noticed some missing supported architectures
- no need for `goreleaser`, in the end, we can easily use the base `golang:1.16` container image with a target architecture with build provided by the GH Action `docker/build-push-action@v2`

[2021-06-05 14:12] #244 closed

[2021-06-06 19:29] bsctl opened #283 "Loop in the reconciliation process"
# Bug description
Duplicated `clusterRoleName` in tenant manifest triggers a loop in the reconciliation process (see the logs)

# How to reproduce

1. As cluster admin, create a tenant with the following manifest:

[code]

2. As tenant owner create a namespace, e.g. `sample-production`
3. As cluster admin, check logs of the Capsule controller manager
`$ kubectl -n capsule-system logs -f deploy/cap

[2021-06-06 20:18] #173 closed

[2021-06-06 20:34] bsctl opened #284 "Emit and record events about policy violations"
# Describe the feature
As we done for reconciliation events in #173, it would be nice to emit and record events also for policy violations, for example:

- tenant owner tries to create an ingress with a not allowed Ingress Class
- tenant owner tries to use a not allowed image registry
- ...

# What would the new user story look like?

As cluster admin, inspect a tenant and see policy violations

[

[2021-06-06 20:39] bsctl commented on #284
We can also consider to store policy violations for audit. See for example [Kyverno Policy](https://kyverno.io/docs/policy-reports/). @prometherion wdyt?

[2021-06-07 08:59] prometherion commented on #284
Rather than policy violations, I think we could store this metadata in the `status` for an upcoming version.

[2021-06-07 12:56] #283 closed

[2021-06-07 15:10] prometherion commented on #276
We can start this but, first, we need to scaffold the `v1alpha2` in order to start the migration and get a concrete type to use for testing.

We don't need to start gluing the new version into the current status, just having an API there that is going to be used during the development phase is good enough.

We can open a new issue to track the new CRD version so we can easily test the migration we

[2021-06-07 15:17] prometherion opened #286 "New Tenant v1beta1 version"
New features have been implemented in the current version, most of them are available using annotations that are just a workaround (or rather, a Technology Preview) for the said features.

We have to start releasing the new version that will provide real specification keys for the upcoming and planned features.

- [Assign Priority Classes to tenants](https://github.com/clastix/capsule/issues/257)

[2021-06-07 15:57] MaxFedotov commented on #286
And also we should not forgot about:

[code]

maybe add some new field for capsule-proxy settings?

[code]

so in the result (not including #50, which needs some discussion) it could be smth like:
[code]

[2021-06-14 08:53] #271 closed

[2021-06-14 15:31] prometherion commented on #286
What a stunning job you did, @MaxFedotov! 🚀

Rather than `ProxySettings`, I was thinking that we could further decorate the `OwnerSpec` as follows.

[code]

With this, we could have additional fine-grained permissions on users.

WDYT?

[2021-06-14 15:39] prometherion commented on #50
@MaxFedotov may I ask you for feedback on this?

Since we're delivering `v1alpha2`, I guess we could go for an annotation (`resourcequota.capsule.clastix.io/type={TenantLevel,NamespaceLevel}`).

Wondering if `{TenantScoped,NamespacedScoped}` would fit better as naming. 🤔

[2021-06-14 17:52] MaxFedotov commented on #50
@prometherion what do you think about `resourcequota.capsule.clastix.io/scope = {Tenant/Namespace}`?
and then
[code]

[2021-06-14 17:54] MaxFedotov commented on #286
@prometherion great idea :)

[2021-06-14 20:50] prometherion commented on #50
KISS: I like it! 😂

[2021-06-15 10:49] bsctl opened #290 "Capsule crashes when using additional annotations in namespace metadata"
# Bug description
The Capsule controller crashes when using additional annotations in namespace metadata

[code]

# How to reproduce

1. as cluster admin, create a tenant as above
2. as tenant owner, create a namespace and then a pod in the namespace

# Expected behavior

# Logs
[code]

and

[code]

# Additional context

- Capsule Version `v0.1.0-rc1 aac0c49.dev`
- Helm Chart version: (`helm list

[2021-06-15 11:21] bsctl opened #291 "Crashing when validating external services"
# Bug description
Crashing of the Capsule controller when validating external services.

Tenant manifest

[code]

External service:

[code]

# How to reproduce
1. As cluster admin, create a tenant as above
2. As Tenant owner, create a namespace
3. As tenant owner, create an external service as above

# Expected behavior
Capsule denies the creation of the external service

# Logs

[code]

# Additio

[2021-06-15 11:36] bsctl opened #292 "Store policy violations events for audit"
# Describe the feature
For audit purpose, it would nice to keep history of Tenants policy violations.
Just tracking events as for #289 could be not enough since events are lost after a while.

[2021-06-15 13:10] prometherion commented on #291
It's not related to external services, but rather, to additional metadata to Namespaces.

[code]

[2021-06-15 19:42] #284 closed

[2021-06-16 06:49] #290 closed

[2021-06-18 13:42] prometherion opened #295 "Broken external IPs webhook validation"
An attacker is able to bypass the Service validation when providing a malicious IP.

Given the following Tenant

[code]

I can bypass the validation just providing as first entry the valid IP, followed by a malicious one.

[code]

[2021-06-19 19:33] bsctl opened #296 "Reconciler error when empty ExternalServiceIPs allowed list"
Got this error when creating a service in a tenant with an empty `ExternalServiceIPs` allowed list.

[code]

[code]

[code]

[2021-06-21 10:12] #291 closed

[2021-06-21 10:12] #295 closed

[2021-06-22 19:19] prometherion opened #297 "Refactoring of webhooks"
Since new features are added, we're noticing an increase in new webhooks.

These are hard to track and require a lot of gluing, especially for the `kustomize` integration since we have to add the `namespaceSelector` to decrease the pressure on the Capsule webserver.

We could use a single webhook per resource (`/services`, `/ingresses`, `/namespaces`, `/persistentvolumeclaims`, etc.) using a middl

[2021-06-23 14:34] alegrey91 opened #298 "Check KUBECONFIG env variable is already set during user creation"
# Bug description

During some tests, the script hack/create-user.sh failed because the env variable `KUBECONFIG` was already set.

# How to reproduce

Set the `KUBECONFIG` variable in your test environment:

[code]

Than run the script `hack/create-user.sh alice oil`.

# Expected behavior

We could add a check on top of the script to be sure that the variable is unset. If it is not, exit with an

[2021-06-23 15:57] #298 closed

[2021-06-23 17:46] bsctl commented on #296
@prometherion we do not see this more after #294 merging. Is there any good side effect?
Should we close this or do you think more investigation is required?

[2021-06-24 10:34] ptx96 opened #301 "Provide documentation for Prometheus/Grafana configuration"
We need clear documentation about configuring and installing Prometheus prerequisites :

- servicemonitor
- role
- rolebinding
- serviceaccount

using both resources' manifests or the provided helm charts ;

finally, it would be nice to have a short description of Grafana dashboard panels and a screenshot.

It will take place under [monitoring](https://github.com/clastix/capsule/blob/master/docs/o

[2021-06-24 11:47] #243 closed

[2021-06-24 12:58] prometherion commented on #296
We can close this, if it happens we can open back.

[2021-06-24 12:58] #296 closed

[2021-06-25 10:03] #150 closed

[2021-06-25 19:51] ruzickap opened #302 "Is Amazon EKS supported by capsule"
# Describe the feature

I would like to know if Amazon EKS is supported by capsule.

I tried to configure capsule in Amazon EKS with users created according the following steps, but it doesn't work.

https://www.eksworkshop.com/beginner/091_iam-groups/intro/

I would like to know if Amazon EKS is supported with "their way" of authentication...

[2021-06-25 20:40] bsctl commented on #302
@ruzickap thanks for reporting this. Currently, Capsule is tested against OIDC based authentication and TLS client certificates. What exactly does not work? Logs or error reporting can helps here.

However, EKS provides OIDC, see [here](https://aws.amazon.com/blogs/containers/introducing-oidc-identity-provider-authentication-amazon-eks/). Please, have a check and let us know. Thanks.

[2021-06-26 05:58] ruzickap commented on #302
Here is the way how I did it in Amazon EKS. I followed the official AWS documentation to create users in EKS (not sure if it is compatible with TLS client certificates...

This example will create Amazon EKS cluster with one user `myuser1` which will
have access to cluster.
It is based on [Using IAM Groups to manage Kubernetes access](https://www.eksworkshop.com/beginner/091_iam-groups/intro/)

Cr

[2021-06-26 06:14] bsctl commented on #302
@ruzickap thanks for sharing the logs.
Actually, in Capsule, a tenant owner has be part of the capsule group which default to `capsule.clastix.io`, see [here](https://github.com/clastix/capsule#tenant-owners). This is configurable in Helm chart with the `manager.options.capsuleUserGroup` variable in the `values.yaml`.

Please, make sure myuser1 is part of the capsule group.

[code]

[2021-06-26 06:25] bsctl commented on #302
https://docs.aws.amazon.com/eks/latest/userguide/add-user-role.html

[2021-06-26 06:36] prometherion commented on #302
The guide that @bsctl referenced is interesting because it seems the way to add users to EKS is using that specific ConfigMap, especially the key `mapUsers` rather than the `mapRoles` that are reserved for instance authentication.

If you're able to populate the right ConfigMap key you can easily set up the Groups section that is fundamental for Capsule since it's mostly base on the user authentic

[2021-06-26 10:46] dbonfigli commented on #302
@ruzickap try to specify the group your IAM role will be assigned to in k8s in the command `eksctl create iamidentitymapping` adding `—group capsule.clastix.io` and check if the config map has `groups: [capsule.clastix.io]`.

[2021-06-26 14:59] prometherion commented on #218
We can close this, already fixed with #269.

However, this is interesting:

The first option is already put in place by the CRD key `allowTenantIngressHostnamesCollision`.

The latter ones can be easily implemented at the Tenant level: WDYT?

[2021-06-26 15:02] prometherion commented on #219
Regarding this, can we just put an additional field to the allowed hostnames specifying if we're accepting wildcards domain or not?

Something as follows:

[code]

When `denyWildcard` is enabled, Ingresses hostnames must be FQDN, otherwise, we're not doing any kind of check.

[2021-06-26 15:06] prometherion opened #304 "CapsuleConfiguration options regarding collisions are inverted"
https://github.com/clastix/capsule/blob/25f021e151a7c93e648b91a834baf4bb655ba1d9/charts/capsule/templates/configuration-default.yaml#L12-L13

We just need to invert them, definitely a typo.

[2021-06-26 15:12] MaxFedotov commented on #219
@prometherion great idea! Let's do it after new spec be released :)

[2021-06-27 07:46] ruzickap commented on #302
Thank you guys.

It seems adding the group helped:

[code]

Now it is working fine after I added the `capsule.clastix.io` to `aws-auth` ConfigMap using `eksctl`:

[code]

Thank you for your help.

I'll create a PR where I'll describe these steps for another Amazon EKS users to have it in the documentation (`docs/index.md`)...

[2021-06-27 07:48] bsctl commented on #302
Thanks @ruzickap it is really appreciated.

[2021-06-27 10:24] bsctl opened #307 "Show the cordoning state of a tenant"
# Describe the feature
Tenant cordoning #288 got very good feedbacks from Capsule adopters. However, having more and more tenants, from operational side, it's not so immediate to understand which tenant is in cordoned state and which is not.

For example we can issue
[code]

It would be nice to have this info attached to the state of the Tenant CR.

# What would the new user story look like?
The c

[2021-06-27 10:26] bsctl commented on #307
@prometherion this needs CRD change, let's to plan for that.

[2021-06-27 18:14] ruzickap opened #308 "hostNetwork support in helm chart"
# Describe the feature

Would it be possible to add support for `hostNetwork` in helm chart?
This is necessary for managed clusters like Amazon EKS with custom CNI (such as Calico).

Details can be found here (for example):
* https://github.com/jetstack/cert-manager/blob/15b6f32071b45687b44eb097145815fc3af1b010/deploy/charts/cert-manager/values.yaml#L304-L313
* https://github.com/jetstack/cert-man

[2021-06-27 19:05] prometherion commented on #308
I think that's ok, feel free to take this issue if you want to contribute by opening a PR!

[2021-06-27 19:07] #302 closed

[2021-06-27 20:36] #297 closed

[2021-06-27 20:40] #304 closed

[2021-06-29 09:03] #308 closed

[2021-06-30 07:29] prometherion commented on #286
The new version has been updated to `v1beta1` since we need this according to the deprecation policy of Kubernetes.

[code]

[2021-07-01 06:35] bsctl opened #312 "Tenant Owner Reference on namespaces is lost after restoring from Velero backup"
# Bug description
The Tenant Owner Reference on namespaces is lost after restoring from backup using Velero.

_[Velero requires cluster admin permission, so the restore is performed by the cluster admin and not by the tenant owner. Strictly speaking it's not a bug, since it works by design. However we should address this in some way because it is a requirement from project adopters]._

# How to re

[2021-07-01 10:08] prometherion commented on #312
Velero dropping the `OwnerReferences` is reasonable, although not effective from the developer experience perspective.

Capsule is entirely based on the `OwnerReference` field for bounding Namespace resources to the Tenant one and changing this approach would require a huge refactoring since that would mean re-engineering the solution, also considering the fact this is a limitation by Velero itsel

[2021-07-01 14:20] prometherion opened #315 "Unnecessary RoleBinding reconciliations are triggered"
# Bug description

Noticed this thanks for #243 getting implemented, having more visibility on the underlying requests in a managed Namespace.

It seems Capsule performs multiple reconciliation requests for the `namespace:admin` and `namespace-deleter` RoleBinding.

# How to reproduce

1. Install Capsule on Kind
2. Create a Tenant
3. Create several Namespaces (+100)
4. check logs

# Expected behav

[2021-07-01 14:34] #315 closed

[2021-07-01 14:53] prometherion commented on #202
Closing since #317 is landing on `master`, thanks a lot for the useful inputs @frodopwns!

[2021-07-01 14:53] #202 closed

[2021-07-02 07:50] prometherion opened #318 "Flaky tests on Ingress hostnames collision"
We're facing several times failed e2e tests that are absolutely flaky, [as follows](https://github.com/clastix/capsule/runs/2963707637).

[code]

[2021-07-02 08:14] #286 closed

[2021-07-02 09:16] #318 closed

[2021-07-03 18:05] bsctl opened #321 "wrong name for conversion webhook service"
# Bug description
A wrong name for conversion webhook service is used: `webhook-service` instead of `capsule-webhook-service`

[code]

Capsule Version `v0.1.0-rc2 bd448d8.dev.dirty`

[2021-07-03 18:15] prometherion commented on #321
How did you install Capsule?

Using kustomize, or helm?

[2021-07-03 18:19] bsctl commented on #321
used `kustomize` after `helm upgrade` failed

[2021-07-03 18:23] prometherion commented on #321
Keep in mind `helm upgrade` doesn't update the CRD manifest, so you have to patch it manually.

I'll try to reproduce the issue.

[2021-07-03 18:31] bsctl commented on #321
yep, I went on that :)

After messed up with `helm` then installed from scratch using `kustomize`. Also note the URL of the conversion webhook service `https://webhook-service.system.svc` even if it is installed in `capsule-system` namespace.

[2021-07-03 19:04] bsctl opened #322 "Improve support for `kubectl explain` of the tenant CRD"
# Describe the feature
Since we're approaching to a more mature `v1beta1` tenant CRD, it would be nice to improve the support for `kubectl explain`. Currently, no high level description of the fields are displayed:

[code]

[2021-07-05 11:55] #321 closed

[2021-07-05 13:53] #312 closed

[2021-07-05 14:02] nmarcetic opened #325 "Auto provision namespaces on tenant creation"
# Describe the feature
It would be handy if the tenant namespace can be auto-provisioned on tenant creation. When Bob, as a cluster-admin provisions new tenant oil with three namespaces development, production and test, they are auto-provisioned (e.g namespace admin Alis don't need to create them). It's a bit different from k8s native expi, but very handy in cases when "container as a service" exp

[2021-07-05 14:12] prometherion commented on #325
Hey @nmarcetic, thanks for the feature report!

It seems we already discussed something similar on https://github.com/clastix/capsule/issues/174#issuecomment-749757971, although different.

I don't think we want to let Capsule create on behalf of the Tenant owner a set of desired Namespace resources, since we embraced the self-service approach since the beginning of the project, but let's open a d

[2021-07-05 14:28] #307 closed

[2021-07-05 14:36] prometherion opened #326 "Conversion webhook CA bundle is not updated when installing with Kustomize"
Related to #321.

When installing with `kustomize`, the webhook CA bundle is not properly updated by the CA controller.

[2021-07-05 14:46] nmarcetic commented on #325
@prometherion Thanks! Basicaly it's the same/duplicated, just not related to the helm. Helm solution is a bit complicated and limited to the helm, but I suppose it can work for me too, thanks to @d-m

Having this In capsule core would be valuable, yes, but I agree about the self-service approach since it's not really k8s native style. I was looking it more like a resource limitation (like node sel

[2021-07-05 15:58] #326 closed

[2021-07-05 16:55] bsctl commented on #325
@nmarcetic thanks for interest in Capsule! When designed it, we assumed that is not responsibility of Capsule to create namespaces on behalf of the tenant owner. Namespaces self service provisioning is one of the key features in Capsule.

IMO, if you need for namespaces creation in automated way, it can be achieved as part of tenant on boarding procedure, for example.

[2021-07-05 17:02] prometherion commented on #325
I couldn't agree more, @bsctl.

I guess if you play with Namespace quota and automation during the CD phase, you could nail it.

Going to close the issue, feel free to open it back at your wish!

[2021-07-05 17:02] #325 closed

[2021-07-05 17:27] nmarcetic commented on #325
Got it. Provisioning In the onboarding stage makes sense, I will go that way, doing it as abstraction and keep capsule handle isolation only.

Thanks, @prometherion @bsctl kudos for great work!

[2021-07-07 08:18] Nayels opened #329 "Using capsule on an existing cluster with multiple namespaces"
# Describe the feature

What is the correct way for implementing capsule to an existing cluster with multiple namespaces? Are there any caveats?

If so I would like to take a try at creating a specific use case for administrators that want to implement capsule on an existing cluster.

[2021-07-07 08:31] prometherion commented on #329
Thanks for the question, @Nayels.

Capsule can easily be installed on any Kubernetes cluster since it's essentially an add-on and there shouldn't be any incompatibility with other architectures.

Maybe are you referring to how to attach several and already created Namespace resources to a Tenant?

[2021-07-07 09:05] Nayels commented on #329
Thanks for the quick reply, @prometherion

Good to know!  Yes, also.

[2021-07-07 13:49] prometherion commented on #329
I think it's feasible, although you could end-up with some duplicated resources, especially for the RoleBinding ones.

What I would suggest is the following:

1. stop Capsule in order to block reconciliations
2. create a Tenant (e.g.: `oil`) with all your requirements and retrieve its UID (`kubectl get tenants.capsule.clastix.io oil --no-headers -o custom-columns=":.metadata.uid"`)
3. edit all the

[2021-07-08 09:24] MaxFedotov opened #331 "v1beta1 additionalPrinterColumns for tenant owner info"
In `v1alpha1` version of capsule, `tenant` can only have a single owner, so we added
[code]
to `additionalPrinterColumns ` in crd spec.

But in `v1beta1` it is possible to specify multiple owners for a tenant, and as `additionalPrinterColumns` doesn't support arrays (https://github.com/kubernetes/kubectl/issues/517) we need to find a solution how to show user information about tenant owners (or ma

[2021-07-08 10:05] prometherion commented on #331
Since we're going for multiple owners, we could drop the support for the Owner columns, also because it's something out of our scope and a limitation of upstream Kubernetes project.

Let's wait @bsctl's feedback.

[2021-07-08 10:20] bsctl commented on #331
Removing the field from CRD breaks some UIs we built on top of Capsule, including the customer one.

What about to keep the field in CRD and populate it with only the first element of the array? Sounds ugly … but doesn’t break the customer’s UI.

[2021-07-08 13:32] nmarcetic commented on #68
IMHO [Minimal security requirements](https://kubernetes.io/blog/2021/04/15/three-tenancy-models-for-kubernetes/#security-considerations) which toucles namespaces-as-a-service should be considered if they are not already implemented. As they are following CN Security best practices for cluster security.

[2021-07-11 03:26] sebagarayco opened #332 "Issues with OIDC (Keycloak) and custom group name in claim"
# Bug description

Unable to create namespaces as Tenant Owner using custom group name obtained from oidc claim.

# How to reproduce

1. Install capsule using Helm and define capsuleUserGroup as /groups/groupname
2. Configure users_groups claim to pass group /groups/groupname (confirmed pulling and inspecting an access_token)
2. Create tenant called "oil" as admin and assign user username@domain.c

[2021-07-11 06:27] prometherion commented on #332
Thanks for the bug report, @sebagarayco!

Before proceeding, would be great having a sample access token to inspect the OIDC properties, as well a `kubectl get capsuleconfiguration default -o yaml` to help us understanding the issue.

Feel free to obfuscate sensitive information.

[2021-07-11 15:36] sebagarayco commented on #332
Hi @prometherion!

I've noticed that CRD CapsuleConfiguration hasn't been created at all:
[code]

Below you'll find an ofuscated access token and the configuration on the kube-apiserver side:
[code]

Kube-apiserver:
[code]

Really looking forward to use Capsule!
Thanks

[2021-07-12 07:47] Nayels commented on #329
Closing issue. Thanks for the support @prometherion!

[2021-07-12 07:47] #329 closed

[2021-07-12 07:51] prometherion commented on #332
My bad, @sebagarayco: the `CapsuleConfiguration` CRD has landed on master but you're still using the CLI flags.

May I ask you the args you're passing to the Capsule controller manager?

[2021-07-12 09:27] #276 closed

[2021-07-12 12:16] sebagarayco commented on #332
Sure.
[code]

[2021-07-12 16:22] bsctl commented on #332
@sebagarayco hello, thanks for giving Capsule a try.

Just a question, is `/groups/groupname` a valid format for a group? Are you able to authenticate (no Capsule, just APIs server) a user having `/groups/groupname` in his JWT token?

This is an example we are pretty sure it's working

APIs server
[code]

[2021-07-12 17:42] sebagarayco commented on #332
Hey @bsctl / @prometherion!

I can confirm that the issue is related to the group path format.
I've changed my claim to not use 'Full Group Path' on keycloak side and everything is working like a charm now.

We can close this one, thank you very much.

[2021-07-13 05:18] #332 closed

[2021-07-13 19:29] prometherion opened #333 "Creating a tenant with missing allowed entries for external service IPs blocks a Tenant reconciliation"
# Bug description

The webhook conversion is creating a nil map to external service allowed struct member, causing a failure on update of the resource since the field is mandatory.

# How to reproduce

Create the following Tenant.

[code]

Try creating a Namespace:

[code]

But Namespace is not assigned:

[code]

Even inspect the Tenant YAML, the status is not updated.

[code]

# Expected behavior

[2021-07-14 18:54] #333 closed

[2021-07-15 09:46] bsctl commented on #331
@prometherion @MaxFedotov any idea how to solve this?

[2021-07-15 13:40] prometherion commented on #331
We're not removing any field from the CRD, but rather we're talking about the additional printer column used by `kubectl`.

If any dashboard has been implemented on top of Capsule, there are no breaking changes until it uses the `v1alpha` endpoint rather than `v1beta1`, although the upgrade should be planned since the new version is going to support tenant owners.

For `v1alpha` it will be kept, b

[2021-07-15 13:45] bsctl commented on #331
@prometherion Thanks got it.

[2021-07-15 13:47] bsctl commented on #331
Noted already removed in master

[code]

going to close the issue?

[2021-07-15 13:49] prometherion opened #335 "Support for Kubernetes 1.22"
[Kubernetes 1.22 is coming](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/) and with a lot of API removals.

We're already using `CustomResourceDefinition` and `{Validating,Admission}WebhookConfiguration` resources in `v1` but Capsule is managing also `extensions/v1beta1` and `networking.k8s.io/v1beta1`. For these latest ones, we have to create a sort of check, disablin

[2021-07-15 14:01] bsctl opened #336 "Improve Velero Backup Restoration script"
# Describe the feature
Some small improvements of the Velero Backup Restoration script `hack/velero-restore.sh`

- support for multiple tenant crd api version: `v1beta1` and `v1aplha1`
- make `kubeconfig` file optional
- restore only the specified tenant not all (if the tenant is not specified on the command, then restore all tenants)

[2021-07-15 14:02] MaxFedotov commented on #331
@bsctl if you are ok with removing it - issue can be closed :)

[2021-07-15 14:04] bsctl commented on #331
It looks like no way, according to comments above :)

[2021-07-15 14:04] #331 closed

[2021-07-15 14:39] prometherion commented on #336
JFI we just need to use `v1beta` since the UID is essentially the same, conversion is performed on Kubernetes side and, since we're delivering new versions, forcing new users to use the latest version.

tl;dr; let's update the script with `v1beta1` reference.

[2021-07-15 14:48] bsctl commented on #336
@prometherion the script should work for v0.0.5 too as we have customers doing backup and restore with `v1alpha1`

[code]

Currently, the api version `v1apha1` is hardcoded.

[2021-07-16 07:19] #336 closed

[2021-07-16 07:25] prometherion opened #339 "Block usage of ExternalName Service type"
A new [CVE has been reported](https://github.com/kubernetes/kubernetes/issues/103675) regarding a possible attack of cross-Namespace network forwarding.

Ingress Controllers are actually trying to mitigate the issue by ignoring the _Service_ resources of `ExternalName` type, would be great blocking creation of these kinds of resources at Tenant level with a new key in the CRD, such as:

[code]

@M

[2021-07-16 07:30] MaxFedotov commented on #339
Lgtm!
And the annonation will be
`capsule.clastix.io/enable-external-name: "false"`?

[2021-07-16 07:32] prometherion commented on #339
I'd say yes, let's keep the same naming pattern for `v1alpha1`.

[2021-07-16 07:34] prometherion opened #340 "Missing example for v1beta1 API version"
The sample for version `v1beta1` is empty, or rather, the scaffolded one by Operator SDK.

https://github.com/clastix/capsule/blob/96f4f31c17f72cd47ad9833c2b9050fca692a4bf/config/samples/capsule_v1beta1_tenant.yaml#L1-L7

We should replicate as we did with `v1alpha1`, as well performing a clean-up of [empty files](https://github.com/clastix/capsule/blob/89c66de7c6f4abd4b4f1559df97df1a2f13a81a0/con

[2021-07-17 08:16] bsctl opened #342 "Missing migration of enable-node-ports annotation from v1alpha1 to v1beta1"
# Bug description

Missing migration of enable-node-ports annotation from v1alpha1 to v1beta1

# How to reproduce

[code]

after migration becomes

[code]
# Expected behavior

[code]

# Logs

If applicable, please provide logs of `capsule`.

In a standard stand-alone installation of Capsule,
you'd get this by running `kubectl -n capsule-system logs deploy/capsule-controller-manager`.

# Additional

[2021-07-17 10:27] prometherion commented on #342
Definitely a bug on our side and the _magick_ combined by the conversion webhook and the OpenAPI Specification 3 defaults.

I'd say it's something related to kubernetes-sigs/kubebuilder#2109, they're having the same issue with booleans but I guess we could solve it using some pointers to avoid the default values.

PR is on its way.

[2021-07-17 16:55] prometherion opened #345 "Outdated use-cases API version in documentation"
All the documentation on use-cases is referencing to the `v1alpha1` API version, we should update to `v1beta1` along with new features implemented.

[2021-07-17 17:01] prometherion opened #347 "Providing a single YAML file installer"
Actually, we support two kinds of installation:

- Helm
- Kustomize

Kustomize is still required for the development purpose since the Kubebuilder annotations don't provide all the required extra fields, but forcing end-users to have it as installation dependency is cumbersome.

Would be great having a single YAML file that is going to be used to install all the required resources, something as `k

[2021-07-19 06:15] #342 closed

[2021-07-19 13:05] #340 closed

[2021-07-19 13:21] #347 closed

[2021-07-19 15:07] #322 closed

[2021-07-19 15:17] bsctl commented on #345
@prometherion good point. Also the [reference](https://github.com/clastix/capsule/blob/master/docs/operator/references.md) section should be updated.

[2021-07-19 15:39] bsctl commented on #148
@ptx96 is it possible to use your experience on #300 to provide a benchmark for Capsule performances?

[2021-07-19 15:46] MaxFedotov opened #349 "Support v1beta1 in capsule-proxy"
In order to support v1beta1 API in capsule-proxy we need to add a few changes to capsule v1beta1 API:
1. Use constants in `owner` spec instead of strings (so when we import v1beta1 capsule API in capsule-proxy we can use the same constants)
2. Add additional function to get `proxySettings` for a specific tenant `owner`
3. Update `create-user.sh` script to support multiple `groups` as tenant `owner

[2021-07-19 15:52] bsctl commented on #345
Going to assign myself since a refactoring of the whole documentation seems required

[2021-07-20 09:21] #349 closed

[2021-07-21 12:34] #339 closed

[2021-07-21 14:48] #257 closed

[2021-07-22 12:45] prometherion commented on #256
I think we're in a good shape, here: are we still missing something?

[2021-07-22 12:47] prometherion commented on #68
@nmarcetic maybe we could consider the RBAC one, since NetworkPolicy and Pod Security Standards items are already put in place by the Tenant definition using the `.spec.networkPolicies` and `.spec.additionalRoleBindings` keys.

But I think we should address this discussion in another issue since this is just for the MT benchmark.

[2021-07-22 12:49] bsctl commented on #256
New features are going to be consolidated now so we can start to work on that. PR will follow

[2021-07-22 15:37] prometherion opened #354 "Group Service options"
On `v1beta1` we're grouping all the Service options in a new structure key but we're missing the `externalServiceIPs` one.

Having something as follows would be great.

[code]

[2021-07-23 06:11] prometherion commented on #131
We need that webhook, otherwise, we would end up in a loop where the Controller Manager Service Accounts couldn't be able to perform the deletion of the resources upon Tenant/Namespace deletion.

[2021-07-23 06:11] #131 closed

[2021-07-23 06:28] #354 closed

[2021-07-23 09:22] bsctl commented on #218
Closed by #269

[2021-07-23 09:22] #218 closed

[2021-07-23 11:54] bsctl opened #358 "Ingress hostname collision check at Tenant level"
# Problem statement
Going to think about how to refactor the ingress hostname collision checks in Capsule since it looks there is still a grey area there

- https://github.com/clastix/capsule/issues/218#issuecomment-791940109
- https://github.com/clastix/capsule/issues/218#issuecomment-791942131
- https://github.com/clastix/capsule/issues/218#issuecomment-869014916

Capsule in `v1beta1` implements

[2021-07-23 16:23] spagno opened #359 "Adding Namespace Creation"
Using helm install with a target namespace gives error if the namespace doesn't exist. The create namespace command was added to the chart documentation

[2021-07-23 17:38] #359 closed

[2021-07-23 21:45] prometherion opened #361 "Flickering of hard quotas when dealing with multiple resources"
# Bug description

Creating a Tenant and subsequently a Namespace with the following definition a reconciliation loop for the ResourceQuota is put in place.

# How to reproduce

1. Create the following Tenant

[code]

2. `kubectl --as alice --as-group capsule.clastix.io create namespace oil-development`
3. `kubectl --namespace oil-development create deployment ...`
4. checks the ResourceQuota hard

[2021-07-24 12:36] #50 closed

[2021-07-24 12:36] #361 closed

[2021-07-27 10:10] MaxFedotov opened #363 "Refactoring the Tenant controller"
tenant_controller.go codebase became too large to read, so I propose to split it into separate files for each of the resources it manages, like
[code]

[2021-07-27 10:27] prometherion commented on #363
@MaxFedotov JFI that wouldn't be a _chore_ but rather a _refactor_

[2021-07-28 17:25] prometherion commented on #358
I think we can try to address this with a fine grained control, at multiple levels.

We could do a change to the `CapsuleConfiguration` API that would enforce all the rules you described, @bsctl.

[code]

The `spec.hostnameCollision.strict` option is the toggle to enforce the strict check (no multiple Ingress resources using the same hostname) or the loose one (considering hostname and the subsequ

[2021-07-29 07:22] bsctl commented on #358
A Tenant level check is more powerful. +1

In addition, we should consider to review the meaning of spec.allowTenantIngressHostnamesCollision option as global configuration. As seen above, it has a limited usefulness because works only on matching strings, and not on regex.

Proposal is: prevent hostname collision across tenants during Ingress provisioning not during tenant provisioning. Tenant pr

[2021-07-29 13:06] prometherion commented on #207
@bsctl I think this is the root of #358, would be better to have a single issue to track: WDYT closing this in favor of the latter?

[2021-07-29 13:18] prometherion opened #365 "Limiting amount of Resources a Tenant can create in its Namespace"
# Describe the feature

If a Cluster Admin wants to block the overall usage of Pods or any other Kubernetes default resource in the Tenant, the ResourceQuota feature is the perfect fit for this kind of limiting/enforcement.

But this doesn't cover the case of Namespaced Custom Resource Definitions that could be delegated using the `additionalRoleBindings` Tenant specification.

# What would the ne

[2021-07-29 13:18] prometherion commented on #365
@bsctl would be great having feedback from you if we want to land this feature for the v0.1.0 release or not.

[2021-07-29 15:45] bsctl commented on #365
@prometherion great proposal like it +1

[2021-07-29 15:56] bsctl commented on #207
Closing in favor of #358

[2021-07-29 15:56] #207 closed

[2021-07-30 15:13] prometherion commented on #358
Couldn't agree more.

This means we're going to deprecate this option in the CapsuleConfiguration CRD and moving this to the Tenant specification.

I'd suggest also a refactoring on how structuring the API, something as a new parameter, eg. `ingressOptions`.

[2021-08-04 11:00] abexamir opened #368 "error in applying yaml file; no matches for kind "CapsuleConfiguration" in version "capsule.clastix.io/v1alpha1""
# Bug description

I wanted to install Capsule on my cluster that's provisioned using RKE using the single yaml-file method, everything works fine, and all resources get created until it reaches CapsuleConfiguration.

# kubectl apply -f ... output

[code]
# Expected behavior

Capsule gets deployed to my cluster and I can create tenants and desired workloads.
# Logs

[code]

# Additional context

-

[2021-08-04 15:05] prometherion commented on #368
Hey @abexamir, thanks for the bug report!

I was able to replicate the odd behavior using a local KinD instance, tho.

[code]

It seems the API Server is not able to serve immediately the API aggregation backed by the CRDs, in fact, if I try to issue a second application, it works as expected.

[code]

Please, notice the `capsuleconfiguration.capsule.clastix.io/capsule-default created` statement.

[2021-08-04 15:42] MaxFedotov opened #369 "Refactor NamespaceQuota and NamespaceMetadata in tenant spec"
With the latest tenant spec updates, we implemented grouping of different kind-related options under some parent entities (for example, all options related to `Services` are grouped under `ServiceOptions` in `TenantSpec`).

We had two namespace-related parameters in `TenantSpec` - `NamespaceQuota` and `NamespacesMetadata`

My proposal is to group them in a following way:
[code]

[code]

[2021-08-04 16:55] prometherion commented on #369
It's a +1 for me, let's wait @bsctl feedback.

Just a quick question: maybe is better to use `NamespaceOptions` as a pointer to allow `nil` values, otherwise we would end up with tenant specifications like the following.

[code]

Not sure about this, we would need a little investigation for this.

[2021-08-04 17:18] MaxFedotov commented on #369
I thought about it, but isn't quota a required param?

[2021-08-04 17:34] prometherion commented on #369
Not anymore, starting from #145.

However, dealing with pointers in the specification is an hassle, we can check if we can combine the `Enum` provided by Kubebuilder with the `IntOrString` type provided by `k8s.io/apimachinery/pkg/util/intstr` package, so we could use an integer for the quota or the enum `Unlimited` for no quota at all.

[2021-08-04 18:05] abexamir commented on #368
Thank you @prometherion, I got no errors after re-applying the manifest.

[2021-08-04 18:06] #368 closed

[2021-08-05 15:40] Cryptophobia opened #370 "Update helm chart: unknown flag: --allow-ingress-hostname-collision"
# Bug description

Need to update the helm chart to allow the `--allow-ingress-hostname-collision` on the manager container. Currently if we try to deploy `v0.1.0-rc5` with helm chart version `0.0.19` we get an error as below:

[code]

# How to reproduce

Steps to reproduce the behavior:

Install with helm chart like this:
[code]

# Additional context

- Capsule version: v0.1.0-rc5
- Helm Chart ve

[2021-08-05 15:52] Cryptophobia commented on #370
Looks like a regression. Chart 0.0.18 works but chart 0.0.19 is broken with release candidate `v0.1.0-rc5`…

[2021-08-05 15:58] prometherion commented on #370
Hey, thanks for the bug report! Actually, the latest RC are not yet compatible with the published Charts, I'd suggest you to use the bare Chart on the `master` branch or wait still few weeks since we're in the middle of the v0.1.0 release and a new Chart will be published, too.

[2021-08-05 16:01] Cryptophobia commented on #370
Thanks for quick reply @prometherion. Can wait for new release. Feel free to close this. Cheers!

[2021-08-05 16:01] #370 closed

[2021-08-07 09:12] abexamir opened #371 "unable to use new tenant kubeconfig; tls: failed to find any PEM data in certificate input"
# Bug description

After installing Capsule into the cluster and creating the first tenant using the getting started guide on README, I created a user using the hack script as mentioned in the guide, but after assigning a new kubeconfig file( `export KUBECONFIG=alice-oil.kubeconfig`) I can't use the cluster and make any request to apiserver. for a simple `kubectl get pods ` command I get this erro

[2021-08-07 16:55] prometherion commented on #371
Hey @abexamir, thanks for reporting this issue!

May I ask you to share the generated `kubeconfig` and ensuring the content stored on keys `client-certificate` and `client-key` are ok and real certificate and key?

[2021-08-07 17:24] prometherion opened #372 "Build image using CI are not reporting build metadata"
# Bug description

Images built from the Docker CI on GitHub actions are not reporting anymore the build metadata, such as build date, build from, Capsule version, etc.

# How to reproduce

1. `docker run --rm quay.io/clastix/capsule:v0.1.0-rc5 -v`
2. Check the logs

# Expected behavior

Expecting logs properly printed out as follows.

[code]

# Logs

[code]

# Additional context

- Capsule versio

[2021-08-07 17:48] prometherion commented on #372
Nailing this issue should be easy, we just need to add add the `build-args` list items according to the current [GitHub Action documentation](https://github.com/docker/build-push-action).

[2021-08-07 18:02] MaxFedotov opened #373 "wrong package name for config controller"
Package for config controller is named `rbac` (https://github.com/clastix/capsule/blob/master/controllers/config/manager.go#L4) instead of `config`

[2021-08-07 18:07] prometherion commented on #373
Nice catch, totally missed this.

[2021-08-07 18:40] #373 closed

[2021-08-07 19:37] #363 closed

[2021-08-07 21:39] MaxFedotov commented on #369
@prometherion i don't understand which benifits will we have if using `intstr` :( As for me it makes everything more complicated. I if don't want to enforce quota for namespaces - I won't specify it in tenant spec. If I want it - I will specify the precise value.

[2021-08-08 06:35] prometherion commented on #369
It was to avoid nil pointers, but at the same time with controller-gen we're having some issues with enums or pattern markers, so let's skip this and use a nil value as you suggested.

[2021-08-09 09:53] #372 closed

[2021-08-09 15:30] MaxFedotov opened #377 "refactor AdditionalMetadataSpec struct"
Right now `AdditionalMetadataSpec` looks like
[code]

i think we should remove `Additional` prefix from `Labels` and `Annotations`, 'cos we already have it in the structure name and duplicate it.
New structure will look like:
[code]

[2021-08-09 15:30] MaxFedotov commented on #377
@prometherion  WDYT?

[2021-08-09 16:26] prometherion commented on #377
LGTM!

[2021-08-09 18:25] #369 closed

[2021-08-10 09:11] #377 closed

[2021-08-10 13:39] #335 closed

[2021-08-10 16:46] prometherion opened #380 "Tenant status should be capitalized"
Actually, the available status of a Tenant can be `active` or `cordoned`.

Following Kubernetes naming best-practices, these should be capitalized (`Active` and `Cordoned`).

[2021-08-10 17:45] gaurav04 opened #382 "Not Showing Namespace Quota value"
# Bug description

Not showing value under Namespace Quota for tenant, which allow creating multiple namespace in tenant when we use YAML file for installation of Capsule

# How to reproduce

Steps to reproduce the behavior:

1. https://github.com/clastix/capsule/blob/master/config/samples/capsule_v1alpha1_tenant.yaml
`. kubectl get tenant
NAME   STATE    NAMESPACE QUOTA   NAMESPACE COUNT   NODE S

[2021-08-10 20:33] prometherion commented on #382
Hey @gaurav04, thanks for reporting!

The root cause of the issue you're facing is related to #369, a refactoring of the Namespace options. The issue is that you're running the image `v0.1.0-rc5` that has been released before the said refactoring and this breaks the conversion from the `v1alpha1` to the `v1beta1` conversion.

If you try building locally Capsule from `origin/HEAD` you shouldn't enc