[2021-08-11 05:28] #380 closed

[2021-08-12 17:30] #358 closed

[2021-08-13 09:36] bsctl commented on #148
@ptx96 please take care of defining `PrometheusRule` for the Alert Manager. Aims is to inform the cluster admin about possible critical issues about Capsule, for example:

[code]

[2021-08-16 08:41] ptx96 commented on #371
Hi @abexamir and thank you for your question!

Can you please verify with

`kubectl get csr <USER>-<TENANT> -o json`

that your ".spec.certificate" is not empty?

[2021-08-16 09:01] ptx96 opened #383 "serviceMonitor additional HELM values"
Implement additional servicemonitor helm values :

- labels
- annotations
- matchLabels

[2021-08-16 14:51] ptx96 opened #385 "Create user "hack" scripts produce errors during certs/kubeconfig generation"
# Bug description

Executing "create-user" hack scripts for tenant user onboarding throws :
[code]

Adding :
[code]
to the *.csr.yaml should do the trick;

nevertheless, my ".spec.certificate" field results empty _sometimes_ :
[code]

resulting in :

[code]

# How to reproduce
[code]
OR
[code]

# Expected behavior
[code]
[code]

# Logs

Logs are inside bug description

# Additional context

- Caps

[2021-08-16 16:02] MaxFedotov opened #386 "support `customLabels` in capsule helm chart"
Sometimes users had some custom logic, which relies on labels that should be present on all application parts (deployment, service, rbac, etc).

In many charts this is done via `customLabels` param in `values` (see https://github.com/kyverno/kyverno/blob/main/charts/kyverno/templates/_helpers.tpl#L40 as an example).

@prometherion, @bsctl  What do you think about adding this param to `capsule` hel

[2021-08-16 16:04] prometherion commented on #386
LGTM!

[2021-08-16 16:04] prometherion commented on #386
I'd say we could manage also additional Annotations, it shuold be easy to achieve.

[2021-08-17 07:42] bsctl opened #387 "wrong description for priorityClasses field"
# Bug description
The `kubectl explain tenant.spec.priorityClasses` command reports a wrong description

[code]

Just a typo. It should be

[code]

[2021-08-17 09:25] #385 closed

[2021-08-17 11:00] bsctl opened #390 "Prevent tenants to use ServiceType LoadBalancer"
# Describe the feature
In a multi-tenant environment, it would be useful to prevent tenant owners to use ServiceType LoadBalancer. The reason for that is  ServiceType LoadBalancer creates an external Load Balancer cloud resource (when allowed by the Cloud Provider) and this can be not allowed by the cluster admin policy.

# What would the new user story look like?
To prevent tenant users to alloca

[2021-08-17 12:58] #345 closed

[2021-08-17 13:19] #387 closed

[2021-08-17 15:21] #390 closed

[2021-08-17 16:01] #383 closed

[2021-08-17 20:24] #386 closed

[2021-08-18 18:05] bsctl commented on #165
@prometherion is this just a matter of update the `contribution.md` file?

[2021-08-18 18:08] prometherion commented on #165
Yes, and documenting also the use of [semantic git commit messages](https://www.conventionalcommits.org/en/v1.0.0/).

Along with this, we should also put in place the relative GH action, I can take care of this so you can work on the docs.

[2021-08-18 18:22] prometherion commented on #165
- [x] [Implement CI action to check the commit message](https://github.com/clastix/capsule/pull/393)
- [ ] Documenting the Conventional git Commit Messages
- [ ] Documenting required new-line at the end of the file as a coding style

[2021-08-18 18:29] prometherion commented on #256
We can close this, CRD on the Helm Chart folder is already aligned.

[2021-08-18 18:31] bsctl commented on #256
@prometherion not yet pls, just finding small errors in the chart

[2021-08-18 18:41] bsctl opened #394 "Align the installer to use the default configuration name for CapsuleConfiguration"
The installer sets the configuration name for `CapsuleConfiguration` to `- --configuration-name=capsule-default` while the Helm Chart uses the default value `--configuration-name=default`.

According to the _real default value_

`flag.StringVar(&configurationName, "configuration-name", "default", "The CapsuleConfiguration resource name to use")`

we should make them consistent.

[2021-08-18 20:08] prometherion commented on #394
We cannot because `kustomize` prefixes all the created resources with the name of the operator, `capsule` in our case.

I have to investigate if we can change this behavior using the `kustomization` file.

[2021-08-18 20:12] bsctl commented on #394
Not a big issue, imho: just set the default to:

`flag.StringVar(&configurationName, "configuration-name", "capsule-default", "The CapsuleConfiguration resource name to use")`

[2021-08-18 20:22] prometherion commented on #394
I wouldn't change the default name because the default installation method should be Helm and from a developer experience could be silly retrieving the configuration from the CLI.

[code]

We're already prepending Capsule in the CRD Kind, also in the name would be absolutely non elegant.

[2021-08-18 20:56] bsctl commented on #394
revert back?

[2021-08-18 21:14] prometherion commented on #394
I don't get the point: reverting what?

[2021-08-18 21:38] #256 closed

[2021-08-19 07:52] bsctl commented on #371
@abexamir we think it should be fixed with #388. Could you please check? Thanks

[2021-08-19 07:57] bsctl opened #397 "Add a documentation website"
# Describe the feature
We should add support for a documentation website, e.g. https://capsule.clastix.io

[2021-08-19 08:33] bsctl commented on #394
Going to close as per the comment above.

[2021-08-19 08:33] #394 closed

[2021-08-19 11:03] #165 closed

[2021-08-19 13:11] #301 closed

[2021-08-19 14:53] bsctl opened #400 "Improve and correct documentation"
Small typos and broken links in documentation

[2021-08-20 12:53] ptx96 opened #403 "Grafana Webhook variable does not provide all possible values until triggered"
# Bug description

We currently fetch the "Webhook" variable' values from the _controller_runtime_webhook_latency_seconds_sum_ metric
However, this solution does not provide all possible values **until relative webhooks are triggered**

# How to reproduce

Simply upload the capsule dashboard **without** executing any trigger/test.

# Expected behavior

![image](https://user-images.githubuserconten

[2021-08-20 15:37] ptx96 opened #405 "Evaluate needed security measures as defined in Kubernetes Hardening Guidance"
### Background

The [Kubernetes Hardening Guidance by NSA and CISA](https://media.defense.gov/2021/Aug/03/2002820425/-1/-1/1/CTR_KUBERNETES%20HARDENING%20GUIDANCE.PDF) details recommendations to harden Kubernetes systems;

while some security measures depend on the target cluster and its architecture, others are closely related to containers and Pods, due to possible vulnerabilities, misconfigurat

[2021-08-20 15:39] #403 closed

[2021-08-20 15:55] prometherion commented on #405
@ptx96  can you run the test suite again excluding the Capsule Namespace and update the comment with the new results?

We can ignore the `capsule-system` Namespace since our Operators has to act as cluster admin.

[2021-08-20 17:59] ptx96 commented on #405
Added more tests to the issue description.

In this way, only cluster-wide resources have been retrieved (probably out of scope).

I don't think we should ignore `capsule-system` namespace, because we'd lose focus on some interesting checks.

[2021-08-23 14:38] #400 closed

[2021-08-26 15:18] MaxFedotov opened #407 "support namespace labeling for tenant owners"
Current capsule and capsule-proxy implementations deny namespace labeling for tenant owners. The background for this decision was that there are a number of labels, which can lead to different security issues when they are added to a namespace (for example, they can allow to bypass Network Policies).

While this is true, sometimes tenant owners need to have and ability to add some well-known label

[2021-08-26 15:20] bsctl opened #408 "Document how to migrate from Tenant custom resources from v1alpha1 to v1beta1"
# Describe the feature
For users already using Capsule, document how to migrate from Tenant custom resources from `v1alpha1` to `v1beta1`

[2021-08-26 15:32] bsctl opened #409 "Proxy settings in Tenants v1alpha1 are not migrated to v1beta1"
# Bug description
Proxy settings in Tenants `v1alpha1` are not migrated to `v1beta1`

# How to reproduce

[code]

is translated as

[code]

# Expected behavior

[code]

# Logs

If applicable, please provide logs of `capsule`.

In a standard stand-alone installation of Capsule,
you'd get this by running `kubectl -n capsule-system logs deploy/capsule-controller-manager`.

# Additional context

- Cap

[2021-08-26 16:46] #409 closed, assigned to MaxFedotov

[2021-08-27 11:18] adrianhernandez-stratio opened #410 "Deploy chart with more than one replica fail webhooks"
# Bug description

When I deploy the chart with more than one replica, the webhooks only start listenting in the leader. This causes that when requests are started and reach the replica, it returns a `500 error connection refused` because the webhooks have not been deployed.

The reason is because the chart deployment create an empty secrets (_ca-secret_ and _tls-secret_) and the _manager_ contain

[2021-08-28 08:33] prometherion commented on #273
Implemented with `v1beta1` (#286) and by commit 416609362d83a96830cc29c2659e1f7ef0a5942a.

[2021-08-28 08:33] #273 closed

[2021-08-28 08:57] prometherion commented on #292
We have to understand where we should store these events, user story is not enough detailed for a planning.

[2021-08-28 08:58] prometherion commented on #219
We missed this for v0.1.0, let's plan for v0.1.1

[2021-08-28 09:01] prometherion commented on #180
How to handle fairness when an Owner owns multiple Tenant resources?

We would end up with duplicates matching different values, not sure how the Kubernetes controller would deal with them.

[2021-08-31 07:55] adrianhernandez-stratio commented on #410
Hi @prometherion, thanks you for quick response.

I think that the best option that you propose is the first one, as you well indicate, it can be confusing to deploy the chart with one replica and then scale.

Cheers!

[2021-09-01 16:18] #410 closed

[2021-09-03 18:01] oliverbaehler opened #412 "Controller Crashes when ServiceAccount has no Namespace"
# Bug description

When I want to assign a ServiceAccount as Owner of a Tenant it obviously requires a namespace reference to where that serviceAccount is located. I didn't think about that the first time I deployed a tenant with a ServiceAccount as Owner reference. As a result the Controller keeps crashing. This shouldn't happen in a production environment, since when the controller is crashing y

[2021-09-03 18:13] oliverbaehler commented on #412
If i took one second to study the code.....arghh

[code]

[2021-09-03 18:42] prometherion commented on #412
Hi @oliverbaehler, thanks for the bug reporting!

Definitely a bug, I was able to reproduce it, but besides that, since we're not validating the owner name when dealing with a Service Account, the reconciliation is broken with that awful index out of range.

We can easily fix it at Tenant creation validation, PR is on its way!

[2021-09-04 10:15] oliverbaehler commented on #412
@prometherion Thats was fast... :D

[2021-09-04 12:17] #412 closed

[2021-09-05 13:20] oliverbaehler commented on #407
What do you guys think about adding a Regex Option? I bootstrap certain namespaces with a helm wrapper. And I don't want users to mess with my lifecycle hooks or really anything helm related. So I would need the option to deny any label starting with `helm.sh/*`

[2021-09-05 17:48] MaxFedotov commented on #407
@prometherion i think we can use existing `AllowedListSpec`. WDYT?

[2021-09-05 18:08] prometherion commented on #407
I thought the same, @MaxFedotov!

[2021-09-05 18:26] MaxFedotov commented on #407
Great, i can start this after my vacation (be back home at September 12th)

[2021-09-08 15:19] nodefourtytwo opened #415 "admission webhook "ingress.capsule.clastix.io" denied the request: Index with name field:hostnamePathPair does not exist"
# Bug description

If I create a new Tenant with `apiVersion: capsule.clastix.io/v1beta1` and I try to create an Ingress, I get:

[code]

The problem does not exist if I create a Tenant with `apiVersion: capsule.clastix.io/v1alpha1`

# How to reproduce

[code]

[code]

# Expected behavior

An Ingress should be created

# Additional context

- Capsule version: 0.1.0
- Helm Chart version: capsule-0.

[2021-09-09 07:00] bsctl commented on #415
@nodefourtytwo thanks for reporting this. Trying to reproduce it

1. As cluster admin, create the tenant

[code]

2. As tenant owner, `redacted_sa`, create a namespace in such tenant

`kubectl --as redacted_sa --as-group capsule.clastix.io create ns redacted-production`

3. As tenant owner, create the ingress in the `redacted-production` namespace

[code]

`ingress.networking.k8s.io/redacted-name

[2021-09-09 07:56] nodefourtytwo commented on #415
Here are the logs when I apply the ingress:

[code]

FWIW, we tried completely removing and reinstalling Capsule. Not better.
We also have capsule-proxy installed next to capsule, but we don't use it yet.

[2021-09-09 09:20] bsctl commented on #415
Is there any other info you can share about your environment to help us with debug?

- Kubernetes setup e.g. KinD, kubeadm, AKS, EKS, GCP, ..
- How do you provision the ingress: helm, raw yaml manifest, ..
- Are you able to create an ingress with `ingress.networking.k8s.io/v1beta1` API?

[code]

- Are you able to create other resources, eg. pods, services, pvc in the same tenant as tenant owner `r

[2021-09-09 09:32] nodefourtytwo commented on #415
- We use Kubernetes on a cloud provider. I sadly am not allowed to say which one.
- We provision through Helm, but I also tried with raw yaml
- I just tried with `ingress.networking.k8s.io/v1beta1`and it works. The ingress is created. Good hunch. Can you explain what it means?
- We are able to create all other kinds of resources you listed as the tenant owner.
- `redacted_sa`is authenticated with

[2021-09-09 09:37] prometherion commented on #415
We suspect we're not handling correctly the Indexers for Ingress resources, but actually I'm on vacation and I cannot investigate further!

Would be great having the sha512 of the Capsule container image to understand which revision you're running in your system.

And last but not least, thanks for the bug report! 🙏

[2021-09-09 09:45] nodefourtytwo commented on #415
Have a nice vacation!
We have a workaround using v1beta1 Ingresses, that's something.

I guess that is the info you need: `docker-pullable://quay.io/clastix/capsule@sha256:adc3b37716411eb05124dac355c685b64954b18b76fe676af6b4b485820db894`

[2021-09-09 09:54] bsctl commented on #415
Kubernetes 1.19 introduced a new `networking.k8s.io/v1` API for the Ingress resource. We tried on v1.19.11 and no issue, unfortunately not having a v1.19.8 as you have. Not sure but, but we can have the answer by looking at release notes of v1.19.11

[2021-09-09 10:00] nodefourtytwo commented on #415
I don't think it would be because of our Kubernetes version.

If you remember my first message, when we use a Tenant with `apiVersion: capsule.clastix.io/v1alpha1`, we can create an Ingress with `apiVersion: networking.k8s.io/v1`.
It's only when we switched to a Tenant with `apiVersion: capsule.clastix.io/v1beta1`that we faced the problem.

[2021-09-09 11:50] oliverbaehler opened #416 "Support Any Additional resource"
# Describe the feature

I would like to have a generic approach on resources, which are created for each new namespace belonging to a tenant. The same behavior that `.spec.additionalRoleBindings` and `.spec.networkPolicies` already implement, but for any kubernetes resource.

As of why:

We are currently moving to Cilium Network Policies, and we would require each namespace to implement those poli

[2021-09-09 18:21] awoodsprim commented on #407
Just ran into this when using capsule with argocd.  ArgoCD wants to add an annotation and a label to the namespace it is creating.  We are adding an "ownerReference" to the namesapce as well to allow capsule to "adopt" the namespace after argocd creates it.

Unfortunately, capsule then removes the argo annoations and labels and that causes the two controllers to start to fight over the namespace.

[2021-09-09 18:33] prometherion commented on #407
Thanks for this additional use case, @awoodsprim.

Definitely, we're going to support this feature on `v1beta1` using annotations, then we're going to plan a migration for a new API version.

[2021-09-09 18:34] MaxFedotov commented on #407
@awoodsprim i think i can propose a more interesting schema with argocd (i am planning to implement in on our production after my vacation). Starting from v1beta1 capsule allows to add multiple owners for tenants, including service accounts. So it will be possible to add argocd service account as an owner to each tenant by default, thus allowing it to create namespaces as a usual tenant user (and

[2021-09-10 12:59] awoodsprim commented on #407
@MaxFedotov - With the two tenant owners, creation of a namespace can be done with annotations on the namespace?  I only ask because at the moment annotations added manually thorough kubectl are stripped by capsule as per this ticket.  Therefore, having argocd as a tenant owner will solve the "adoption" issue, but not the annotation / label one (I think)

[2021-09-10 13:06] MaxFedotov commented on #407
@awoodsprim thats depends on how you create a namespace. If you create it using yaml file with ns spec - than you can add annotations/labels to it. If you are using auto-create namespace option - than you had to wait until this proposal will be implemented :)

[2021-09-13 09:47] mendrugory opened #418 "JQ installation should be checked in hack/create_user.sh"
# Bug description

`hack/create-user.sh` uses [jq](https://stedolan.github.io/jq/) but it has to be installed in the working machine. A previous checking would be good.

# How to reproduce

Steps to reproduce the behavior:

1. Uninstall `jq` if it is installed
2. Run `hack/create-user.sh` user tenant

# Expected behavior

[code]

[2021-09-13 10:05] #418 closed

[2021-09-13 13:43] MaxFedotov commented on #407
after discussion with @prometherion decided to add additional `protectedLabels` and `protectedAnnotations` fields, where a list of annotations\labels that can't be modified by tenant owner could be stored. This way we will support a scenario, when there is a small list of well-known labels\annotations, which can't be set or modified by a tenant admin (and all others could be added\modified by tena

[2021-09-14 15:13] prometherion commented on #415
What's even weird is that error is triggered upon a missing `FieldIndexer` used to find collision [here](https://github.com/clastix/capsule/blob/61e6ab40882f5ac169e347ff235871ce49842542/pkg/webhook/ingress/validate_collision.go#L154-L158).

These indexers are set up at start-up checking the Kubernetes version, since otherwise watching for a non existing version would case a panic. Said so, it's ev

[2021-09-14 16:06] prometherion commented on #415
@nodefourtytwo I just opened a PR (#420) that is going to avoid the if/else for the indexers' setup and I guess this should fix the reported issue.

May I ask you to build a Docker image based on those changes and test it on your environment? Unfortunately, I cannot replicate your Kubernetes version, the closes Kind version is 1.19.3 and I'm not able to reproduce it.

[2021-09-15 08:17] MaxFedotov opened #421 "When cordoning a tenant capsule should check if user is a member of capsuleUserGroup instead of tenantOwner"
When the tenant is cordoned using capsule, we had a special check in webhook which verifies if a request to modify an object inside a tenant was made by Tenant owner or a service account.
But current realization had a problem - if access for a namespace inside a tenant was granted to the user using rolebindings created by tenant admin - the user will have permissions to modify objects (because he

[2021-09-15 09:14] #421 closed

[2021-09-17 12:08] MaxFedotov commented on #407
So after another discussion with @prometherion decided to use annotations for now (and later when planning new `Capsule` api version release move them to tenant spec). And as it is very hard to support both, `allowed` and `forbidden` labels and annotations we will use only `forbidden`.

So with the release of this feature, **capsule will allow `tenant owner` to add any label or annotation on a nam

[2021-09-17 13:28] nodefourtytwo commented on #415
We just tested your PR, and it indeed fixes the problem.

[2021-09-17 13:32] prometherion commented on #415
This is absolutely weird but, never mind!

Thanks a lot for your bug report, @nodefourtytwo, we're planning a v0.1.1 release that will contain this hotfix: we're not providing any `latest` image so, if you need it ASAP, please, host the resulting build on any of your repositories waiting for the final image.

[2021-09-17 13:43] #415 closed

[2021-09-18 13:53] brightzheng100 opened #424 "tenant owner can't impersonate a namespace admin"
# Bug description

The tenant owner Alice can't impersonate the namespace admin Joe assigned by her.
Only Cluster Admin can do this as of now.

# How to reproduce

By following the docs, the tenant owner Alice assign Joe as the namespace admin:
[code]

But she can't impersonate Joe:
[code]

And only Cluster admin can.
[code]

# Expected behavior

The tenant owner should be able to act like a Clust

[2021-09-19 14:19] bsctl commented on #416
@oliverbaehler thanks for suggesting this improvement. I think this will require some sort of refactoring of the code. Let's to see what @prometherion says.

[2021-09-19 16:53] bsctl commented on #424
@brightzheng100 Thanks for reporting this issue.

Currently, Capsule operator creates a RoleBinding between the tenant owner identity, e.g. `alice` user and the regular [user-facing ClusterRole](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles) `admin`

[code]

The User-facing ClusterRole `admin` does not provide `users` and `groups` impersonating but the `serviceacc

[2021-09-20 03:28] brightzheng100 commented on #424
I don't know the rationale behind the `ClusterRole/admin` design in terms of permissions, but that makes some sense too.

As we're assuming the Tenant Owner works like the Cluster Admin in the assigned namespaces, so this security issue shouldn't be a big concern just like we shouldn't challenge why Cluster Admin can impersonate anyone within the assigned cluster.

So this may raise a potential re

[2021-09-20 11:38] bsctl commented on #424
@brightzheng100 thanks for your suggestion, definitively something we can consider for next releases.

[2021-09-20 16:12] prometherion commented on #219
For the `v1beta1` (and deprecated `v1alpha1`) versions, this check can be put in place using the annotation `capsule.clastix.io/deny-wildcard=true`.

The default value, since annotation key is not available, is `false`.

[2021-09-21 17:14] #219 closed

[2021-09-21 17:16] prometherion opened #426 "Support for programmable deny of wildcard hostnames in v1beta2 API version"
PR #417 closing #219 addressed the feature using annotations, however, these changes must be addressed for the new API version, such as `v1beta2`.

[2021-09-22 08:25] MaxFedotov opened #427 "Support additional webhook configuration in helm charts"
In some production environments, cluster administrators need additional configuration for capsule webhooks.
Let's make the following webhook configuration options available via helm chart:
- failurePolicy (some of the webhooks had default `Fail` policy, which can be undesirable for some clusters)
- namespaceSelector

[2021-09-23 08:41] prometherion commented on #424
Before considering this feature request for the next release, I'd like to chime in on this topic.

The goal of Capsule is to provide the ability to provision in a fashioned self-service way Namespace without the help of external parties, such as opening tickets, sending emails, and so on. The users will be granted `admin` capabilities on the created Namespace resources using the _ClusterRole_ reso

[2021-09-23 08:47] brightzheng100 opened #429 "Dev env setup issues"
# Bug description

While setting up the dev env for Capsule, I encountered some issues by following the doc here:
https://github.com/clastix/capsule/blob/master/docs/operator/contributing.md

# How to reproduce

I followed the abovementioned doc but the step in `Run Capsule` is wrong.

If I issued `make run`, I'd hit the first error:

[code]

This is because the `GitTag` is defined in `version.go`

[2021-09-23 08:56] prometherion commented on #429
Thanks for reporting this, @brightzheng100!

This `run` target has been inherited upon OperatorSDK scaffolding and I never used and totally forgot to keep aligned with the requested changes.

Would be great to fix the missing pieces and document documentation, too: contributions are warmly welcomed! 🤗

[2021-09-23 09:39] #427 closed

[2021-09-23 10:19] brightzheng100 commented on #424
I personally think that having the flexibility of setting up a `ClusterRole` for a Tenant, which defaults to predefined `admin`, is already good enough as it can cater for more similar requirements around "can I assign xxx permissions to some specific Tenants?".
As you know, such a change is easy and 100% backwards compatible.

The `capsule-proxy` is really a good design to complement what K8s ups

[2021-09-23 10:30] brightzheng100 commented on #429
Sure, I can enhance it with not only `Kind` but also `K3d(+K3s)`, more options for devs:)

[2021-09-23 11:21] MaxFedotov commented on #424
@prometherion
The problem I was thinking about is the possibility to make a security issue with impersonating.
Let's imagine that user `Joe` had permissions in namespaces in two tenants:
 - `oil-foo` (owner of tenant `oil` is `Alice`)
 - `gas-bar` (owner of tenant `gas` is `Bob`).

 If `Alice` will have permissions to impersonate `Joe`, she will be able to access namespace `gas-bar`, which is a pu

[2021-09-23 12:10] #407 closed

[2021-09-23 12:12] prometherion opened #431 "Support for labeling of Namespace by Tenant owners in v1beta2 API version"
PR #423 closing #407 addressed the issue for the `v1beta1` API version.

The changes must be reversed on `v1beta2` to avoid the use of annotations.

[2021-09-23 12:16] prometherion commented on #424
Hadn't test yet, it seems doable, tho, and this confirms my concerns regarding the privilege esclation.

I think we have to investigate addressing this on `capsule-proxy` if we don't have any other option.

[2021-09-23 12:37] bsctl commented on #424
In order to impersonate, we have to give wider permission and using the `capsule-proxy` for this job makes sense to me as we done for `kubectl get ns`.

NB
In the current implementation, the tenant admin acts as namespace admin for all the namespaces of the tenant and that's coherent with the model we designed, so I turned this issue into a feature request.

[2021-09-23 12:49] prometherion commented on #424
With that said, we have to track this down on `capsule-proxy` repository, I'll link it once created.

[2021-09-23 12:54] prometherion commented on #424
Would be better to move the discussion to the proper repository, although I can briefly answer your questions here.

We wanted to keep the same look and feel, and developer experience too, of native kubernetes, without adding any additional extra thing like a new path or verb.

Allowing tenants to install CRDs, rather, is another issue we cannot overcome with the soft multi-tenancy model implement

[2021-09-25 12:25] brightzheng100 commented on #424
I guess that's what `Virtual Cluster` within multi-tenancy WG is trying to solve -- a dedicated **control plane** for each tenant -- which definitely is a much heavier solution.
Not sure whether there is a lighter weight solution in the community. But yeah, we may discuss this in the `capsule-proxy` where might put this into consideration, if possible

[2021-09-25 12:52] brightzheng100 opened #434 "The need for CapsuleConfiguration?"
# Describe the feature

I checked the issue history and found that the `CapsuleConfiguration` was created along the evolving of Capsule.
But do we really need such a CRD to handle configuration?

IMHO, such configuration should be easily handled by a ConfigMap.

Meanwhile, I'm thinking of two layers of configurations: **global** and **Tenant-specific**.
In this case, maybe a default configuration

[2021-09-25 13:15] MaxFedotov commented on #434
Hi @brightzheng100! Thanks you for your interest in capsule.

There is one great feature from the end user perspective to use crds for storing configuration - keys and values in crds are validated upon it schema, thus reducing the risk of accidental misconfiguration.

And regarding tenant specific configuration - isn't it the same thing, that's already exists in tenant crd?

[2021-09-25 13:34] brightzheng100 commented on #434
Thanks for the prompt reply -- you guys are really responsive.

Having a CRD/CR really can bring in validation through the reconciliation loop but I feel this is slightly overkilled.

No, I'm still talking about the options within `CapsuleConfiguration`.

Let's give it an example.

Assuming the **global config** is like this -- I'm still using the `CapsuleConfiguration` but as what I mentioned I'd

[2021-09-25 13:36] brightzheng100 commented on #434
Of course, we can use a better mechanism, like labelling, other than such a naming convention, for defining a Tenant specific config.

[2021-09-25 13:44] bsctl commented on #424
@brightzheng100 it's quite accepted into the community two types of multi-tenancy for Kubernetes:

- soft multi-tenancy where the control plane is shared between all tenants
- harder multi-tenancy where each tenant has its own control-plane

The first one is addressed very well by Capsule. For the second one, may you can be interested into a new project we're working on. It's called [Kamaji](https

[2021-09-25 15:08] prometherion commented on #434
It's a mix of right timing, and passion I'd say :)

As @MaxFedotov said, CRDs provide schema constraints, without the hassle of wrapping integer values wrapped by quotes and providing a way to nest options as a struct (although not yet implemented).

The biggest enhancement is the ability to get in real-time the updated value thanks to the controller cache: _ConfigMap_ content would be updated by

[2021-09-25 16:27] MaxFedotov commented on #434
That's how we are using it :) we had a concept of system namespace in each tenant, where we install different components for tenants, which they can use (for example ingresses), but they are operated by cluster administrators. In this namespace tenant owners have very restricted permission (mostly to view logs in case of problems with global logging system).

Right now this namespaces are not visi

[2021-09-26 09:38] brightzheng100 commented on #434
This makes sense -- I was too bias to the extreme simplicity I guess

The reason why I think about two-layer control of the configuration is that there might be more and more options in `CapsuleConfiguration` and these options, as of now, are not controllable in `Tenant`.
This may easily raise questions from Tenant Owner for more specific controls.

My understanding is that in the current Capsule

[2021-09-26 10:50] MaxFedotov commented on #434
I don't think it is a good idea to have the same configuration option on both levels - tenant and global, because it will bring the layer of uncertainty into the process (e.g. who should be the winner if the option is set on both levels?)

[2021-09-26 13:03] brightzheng100 commented on #424
Yeah and this is a good blog there: [Three Tenancy Models For Kubernetes](https://kubernetes.io/blog/2021/04/15/three-tenancy-models-for-kubernetes/)

Not sure how Karmaji differentiates itself from:
- [`Virtual Clusters`](https://github.com/kubernetes-sigs/cluster-api-provider-nested) for hard multi-tenant management and
- [`Karmada`](https://github.com/karmada-io/karmada) or [`Open Cluster Manag

[2021-09-27 14:05] MaxFedotov opened #435 "Forbidden node labels and annotations"
Currently, we can allow tenant admins to modify nodes using `capsule-proxy` if appropriate permission is set in `tenant CRD`.

While this is a great option for them, which adds additional flexibility, there are some types of labels or annotations, which must be protected from modifications (for example, which are set by `cloud-providers` or `autoscalers`)

My proposal is to add an ability for clus

[2021-09-27 14:33] MaxFedotov opened #436 "Use selectors instead of AllowedList for IngressClasses, StorageClasses, PriorityClasses"
We are using a specific struct, `AllowedListSpec`:
[code]
to allow tenant users to use only specific IngressClasses, StorageClasses or PriorityClasses.

While it allows additional fine-grained configuration, that is not a kubernetes way of specifying resources.
Much better will be to use label selectors (the same way, as it is in `nodeSelector` option for tenant).

With this, `tenant spec` will lo

[2021-09-28 04:56] viveksyngh opened #438 "Error applying new CRD version from v0.1.0 helm chart"
# Bug description

On cluster where we already have old version of capsule CRD installed, when we are trying to apply new CRD version, it is throwing below error.

[code]

A clear and concise description of what the bug is.

# How to reproduce

Steps to reproduce the behavior:

* Installed older version of CRDs from `v0.0.5` on a cluster
* Download a new version of CRD from `v0.1.0`
* Then run `ku

[2021-09-28 07:23] prometherion commented on #424
I don't know each of one the projects you mentioned, so my tl;dr; could be highly wrong.

- **Virtual Clusters** is a compatible Cluster API provider to install pod-based Kubernetes clusters (API server, scheduler, controller-manager, and etcd).
- **Karmada** looks like a federation of clusters, but not entirely sure.
- **Open Cluster Management** looks like an entire toolset to manage many Kubern

[2021-09-28 07:31] prometherion commented on #438
Thanks for the bug report @viveksyngh, we're going to provide some docs on how to update Capsule in a seamless way!

[2021-09-28 07:35] bsctl commented on #436
@MaxFedotov sounds good to me since more Kubernetes like. What about `labelSelector` ?

For backward compatibility same concerns. Let’s see @prometherion point of view

[2021-09-28 07:54] prometherion commented on #416
I'm a bit late on this, thanks for the patience!

This feature would be awesome and I couldn't agree more, despite some limitations I'd like to evaluate with the community.

We have to keep in mind that CRDs are, essentially, OpenAPI v3 specifications: we got a schema that must stick to it and that's great, I love it when everything is strictly typed since it's less error-prone and safer, especial

[2021-09-28 07:55] viveksyngh commented on #438
Thanks @prometherion !! I don't see any `spec.conversion` configuration and in the helm charts CRDs. `spec.conversion.strategy` is also set `None`.  I was curious to know where this is coming from. Do you have any idea ?

[2021-09-28 08:13] prometherion commented on #438
Sure, the reason is how Helm manages the [handling of CRDs](https://github.com/helm/community/blob/f9e06c16d89ccea1bea77c01a6a96ae3b309f823/architecture/crds.md).

Dealing with multiple versions of a CR requires a conversion webhook that is specified in the `CustomResourceDefinition` and, as with other webhooks, it must be backed by a CA that is managed by Capsule itself. Said so, we're dealing wi

[2021-09-28 11:37] viveksyngh commented on #438
@prometherion I think I know what is the problem and this approach may be going to have this problem when you upgrade the CRD. Just to clarify here, we are not using helm and helm also does not updates CRDs if they are already installed.

This is happening when we are running `kubectl apply` for the CRDs. This is not issue with migration from v0.0.5 to v0.1.0 but this is problem when you do `kubec

[2021-09-28 11:42] viveksyngh commented on #438
is there a way to use cert manager to inject the CA bundle on on the conversion webhook configuration as an alternative solution to this ?

[2021-09-28 11:56] fierman333 opened #439 "Webhook service randomly timeouts"
# Bug description

Webhook service is randomly denying https calls:
[code]

if I try manually to call that service from another pod for example I am getting randomly `Connection refused` error:
[code]

Something which we are noticing that if we run `capsule-controller-manager` deployment with one pod then we do not have that timeouts, but if we run it in '3' pods then seems that only 1 of 3 pods r

[2021-09-28 12:37] MaxFedotov commented on #438
@prometherion I was using helm for update and our flow was like:
- uninstall old capsule release
- patch crds
- install new capsule release

But I think the same can be done without helm at all.

[2021-09-28 12:43] MaxFedotov commented on #436
@bsctl

Can you please explain in more details?

[2021-09-28 17:49] bsctl commented on #436
just this:

[code]

[2021-09-28 19:00] bsctl commented on #438
@MaxFedotov you get ride off of all the tenants in this way. I think the case here is about migration.

[2021-09-28 19:19] MaxFedotov commented on #438
@bsctl nope, helm doesn't uninstall crds (https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations) so it is safe

[2021-09-28 19:43] bsctl commented on #438
@MaxFedotov you’re right, my fault

[2021-09-28 20:58] bsctl opened #440 "Failing to convert Tenants from v1alpha1 to v1beta1"
# Bug description
Trying to describe a procedure for tenants migration from from `v1alpha1` to `v1beta1` according to https://github.com/clastix/capsule/issues/438#issuecomment-929169090_, we're getting conversion error for tenant having `LimitRanges` set.

# How to reproduce

Steps to reproduce the behavior:

1. Install Capsule v0.0.5 using Helm Chart `$ helm install capsule capsule_v0.0.5/charts

[2021-09-28 23:22] RixTmobilender opened #441 "helm chart 0.1.1 creates invalid yaml with default values"
# Bug description
The default value for .Values.webhooks.ingresses.namespaceSelector includes a "matchExpressions" key [that is being merged](https://github.com/clastix/capsule/blob/7db263b2b607d47b06c5609c39b72fcf590b255f/charts/capsule/templates/validatingwebhookconfiguration.yaml#L55-L59)  with the default webhook configuration resulting in invalid YAML

I believe this regression was introduced

[2021-09-29 06:33] MaxFedotov commented on #441
Hi @RixTmobilender! Thank you for reporting this, definitely my typo. Will fix in a few hours.

[2021-09-29 07:59] #441 closed

[2021-09-29 08:01] prometherion commented on #441
Hey @RixTmobilender, should be fixed by the said MR, Charts is published [here](https://github.com/clastix/charts/blob/gh-pages/capsule-0.1.2.tgz): update your Helm chart and open it back in case of any issue, and thanks for taking a look at Capsule!

[2021-09-29 10:49] oliverbaehler commented on #416
Another Solution to this would be just using generate Functionalities of e.g Kyverno (https://kyverno.io/docs/writing-policies/generate/). You could write policies which would generate the resources based on namespace labels. As far as I am concerned this would also cover the use-case. Now you would have to assume that kyverno is already installed and therefor would have kinda a dependency. But I

[2021-09-29 11:15] MaxFedotov commented on #438
@bsctl, i forgot one step. You have to update `ownerReference` to new capsule controller for each of the namespaces

[2021-09-29 17:00] MaxFedotov commented on #440
I was able to reproduce it. The problem is, that we are adding tenantController\conversion webhook\indexers to controller before we had CA (and patched webhooks\crds). Controller-manager tries to start all our controllers, and tenant manager hangs because it gets the old spec of a tenant, which cannot be converted to a new one (and what is strange, all other managers hangs too)

A simple fix will

[2021-09-30 09:54] ptx96 opened #444 "Avoid CRD reinstall from e2e test suite"
At bootstrapping time, the e2e test suite performs the forced reinstallation of the CRDs present inside [bases](https://github.com/clastix/capsule/tree/master/config/crd/bases) folder;

as discovered during ytt templates test, this one breaks `caBundle` key passing inside tenants.capsule.clastix.io crd.

[2021-09-30 19:16] #444 closed

[2021-09-30 19:21] prometherion commented on #439
Hey @fierman333, thanks for this bug report, definitely something we have to look at! 👀

Prior to debugging, would be great having more context, such as the resources assigned to the Capsule Manager pods, if you ever notice something wrong from the metrics perspective, such as stale goroutines, or too high GC time, or high request on the inner REST API client.

If you had the chance to collect the

[2021-09-30 19:26] #429 closed

[2021-09-30 19:30] #371 closed

[2021-09-30 19:40] prometherion commented on #438
OperatorSDK is supporting certificates backed by CertManager: although a viable option, we wanted to manage this on our side to avoid additional dependencies for end-users.

Some hack on the manifests is required, mostly regarding annotations for the CustomResourceDefinition, Mutating and Validating Webhooks, and the Deployment.

Unluckily, I have no idea how to achieve this. We're working to solv

[2021-09-30 19:56] prometherion commented on #438
@viveksyngh I'm trying to reproduce the issue and I'm ending with a different error.

1. `kind create cluster`
2. `helm upgrade --install capsule ./charts/capsule -n capsule-system --create-namespace` (release 0.0.5)
3. wait for Capsule to get up and running
4. `helm upgrade --install capsule ./charts/capsule -n capsule-system --create-namespace` (release v0.1.0`

I'm not able to install Capsule f

[2021-10-01 09:58] prometherion commented on #436
Couldn't agree more on this.

This change is absolutely breaking and not portable using a conversion. The unique way to use it would be adding `labelSelector` a third option in the `AllowedList` spec.

https://github.com/clastix/capsule/blob/d3e3b8a881b4ce25332e8d1a6904ff178b11242d/api/v1beta1/allowed_list.go#L12-L15

However, this would make things even more complicated on `capsule-proxy` side si

[2021-10-07 14:12] prometherion opened #448 "Hardcoded namespace for a webhook configurations"
https://github.com/clastix/capsule/blob/52cf59704104eb8c19eda3e2d4af268f9b0373f0/charts/capsule/templates/validatingwebhookconfiguration.yaml#L166

This should be `{{ .Release.Namespace }}`

[2021-10-07 14:14] #448 closed, assigned to prometherion

[2021-10-13 10:11] slushysnowman opened #449 "ServiceAccount can be assigned as tenant owner, but cannot be used as not in capsuleUserGroups"
# Bug description

Using helm chart, v0.1.2

When assigning a ServiceAccount as tenant owner as described [in the use cases](https://github.com/clastix/capsule/blob/master/docs/operator/use-cases/onboarding.md#assign-a-robot-account-as-tenant-owner), using the service account to create namespaces fails:
`Error from server (Forbidden): namespaces is forbidden: User "system:serviceaccount:default:fo

[2021-10-15 12:57] #449 closed, assigned to bsctl

[2021-10-19 07:32] oliverbaehler opened #451 "Tenant Metrics"
# Describe the feature

We would like to have more metrics being exported about the current tenant controlled by an operator. Some Metrics t hat would be helpful:

- **Basic info metric** (Tenant Active State, Namespace Quota and used Namespaces, so we can count up how many tenants there are)
- **Cordoned tenants** (Consider the tenant cordoning label, to tell which tenants are cordoned and which

[2021-10-19 07:47] bsctl commented on #451
@oliverbaehler thanks for submitting this request. Implementing them is pretty easy and straightforward. Would you like to submit a PR too?

[2021-10-19 10:16] mendrugory opened #452 "Registry is forbidden for the current Tenant although it was in the allowed list"
# Bug description

Capsule provides a mechanism to restrict the allowed registries by tenant. In the following example, the filter is not allowing an known Azure registry (ACR) because the internal filters are assuming that it is under `docker.io` registry, therefore a different one which is taken as default (internally).

# How to reproduce

Steps to reproduce the behavior:

We have seen this beh

[2021-10-19 13:34] prometherion commented on #452
The reason for this bug is this piece of code.

https://github.com/clastix/capsule/blob/0784dc7177da40ae5b3ef8831f72a2e1c02797a8/pkg/webhook/pod/containerregistry_registry.go#L55-L65

Essentially, we're doing regex parsing of the container image name to extract registry, repository, image, and tag elements from the FQCI.

With the Azure Container Registry example (`solarregistry.azurecr.io/nginx:l

[2021-10-19 14:51] oliverbaehler opened #453 "Silent RoleBinding Drops"
# Bug description

Rolebindings are not created if one item in `additionalRoleBindings` is misconfigured.

# How to reproduce

Steps to reproduce the behavior:

1. Provide the Capsule Tenant YAML definitions

That's a tenant with a wrong subject, as type `ServiceAccount` does only support RFC 1123 format for the `name` field. You can create the tenant without any problems:

[code]

Only the  tenan

[2021-10-22 14:37] slushysnowman opened #455 "Webhook configuration using wrong namespace"
# Bug description

A clear and concise description of what the bug is.

# How to reproduce

Steps to reproduce the behavior:
1. Using Helm chart 0.1.2, deploy to a namespace other than capsule-system
2. Create a tenant, specifying allowed storage classes
3. Create a namespace in the tenant
4. Create a persistent volume claim in the tenant namespace

`Error from server (InternalError): error when c

[2021-10-24 15:02] prometherion opened #458 "GitHub Actions should not trigger container image build upon Helm tag"
I noticed some images on quay.io repository using the Helm tag.

The Helm tag is used to trigger a Helm chart build in order to decouple from the application and the chart.

[2021-10-24 15:04] #458 closed, assigned to prometherion

[2021-10-24 15:08] prometherion opened #459 "Duplicated Helm Chart build step?"
I was releasing the 0.1.3 Chart version and noticed this [error](https://github.com/clastix/capsule/runs/3989421536?check_suite_focus=true).

It seems we're running twice the build release upon tagging, leading to this race condition.

[2021-10-24 15:09] #455 closed, assigned to prometherion

[2021-10-24 15:19] prometherion opened #460 "Container registry regex match doesn't allow using an underscore"
In our Harbor, projects are setup with the format `team_<teamName>`.

This leads to images such as (where teamName is 'myteam:

our.harbor.address.com/team_myteam/my-image:12345

While this is valid, and can be used in a container spec, the '_' breaks the regex as well - https://regex101.com/r/YEZwun/1

This leads to:
[code]

I'm putting this here since it seems related to this issue, but if you'd

[2021-10-26 09:04] ptx96 opened #462 "Find helm job kubectl tag from cluster version"
# Describe the feature

When installing / uninstalling capsules via helm, helm jobs make use of a kubectl client.
This client should have a version that is as compatible as possible with the target kubernetes cluster.

# What would the new user story look like?

1. Start a capsule installation with helm ;
2. Post-install job -> helm dynamically chooses which kubectl tag is best to pull down based

[2021-10-26 21:07] bsctl opened #465 "Namespaces are not reconciled after tenant update"
# Bug description
We have a tenant with network policies assigned. Tenant namespaces are created and network policies are inherited by the namespaces. After removing the network policy from the tenant, the namespaces are are not reconciled leaving the network policy there. Same observed with Limits and Quota.

# How to reproduce

1. As cluster admin, create a tenant CR as below

[code]

2. As tena

[2021-10-27 18:55] #460 closed, assigned to nobody

[2021-10-28 15:53] #465 closed, assigned to prometherion

[2021-10-31 00:01] alegrey91 commented on #405
Guys, let's consider to use also this tool from aquasec:
https://github.com/aquasecurity/kube-bench

[2021-11-01 20:07] ptx96 commented on #405
Nice catch @alegrey91!

These controls, however, are very good when focused on kubernetes post-deployment hardening, while as regards kubernetes resources, kube-bench will only show manual check that the operator should perform as described in the [policy config](https://github.com/aquasecurity/kube-bench/blob/main/cfg/cis-1.20/policies.yaml) (among other things still stopped at kubernetes v1.20 w

[2021-11-02 09:49] bsctl opened #469 "Support for new documentation website"
We should support new documentation website published under capsule.clastix.io

[2021-11-02 10:05] prometherion commented on #469
Closing, a duplicate of #397.

[2021-11-02 10:05] #469 closed

[2021-11-02 16:13] #459 closed, assigned to nobody

[2021-11-02 16:13] #452 closed

[2021-11-02 17:01] #435 closed

[2021-11-06 15:30] #397 closed

[2021-11-06 15:35] prometherion commented on #438
Closing due to inactivity, feel free to open it back.

[2021-11-12 10:22] #453 closed

[2021-11-15 12:46] arminc opened #472 "Release schedule?"
# Describe the feature

I was wondering if there is a release schedule and if not what the planning is for the next release as there are some useful features in master.

P.S. This isn't really a feature request, abusing it for this question, as it isn't a bug either.

[2021-11-16 09:35] bsctl commented on #451
@oliverbaehler any progress on this issue? Do you need for help?

[2021-11-16 09:39] bsctl commented on #472
@arminc Thanks for the interest in Capsule. We're planning it within the end of the month.

[2021-11-17 17:08] sathieu commented on #416
@prometherion Kiosk has this feature with very powerful templating and helm: https://github.com/loft-sh/kiosk#5-working-with-templates

There is no validation:

https://github.com/loft-sh/kiosk/blob/2aa40678f3a0726f1d2dd7dc31cfc9475e249023/pkg/apis/config/v1alpha1/template_types.go#L54-L59

[2021-11-18 05:31] abdulhaseeb2 opened #473 "Broken Links in README.md"
# Bug description

Some links in main README.md do not work, specifically `Features/Common use case` and `Section`

# How to reproduce

1. Go to `Features/Common use case` section.
2. Click on `Section` link.
3. Go to `Documentation` section.
4. Click on `documentation` link.

# Expected behavior

Links should redirect to documentation and common usecase .md.

# Additional Information

I have made

[2021-11-22 05:42] fagurto opened #475 "MutatingWebhookConfiguration"
i'm not allow to create MutatingWebhookConfiguration within a tentant , as i understand this happend because this resource is a "cluster wide" resource ,  i've been playing with the RBAC and i've failed miserably ,  is this really posible ???  is there any workaround to be able to do this ??

the error message that i'm getting is "cannot get resource "mutatingwebhookconfigurations" in API group "a

[2021-11-22 05:45] fagurto commented on #475
forgot to mentions , you guys are really awesome
 i think that capsule is amazing .

[2021-11-22 07:42] bsctl commented on #475
Hi @fagurto thanks for your interest in Capsule. We need feedbacks from the users and your is absolutely valuable.

As you guessed, MutatingWebhookConfiguration is a cluster resource and tenants are not allowed to access it. You can create such resources as cluster admin and leave tenants to create runners in their namespaces with additional role bindings, assuming runners are namespaced resources

[2021-11-22 16:07] prometherion commented on #475
Thanks @fagurto, could you share the use case for needing the ability to put in place Admission Webhoooks?

Let's try to write down a sort of user story so we can evaluate any option!

[2021-11-23 02:36] fagurto commented on #475
Hi @prometherion  ,  well ,  basically i was trying to set up a playground for "external users" ,  where i'm working we are currently looking for people to join our devops team , and i designed a challenge where applicants have to set up a ci cd workflow on kubernetes , but one of the requirements was to deploy a self hosted github actions runner (pretty much to see how good they are reading docs

[2021-11-23 02:46] fagurto commented on #475
i know i wrote a lot  hahaha sorry about that ,  but my guess is several operators rely on cluster wide resource which makes it imposible to install them with in a tenant . i thinks it's pretty awesome to have control a restrict  some aspect and give the hability to deploy freely .  deploying stuffs is fun but have the oportunity to try new stuffs is also part of what we do .
thumbs up for you guy

[2021-11-23 22:21] bsctl commented on #440
@MaxFedotov @prometherion the issue seems still there:

[code]

[2021-11-24 10:37] titansmc opened #476 "unable to setup indexers","error":"no matches for kind \"Tenant\" in version \"capsule.clastix.io/v1beta1\"","stacktrace":"main.main\n\t/workspace/main.go:228\nruntime.main\n\t/usr/local/go/src/runtime/proc.go:225"
It doesn't look like I can access Clastix slack workspace, as announced here.

# Bug description

Controller manager doesn't want to start due to liveness probe failing

# How to reproduce

Brand new helm installation following the instructions (after `helm uninstall....` of an old capsule version)

# Expected behavior

to just deploy fine

# Logs

[code]

# Additional context

- Capsule version:

[2021-11-24 10:54] prometherion commented on #476
Hi @titansmc, please, reach out to me using any social ([Twitter](https://twitter.com/tranchitellad) or [LinkedIn](https://www.linkedin.com/in/dariotranchitella)) so we can give access to our Slack workspace!

I think this could be a duplicate of #408, or at least related: the `helm uninstall` doesn't clean up the Custom Resource Definitions, and that's good since that would mean you're going to d

[2021-11-24 11:27] titansmc commented on #476
you are right. For now I have just manually deleted the CRD and start over, I just need to keep going , in order to test the product

[2021-11-24 11:38] #476 closed

[2021-11-29 11:29] tomarent opened #478 "error: admission webhook "owner.namespace.capsule.clastix.io" denied the request"
# Bug description

after upgrading to version v0.1.1-rc0, I receive the following error message:

_You do not have any Tenant assigned: please, reach out to the system administrators, error: admission webhook "owner.namespace.capsule.clastix.io" denied the request: You do not have any Tenant assigned: please, reach out to the system administrators_

FYI: the reason for trying version v0.1.1-rc0 is

[2021-11-30 11:20] titansmc opened #479 "docs wrong "onboarding" link"
https://github.com/clastix/capsule/blob/master/docs/content/operator/use-cases/overview.md#whats-next
https://github.com/clastix/capsule/blob/master/docs/operator/use-cases/onboarding

this link doesn't exists

[2021-11-30 13:35] prometherion commented on #478
Hey, thanks for reporting this, really appreciated!

May I ask you to provide also the Tenant YAML definition and the action used to create the Namespace for the said user? It seems it's executed by a Flux reconcile, would be great having further details in order to reproduce this.

[2021-12-01 09:34] tomarent commented on #478
I have done some additional tests and it's not related to the version.

When I add the service account at the end: "system:serviceaccounts:flux-system:tenant-serviceaccount" to the userGroups in the capsule configuration then it works. However this does not work: "system:serviceaccounts:flux-system".

I thought that using the group "flux-system" will include any service account created in that nam

[2021-12-04 14:40] bsctl opened #480 "Refactoring of the documentation structure"
# Bug description
With the publishing of the new [documentation website](https://capsule.clastix.io), we need to refactor the structure of the documentation for a better user experience.

# How to reproduce

Navigate the [documentation website](https://capsule.clastix.io)

# Expected behavior

A more smooth reading flow

[2021-12-07 06:33] adberger commented on #451
In consultation with @oliverbaehler I would like to take on this topic. However, the implementation does not seem as easy as written by @bsctl . How are metrics implemented in general by capsule and how to add custom metrics?

[2021-12-08 08:37] bsctl commented on #475
@fagurto thanks for the explanation. It looks to me you are looking for an hard multi tenancy where each tenant has access to his/her control plane, so he/she can install CRDs, Policies, AdmissionWebhooks, etc. Capsule has been designed as a soft multi tenancy solution with a single control plane shared between all tenants. As multi tenancy focused guys we’re working on a hard multi tenancy soluti

[2021-12-08 09:08] slushysnowman commented on #415
@prometherion - Just wondering, we're hitting this issue a lot with not being able to create `apiVersion: networking.k8s.io/v1` ingresses - for our own stuff we're using v1beta1 as a workaround, but a lot of the newer versions of helm charts we're using don't have the option to use v1beta1 and it's starting to have quite an impact.

Just wondering if there's any estimate on when v0.1.1 will be rel

[2021-12-08 13:50] slushysnowman commented on #415
No worries, thanks for the insight and hotfix!

[2021-12-13 07:41] GlassOfWhiskey commented on #222
Don't know if it helps but I use Kubed to manage these aspects in my cluster. I create secrets in the Kubed namespace and use clastix annotations to replicate them in tenant namespaces.

[2021-12-14 09:25] bsctl commented on #222
@GlassOfWhiskey thanks, that's really interesting.

[2021-12-16 16:39] #480 closed

[2021-12-16 17:35] #479 closed

[2021-12-17 09:56] bsctl opened #483 "Unable to start Capsule Controller Manager using the single YAML file installer"
# Bug description
Unable to start Capsule Controller Manager using the single YAML file installer.

Missing `namespaceSelector` in `pods.capsule.clastix.io` webhook:

[code]

# How to reproduce

Steps to reproduce the behavior:

Use single YAML file installer

# Expected behavior
Capsule is installed correctly

# Logs

[code]
# Additional context

- Capsule version: v0.1.1-rc1
- Helm Chart version

[2021-12-18 23:01] #483 closed

[2021-12-20 11:22] slushysnowman opened #486 "Helm chart - imagePullSecrets are not applied to post-install-job and pre-delete-job"
# Bug description

To prevent external dependencies, we are replicating Capsule images to a private repo, for which we need to auth. However, we run into issues with the post-install-job and pre-delete jobs, as these don't have imagePullSecrets specified in the spec.

- https://github.com/clastix/capsule/blob/master/charts/capsule/templates/post-install-job.yaml
- https://github.com/clastix/capsul

[2021-12-20 11:23] prometherion commented on #486
Hey @slushysnowman, you're totally right: would you like to contribute to this?

Just let me know so I can track it properly!

[2021-12-20 11:49] slushysnowman commented on #486
Yep, I'll work on this, was literally about to start.

[2021-12-20 19:31] slushysnowman commented on #478
Is the service account assigned as an owner of the tenant? It's not enough to just have it in capsuleUserGroups

[2021-12-21 06:43] #486 closed

[2021-12-21 06:45] #440 closed

[2021-12-21 06:53] prometherion commented on #486
[Chart has been released](https://github.com/clastix/charts/blob/gh-pages/capsule-0.1.4.tgz), update your local repository! 👀

[2021-12-21 06:54] prometherion commented on #478
Maybe better ask for help from @MaxFedotov that worked on this feature 👀

[2021-12-21 08:17] adberger commented on #451
@prometherion Any idea where to get started?

[2021-12-21 08:43] prometherion commented on #478
Ok, it seems I found an error, raising a PR and having a discussion there.

[2021-12-21 08:57] prometherion commented on #478
Obviously, if I missed something @MaxFedotov, please, be my guest: always had troubles with the SA integration, mostly for the integration part using `kubectl` 😅

[2021-12-21 09:46] MaxFedotov commented on #478
@prometherion  @tomarent i think this is the same issue that was here - https://github.com/clastix/capsule/issues/449#issuecomment-944194695

And this configuration works well for us :)

[2021-12-21 09:50] prometherion commented on #478
Ok, marking the issue as duplicate.

Please, @tomarent, if you feel the need to open it back, be my guest, and thanks for using Capsule! 🚀

[2021-12-21 09:50] #478 closed

[2021-12-21 10:43] #473 closed

[2021-12-21 13:21] prometherion commented on #451
Hey @adberger, thanks for the ping here!

Since Capsule is built on top of `controller-runtime`, we already have some controller metrics exported: this is really convenient since we don't have to put in place any additional webserver for metrics exposure, and implement the collector.

I started working on this a few days ago, just pushed on branch `issues/451` the work in progress, if you could ta

[2021-12-21 16:18] prometherion opened #488 "Docs refactoring erased the Multi-Tenancy Benchmark docs"
Pull Request #481 removed the MTB files introduced with #309, which is pretty useful to report the Multi-Tenancy Benchmarks of the homonymous SIG.

Files can be recovered from the following [revision](https://github.com/clastix/capsule/tree/5c7804e1bfef0ecc5389bc1f24449489036ff9dd/docs/content/operator/mtb).

[2021-12-22 08:33] #462 closed

[2021-12-23 11:39] #365 closed

[2021-12-26 19:51] #488 closed

[2021-12-27 07:40] adberger commented on #451
Thank you very much.
I'll look into it this week and give feedback.

[2021-12-27 07:51] #408 closed

[2021-12-27 10:52] prometherion commented on #439
JFI I was trying to replicate unluckily this issue so far, sharing my setup.

1. creating a Kubernetes cluster with Capsule installed
2. waiting for certs, etc.
3. scaling with `kubectl -n capsule-system scale deployment capsule-controller-manager --replicas=3`
4. installing a dummy Tenant manifest, such as `kubectl apply -f config/samples/capsule_v1beta1_tenant.yaml`
5. in another window, `kubect

[2021-12-29 13:27] prometherion opened #491 "Documentation link on website is broken"
Anything else to add? I don't think so.

[2021-12-29 16:03] MaxFedotov opened #493 "Not found errors in ServiceLabels reconciler"
We go a lot of errors like this in capsule controller log
[code]

They all are related to eps objects being deleted before capsule controller started its reconciliation.

[2021-12-29 16:07] #491 closed

[2021-12-29 16:26] #493 closed

[2021-12-29 20:05] prometherion opened #495 "Support for Kubernetes 1.23"
Ensure the latest release of Kubernetes is not breaking Capsule.

[2021-12-29 21:03] MaxFedotov commented on #438
@prometherion i think we had to reopen this issue. When migrating capsule under argocd, we start getting the following errors during sync:
![image](https://user-images.githubusercontent.com/12863390/147702657-b02da5d8-3e36-4e46-ab2d-e0f3c41db5cc.png)

The problem is related to https://github.com/clastix/capsule/blob/master/charts/capsule/crds/tenant-crd.yaml#L10 this line. ArgoCD tries to run `kub

[2021-12-29 21:11] prometherion commented on #438
We cannot address this with release v0.1.1 since this should be considered as a breaking change, since this would require a manual intervention by the cluster administrator to update the CRD specification.

WDYT?

[2021-12-29 21:20] MaxFedotov commented on #438
I think that won't be a breaking change, because the actual crd would be the same (as capsule controller already patched it :)). This change will affect only new users or argocd users.

[2021-12-29 22:10] prometherion commented on #438
I think you're right.

Could you take care of this @MaxFedotov by submitting a PR? I was planning to release the v0.1.1 release for the first days of 2022, would be great to get this landing into the upcoming version, too.

[2021-12-29 22:13] MaxFedotov commented on #438
Yes, no problem. We already built a helm chart with this fix and verified that everything is working in argoCD

[2021-12-30 08:31] #438 closed

[2022-01-03 10:33] #495 closed

[2022-01-06 08:10] adberger commented on #451
@prometherion I might be doing something wrong but I don't see the metrics yet.

I did https://capsule.clastix.io/docs/contributing/development/#fork-build-and-deploy-capsule with a kind cluster
Then I did `kubectl port-forward service/capsule-controller-manager-metrics-service -n capsule-system 8888:8080` and opened http://localhost:8888/metrics in a browser.

Regarding your question: Having two

[2022-01-11 10:20] prometherion commented on #472
Hey @arminc, finally Capsule [v0.1.1](https://github.com/clastix/capsule/releases/tag/v0.1.1) is out there!

It took more time than expected but we're happy for the end result: looking forward to your feedback on it! :eyes:

[2022-01-11 10:20] #472 closed

[2022-01-11 15:50] prometherion commented on #451
Are you referring to the custom or basic ones?

Becuase for the latters:

[code]

[2022-01-13 07:05] adberger commented on #451
I meant the custom ones

[2022-01-13 09:55] slushysnowman opened #500 "Deployment to EKS fails with Helm if jobs.image.tag is not specified"
# Bug description

If jobs.image.tag is not specified in Helm chart values, deployment to EKS fails.

This is because if not specified manually, the tag for the images used for the jobs is constructed from the kube version of the cluster in https://github.com/clastix/capsule/blob/master/charts/capsule/templates/_helpers.tpl:
[code]

On EKS the minor version contains a + as shown below:
[code]

Thi

[2022-01-13 09:59] prometherion commented on #500
The server version reply is really odd, I mean:

[code]

I never saw a Kubernetes API Server returning a non-semantic versioning value.

It seems more a rare case rather than a bug, we can try to document this in our guide on setting up Capsule on AWS EKS: WDYT?

[2022-01-13 10:07] slushysnowman commented on #500
Yeah I also find it super weird and Im pretty sure this is a specific EKS thing - we also run AKS and had no problems there at all (which is where I did my testing and then ran into this when I pushed to our staging env on AWS, woops...)

I don't know to be honest, it'd be nice if there was an automatic way of doing it, but it's gonna add more complexity into the the _helpers.tpl which I don't kno

[2022-01-13 10:09] prometherion commented on #500
What about using the Helm function `replace`?

Something as:

[code]

Not sure this is going to work, would be great if you could try on your own :)

[2022-01-13 10:11] slushysnowman commented on #500
Yeah that'd work and I guess it's not too complex - I'll test it and see how it goes and create a PR if it seems OK, then you guys can decide if you want it or not ;)

[2022-01-13 11:02] slushysnowman opened #501 "Rolebindings not created in new tenant namespaces (Capsule 0.1.1)"
# Bug description

We just upgraded from 0.1.0 to 0.1.1 using the helm chart as follows:

1. `helm uninstall -n platform capsule`
2. `kubectl apply -f https://raw.githubusercontent.com/clastix/capsule/v0.1.1/config/crd/bases/capsule.clastix.io_tenants.yaml`
3. Reinstall helm chart using 0.1.5 (we do this via terraform)

Everything seems to go OK - but when we create a namespace in an existing tena

[2022-01-13 11:03] slushysnowman commented on #501
As far as I know we upgraded correctly, but if we didn't then please let me know and I'll re-test

[2022-01-13 11:23] slushysnowman commented on #501
I've also just tried a fresh install with CRDs etc removed before install and the same issues occur

[2022-01-13 11:46] prometherion commented on #501
Hey, thanks for the bug report: could you give a try with Capsule v0.1.0, just to understand if everything's ok with the previous version?

[2022-01-13 11:57] slushysnowman commented on #501
Yeah everything works with previous version, we were already running that in production with no issues - we've since rolled back to 0.1.0 (chart version 0.1.4) as I couldn't figure out what was causing this issue

[2022-01-13 20:34] bsctl commented on #501
@slushysnowman tried to reproduce many time the issue without success. After upgrade, how do you create new namespaces?

Noted this error in the logs you posted:

`{"level":"debug","ts":"2022-01-13T10:56:39.458Z","logger":"controller-runtime.webhook.webhooks","msg":"wrote response","webhook":"/namespace-owner-reference","code":403,"reason":"Cannot assign the desired namespace to a non-owned Tenant

[2022-01-13 20:53] slushysnowman commented on #501
Thanks for looking at it - We create new namespaces either through terraform or kubectl. Strange that you can't reproduce it, for me it happens every time, either using a service account set as a tenant owner, or my personal access. For user access we use Pinniped for SSO and assign AD groups as tenant owners

We have forceTenantPrefix set to true, or at least we did before the upgrade, I didn't c

[2022-01-14 07:46] bsctl commented on #501
@slushysnowman, kindly, give a test by upgrading from v0.1.0 to v0.1.1 directly with a `helm upgrade -n platform capsule` without uninstall and then share the result here. The tenant CRD did not changed from 0.1.0 to 0.1.1, so there is no need to uninstall first.

[2022-01-14 08:32] slushysnowman commented on #501
@bsctl OK so I've tried again the following:
- Deployed cluster with Capsule 0.1.0 (chart 0.1.4)
- Directly applied new version of helm chart (0.1.5) without uninstalling etc first
- Deployment succeeds super quick, no issues
- Auth as a tenant owner via Pinniped/AD
- Create namespace (with tenant name as prefix)
- Namespace created successfully
- Namespace is visible on tenant.status.namespaces
-

[2022-01-14 08:57] slushysnowman commented on #501
I've just tried turning off `forceTenantPrefix` and instead adding a `capsule.clastix.io/tenant` label to the namespace - again, the namespace gets added onto the tenant and gets the correct ownerReferences, but no rolebindings are created.

[2022-01-14 11:30] slushysnowman commented on #501
OK so I've just tried again in a totally new local kind cluster to remove influence of any other tools:
 - Install kind
 - `kind create cluster` - version 1.21.1
 - `kubectl create namespace platform`
 - `helm install capsule clastix/capsule --version 0.1.5 --namespace platform -f values.yaml`
 - `kubectl apply -f tenant.yaml`
 - `kubectl create serviceaccount -n platform test`
 - `kubectl create

[2022-01-14 11:37] slushysnowman commented on #501
I've just removed capsuleUserGroups from the values.yaml and then it works, rolebindings are created as expected.

How do I go from here to debug this further?

[2022-01-14 11:54] bsctl commented on #501
Are you creating the namespace oil-test as cluster admin?

[2022-01-14 12:28] bsctl commented on #501
Well, we reproduced the same behaviour, let's us to debug. Thanks

[2022-01-14 12:33] slushysnowman commented on #501
Yeah sorry, the namespace was created using --as - I forgot to add that. Glad you are now able to reproduce! Let me know if I can help in some way

[2022-01-19 12:40] slushysnowman commented on #501
Hey, just checking, any idea what a workaround for this issue could be? We're really eager to use 0.1.1 so that we can start using v1 ingress, but this issue is blocking that, so we're wondering if there's some way we can get around it for now.

[2022-01-19 16:18] prometherion commented on #501
Ok, I think I was able to debug properly this.

Essentially, Capsule is performing several actions upon a reconciliation request, such as:
- syncing Resource Quota
- updating Namespaces
- syncing Network Policies
- syncing Limit Ranges
- syncing Role Bindings

All these actions are performed in a sequential way and are blocking, it means that if we fail one of the above, the following ones will no

[2022-01-19 18:00] bsctl commented on #501
Thanks @prometherion for the well done analysis and clear explanation. I would say, just documenting it is safe enough. As you pointed out, we tend to forget that Kubernetes itself is managed and controlled by controllers that are essentially ServiceAccount resources.

[2022-01-19 20:21] slushysnowman commented on #501
Aha! Thanks @prometherion for the explanation - super clear! I'll modify our setup tomorrow and hopefully that fixes stuff for us - with that explanation in mind it's interesting that it worked at all in 0.1.0.

Super grateful for the investigation, hopefully we can now upgrade to 0.1.1 and enjoy all the benefits, much appreciated!

[2022-01-20 09:08] oliverbaehler commented on #416
@prometherion Still the same thoughts on this? I mean we could start a very simple feature where it just renders all the resources and validation for the basic kubernetes fields (kind,metadata) and then go from there

[2022-01-20 11:12] slushysnowman commented on #501
Just to confirm, suggested change to the userGroups is working for us, in the process of upgrading to 0.1.1 now, thanks for the help!

[2022-01-20 12:17] bsctl commented on #501
@slushysnowman Thanks for letting us know and for using Capsule!

[2022-01-20 20:52] #501 closed

[2022-01-20 22:01] bsctl opened #504 "Document how to backup and restore Capsule tenants using Velero"
# Describe the feature
We should document in a user guide how an admin can backup and restore Capsule tenants using Velero. Currently, the guide only reports the procedure how to recover tenants from a restore.

# What would the new user story look like?
The cluster admin can learn how to backup and restore Capsule tenants and related resources (including persistent volumes) by using Velero.

# Ex

[2022-01-21 09:34] fierman333 commented on #439
Now sometimes we have that issue only with one running pod.
Usually this is fixed by deleting `capsule-controller-manager` pod.
Something which we notice is that when webhook is failing following log is missing:

[code]

So probably service on port 9443 is not started.
Should liveness and readiness probe depend on that service when starting pods ?

[2022-01-21 10:04] prometherion commented on #439
Does it mean that at `t0` Capsule webhooks are working and then, suddenly, all webhooks are failing due to connection refused?

Do you have further insights on memory usage, open file descriptors or anything else that could be used to debug from an observability standpoint the _broken_ pod?

Actually, we're just ensuring the Manager is correctly started using the default probes.

https://github.co

[2022-01-25 13:30] MaxFedotov opened #507 "object count resource quotas not working when using Tenant scope"
Create a tenant with the following spec:

[code]

as tenant owner create a namespace
[code]

following errors will appear in capsule controller logs:
[code]

empty `ResourceQuota` will be created in `oil-foo` namespace
[code]

[2022-01-25 16:04] #507 closed

[2022-01-30 21:26] bsctl commented on #382
@gaurav04 The described behavior has not be reproduced with latest v0.1.1 release. Closing it. Feel free to reopen in case you will face it again.

[2022-01-30 21:34] bsctl commented on #231
We’re planning the Capsule platform which is made of Capsule Operator and additional components as the Capsule Proxy. We keep each add-on installation as independent.

[2022-01-30 21:34] #231 closed

[2022-02-01 07:08] EthanAlban opened #509 "failed to find any PEM data in certificate input"
I can still get this err

1. **[root@localhost ~]# kubectl version -o json**
[code]
2. **[root@localhost capsule]# ./hack/create-user.sh alice oil**
[code]
[root@localhost capsule]#  export KUBECONFIG=alice-oil.kubeconfig

3. **[root@localhost capsule]# kubectl get pod**
E0131 02:29:13.633905   32682 cert_rotation.go:168] key failed with : tls: failed to find any PEM data in certificate input
E013

[2022-02-01 10:50] prometherion commented on #509
This is interesting, it's something we already faced in another issue (#385).

This time we got more data and what took my attention is the `/spec/groups` field: I think you're using Rancher since the `system:cattle:authenticated` group is used by them and I started to look for issues with `CertificateSigningRequest` and went through this one.

https://github.com/k3s-io/k3s/issues/524

Would be gr

[2022-02-08 08:00] oliverbaehler opened #510 "Validate Forbidden Regex Patterns"
# Bug description

When the Regex Pattern for any forbidden annotation is not correct, the capsule controller panics on resource creation because of the faulty pattern.

# How to reproduce

Steps to reproduce the behavior:

1. Take a Regex which is not supported (eg. only compatible with PERL/Python):

[code]

2. Create Tenant which the faulty regexp as value for the forbidden labels and annotatio

[2022-02-08 16:48] oliverbaehler commented on #416
After some thoughts i may have an extra idea for this feature.

What if we would also add a selector, with which we could target only specific namespaces which create the additional  resource (if no selector set create in all)

So the an extra resource would look something like this

[code]

This might also help with building a tenant based rbac, since you could assign rolebinding based on the nam

[2022-02-09 12:03] prometherion commented on #510
@oliverbaehler would you like to work on this? Otherwise, we could ask @EthanAlban for help!

[2022-02-09 13:24] EthanAlban commented on #509
yes it's rancher cluster, and today I did the same things on another cluster based on bare machines, capsule works well.

[2022-02-09 13:24] #509 closed

[2022-02-11 13:51] EthanAlban opened #511 "Document Webhook url to IDE missing path: /nodes"
# Bug description
[code]
In the Capsule doc [development part ](https://capsule.clastix.io/docs/contributing/development/#setup-the-development-environment) ,when delegating the webbooks' services ,it misses to edit the nodes webhook,leading to console like:

[code]

# How to reproduce

Steps to reproduce the behavior:

1. Provide the Capsule Tenant YAML definitions
[code]

# Expected behavior

To

[2022-02-14 08:14] prometherion commented on #511
Thanks for reporting the documentation issue: we totally missed keeping track of the `/nodes` endpoint.

However, I'm not sure the issue you're encountering is due to the lack of that endpoint:

It seems the webhook configurations are still trying to reach out to the Capsule pod that is not running in your Kubernetes cluster, since the endpoint `capsule-webhook-service.capsule-system.svc` is inter

[2022-02-14 08:23] EthanAlban commented on #511
Yeah second thought what you said may be the reason,
but I did this cmd after scale back the deployment
`kubectl -n capsule-system scale deployment capsule-controller-manager --replicas=0`
The tenants webhook is the last one(9th), so in my case it hasn't been modified, webhook will try to reach out svc internally, instead of my IDE.

[2022-02-14 10:38] prometherion commented on #511
I guess the reason is this code:
https://github.com/clastix/capsule/blob/cd56eab119c92bf870b9995d7ac8760906048124/controllers/secret/ca.go#L42-L75

The function is going to be triggered at start-up by the Secret reconciler.

We should improve the documentation as follows:

1. scale down Capsule Pod
2. start Capsule locally
3. patch {Validating.Mutaging}WebhookConfiguration resources

The downside

[2022-02-16 11:15] Pandry commented on #510
Hi, I managed to write a fix (I still need to write the tests)

[2022-02-17 20:25] prometherion commented on #439
Thanks for the update @fierman333!

I think it's related to #440: due to that bug, we needed to skip setting up webhooks when the CA is missing, otherwise, we would have encountered issues with the CRD conversion webhook.

However, when one instance of the manager gains the leader election, it should delete the other Pod once CA has been generated.

https://github.com/clastix/capsule/blob/cd56eab1

[2022-02-22 06:11] #510 closed

[2022-02-24 08:55] prometherion commented on #511
Documentation fixed with #512.

[2022-02-24 08:55] #511 closed

[2022-02-24 10:17] alegrey91 commented on #426
Can I assign this issue to myself?

[2022-02-24 11:13] barrydobson opened #516 "Adding Capsule to existing cluster"
Hi,
I've spent quite a lot of time look at the documentation, and other issues/use cases in order to understand how to use Capsule for my use case, but I'm unable to find any details.

I have an EKS which I'm looking to add Capsule to. This cluster is fully managed by FluxV2, both Kustomize and Helm controllers. The cluster has quite a bit of 'system' pods that are running. E.G. prometheus to gath

[2022-02-24 13:20] oliverbaehler commented on #516
Hi, I can help you out. We are using the same pattern without any problems.

What kind of RBAC are you using for Flux. Is Flux in a Tenant as Well? We don't deploy Flux into a Capsule Tenant.

[2022-02-24 13:41] barrydobson commented on #516
Hi @oliverbaehler Thanks for your response.

I am hoping not to have flux in a tenant. I would like certain namespaces to be unmanaged by Capsule, these would be namespaces containing things such as monitoring, flux etc. Once deployed I want to create tenants, then have flux watch the tenant repository and be able to deploy into that tenant.

What I've found is that once Capsule is on there, it se

[2022-02-24 14:55] prometherion commented on #426
We still need to figure out `v1beta2` design, I'd is blocked.

[2022-02-24 15:03] prometherion commented on #516
Hey @barrydobson, thanks for opening your first Capsule issue!

At first sight, it seems you're using the entry `system:serviceaccounts` in the `CapsuleConfiguration/spec/groups` key: is that correct?

[2022-02-24 15:28] barrydobson commented on #516
my capsule usergroups are
[code]

[2022-02-24 22:13] oliverbaehler commented on #516
Well since you consider all the SAs in the namespace `flux-system`: are they owners of the tenants they should reconcile stuff in?

We deploy a dedicated serviceaccount (eg. Called `orchestrator` in the namespace `tenants`.  Then we add `system:serviceaccounts:tenants:orchestrator` as capsule group. This sa we use to deploy actual tenants and make him owner of each capsule tenant, so he can bootst

[2022-02-25 14:18] barrydobson commented on #516
This is kind of what I've been trying. I have flux-system namespace, with the the service accounts, but reconciliation always fails because of the no tenant issue.

[2022-02-25 14:58] prometherion commented on #516
If the Flyx ServiceAccount deployed in `flux-system` should be able to create Namespace resources, obviously, it must be added to the Capsule user group array.

With that said, to deploy Namespaces, it must have one or more Tenant resources assigned, otherwise, the webhook will prevent any creation operation: it's like Alice, if they ain't any Tenant assigned, no self-service Namespace for them.

[2022-02-28 10:53] barrydobson commented on #516
I've done some more testing with this over the weekend.
I've managed to have flux work as expected on namespaces which are not a tenant by adding the service account to the capsule user groups setting.
The net issue I'm facing is that when flux deploys a tenant, then creates a namespace, it's not being picked up as tenant. Therefore none of the rules are being applied.

I'm not sure if I'm missing

[2022-02-28 12:01] slushysnowman opened #520 "Allow specifying multiple nodeSelectors on a tenant"
# Describe the feature

We have a use-case where tenants can use 2 different node pools.

1. A shared node pool available for use by all tenants on a cluster
2. A private node pool only available for use by a specific tenant or group of tenants

The current nodeSelector specification on a tenant does not allow this use case (apart from some very creative use of labels on nodes) - currently we use

[2022-02-28 12:07] MaxFedotov commented on #520
Hi @slushysnowman.
As i remember, node selectors doesn't support OR operation (https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector), so it will impossible to achieve. What you can do is to use taints and tolerations on this nodepools or allow user to create 2 different tenants - one using the private pool, another using shared

[2022-02-28 12:18] MaxFedotov commented on #516
hi @barrydobson. Is you flux account added as tenant owner to the tenant where you try to create namespace?

[2022-02-28 21:08] slushysnowman commented on #520
It depends how Capsule checks I guess?

For example, if Capsule verifies the nodeSelectors on the pod spec against the multiple nodeSelectors specified on the tenant that should work right?

For example:

1. Pod going to be deployed with nodeSelector specified
2. Capsule assesses nodeSelector on pod
3. Pod nodeSelector matches specified nodeSelector on tenant
4. Pod is deployed

Or am I looking at

[2022-02-28 21:15] MaxFedotov commented on #520
Capsule uses built-in PodNodeSelector admission controller (https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#configuration-annotation-format). So basically whatever you add as nodeSelector to your TenantSpec would be added to this annotation.

[2022-02-28 21:31] slushysnowman commented on #520
Yeah it makes sense that continuing to do it this way would make this feature request impossible - but potentially there are other ways that this functionality could be implemented.

If it's not desired to add this to Capsule, that's all good - currently we're using Kyverno for this, as Capsule's nodeSelector option wasn't fit for our purposes - we'd potentially like to swap to using Capsule for t

[2022-03-01 07:15] barrydobson commented on #516
Thanks for all of the suggestions, I think I'm making progress.

Flux is now able to provision inside a tenant. The last major blocker I have is that now flux won't reconcile any namespace that isn't a tenant, for example, it's own namespace.

[2022-03-02 00:03] gkarthiks opened #521 "Resource name mismatch in the code vs charts"
# Bug description

The CA secret name in the code has been hard-coded as `capsule-ca` (ref [here](https://github.com/clastix/capsule/blob/7fefe4f6dedcdf5c600f4edc0f55657ab4bfbb5b/controllers/secret/const.go#L10)), which is what is used to search for the _secret_ that provides the CA for the controller manager.

But in the chart, the name of the secret is templated as `name: {{ include "capsule.sec

[2022-03-07 15:11] oliverbaehler commented on #516
For anyone else reading this, we also had to deploy an additional clusterRole/Binding so that serviceAccounts could actually deploy namespaces via Kustomizations (this requires patch privileges). Otherwise it fails like so:

[code]
So we added the following, which grants patch rights to namespaces for all tech accounts for all tenants:

[code]

Once I have some time I would consider contributing a

[2022-03-07 18:11] gkarthiks commented on #521
hi team, any update on this or path for moving forward would be greatly appreciated.

[2022-03-07 19:08] gkarthiks opened #522 "OwnerSpec List in CRD"
# Bug description

As of today the CRD  [here](https://github.com/clastix/capsule/blob/master/charts/capsule/crds/tenant-crd.yaml#L487) shows the `owner`  with `properties` and defines the `type` as `obejct`. Shouldn't this be as an array like below?

[code]

I am using [cdk8s](https://cdk8s.io/) to create the manifests through the code and deploy it via pipeline. There's a functionality in the cd

[2022-03-07 20:00] bsctl commented on #522
@gkarthiks Thanks for using Capsule. It seems you're actually referring to the `v1alpha1` CRD version. The current `v1beta1` the `owners` field is an array [here](https://github.com/clastix/capsule/blob/7fefe4f6dedcdf5c600f4edc0f55657ab4bfbb5b/charts/capsule/crds/tenant-crd.yaml#L1112).

[2022-03-07 23:32] gkarthiks commented on #522
yup, my bad. The sdk am using is not considering the array of versions on the CRD. Thank you. I'll close this issue.

[2022-03-07 23:32] #522 closed

[2022-03-07 23:34] gkarthiks commented on #522
Also liked the neat en**capsul**ation of the `NamespaceOptions`, `ServiceOptions`. :rocket: 🏅

[2022-03-08 14:30] prometherion commented on #521
Hey @gkarthiks, thanks for opening the issue!

I think we got two options here:

1. hard-code the certificates Secret names to `capsule-{tls,ca}`
2. allow specifying a different name using a set of CLI flags
3. allow specifying a different name using the `CapsuleConfiguration` resource

To be honest, I like the approach of nr.3 since would be more Kubernetes-native, would be great having feedback

[2022-03-08 14:55] prometherion commented on #516
Thanks for this, @oliverbaehler, really appreciated it!

This would be absolutely great, what about creating an issue to track it down?

[2022-03-11 18:10] gkarthiks commented on #521
I like approach no 3 as well. The CapsuleConfiguration is supposed to have these configs.

[2022-03-11 18:11] prometherion commented on #521
Oh, that's great! @davideimola is already working on it, could you confirm?

[2022-03-11 18:11] davideimola commented on #521
Yes, I am working on it

[2022-03-11 21:06] prometherion opened #524 "Dynamic cluster roles for Tenant owners"
# Current state

For each Tenant owner in a Tenant specification, Capsule is going to grant `admin` capabilities to the created Namespace resources.

[code]

The resulting RoleBinding will be the following:

[code]

# Desired state

The cluster administrator would like to provide a different role rather than `admin`, and eventually, add different roles to each tenant owner.

A proposed definition

[2022-03-11 21:08] prometherion commented on #524
@carpenterm according to our chat, I think this feature could be interesting for your needs: are you or any of your team available to work on this?

[2022-03-11 21:21] prometherion opened #525 "Propagate resources across all Tenant Namespace using the TenantResource custom resource"
# Current design

Alice would like to create several resources on each of their Namespaces. Upon the creation of each Namespace, they have to create the desired resources on each Namespace. Any automation cannot be put in place here.

# Desired design

A new CRD could be crafted as follow.

[code]

The Namespace-scoped resource `TenantResource` would allow `alice` to create on each Tenant namespac

[2022-03-11 21:39] prometherion commented on #416
@oliverbaehler JFI there's a feature request (#525 ) that is pretty similar to this. Could you provide feedback on that?

[2022-03-14 08:37] slushysnowman commented on #520
@prometherion apologies for delay, here it is:
[code]

[2022-03-14 08:42] slushysnowman commented on #525
Looks pretty good - would this also allow specifying pre-existing resources to be created in namespaces? Or would the spec of the item to be created in the namespaces have to be defined within `TenantResource`?

I'm imagining this could also be used to solve this issue? https://github.com/clastix/capsule/issues/222 - my only concern is if we specify secrets on this spec (although maybe we can use

[2022-03-14 10:00] maxgio92 commented on #521
Just as a side note, in this situation where the CA secret search fails, also the `helm uninstall` does not complete leaving the:
- `MutatingWebhookConfiguration`
- `ValidatingWebhookConfiguration`
- `Job` that waits for the CA `Secret` _<capsule-release-name>-waiting-certs_

[2022-03-14 10:04] MaxFedotov commented on #524
I will try to start working on issue this week

[2022-03-14 14:03] maxgio92 commented on #521
I think that also `MutatingWebhookConfiguration` and `ValidatingWebhookConfiguration` do not match

[2022-03-14 14:55] maxgio92 opened #526 "Upgrade Helm chart with new CapsuleConfiguration annotations"
# Describe the feature

This issue tracks the needing to upgrade the Helm chart, after #523 will be approved, merged and released.

# What would the new user story look like?

`TBD`

# Expected behavior

The Helm chart should be able to populate the annotation values in the `CapsuleConfiguration`, of which the support will be introduced by #523.

[2022-03-14 20:19] bsctl opened #527 "Document how Capsule integrates in an ArgoCD GitOps based environment"
# Describe the feature
Document how Capsule integrates in an ArgoCD GitOps based environment.

# What would the new user story look like?
The cluster admin can learn how to configure an ArgoCD GitOps based environment with Capsule

# Expected behaviour
A detailed user guide is provided into documentation.

[2022-03-14 20:21] bsctl opened #528 "Document how Capsule integrates in a Flux GitOps based environment"
# Describe the feature
Document how Capsule integrates in a Flux GitOps based environment.

# What would the new user story look like?
The cluster admin can learn how to configure a Flux GitOps based environment with Capsule

# Expected behaviour

A detailed user guide is provided into documentation.

[2022-03-15 18:48] oliverbaehler commented on #528
Comment for Assignment

[2022-03-15 18:56] oliverbaehler commented on #525
Sure thing, that's a great proposal and would certainly help with #416.

For the selector it would be awesome if we could also use `matchExpressions` instead of only `namespaceSelector`. This would allow more generic assignments, eg:

[code]
Sorry if it's already implied with the `namespaceSelector` that this should work as well.

[2022-03-15 19:41] bsctl commented on #528
Thanks @oliverbaehler  really appreciate.

[2022-03-16 10:13] prometherion commented on #525
@oliverbaehler we're going to support it using the `metav1.LabelSelector`, so yes, end-user will be able to pick the preferred selection of items.

Referring to an external object could be tricky, mostly due to a precondition regarding its existence: what should we do if the referred object doesn't exist? Should we block reconciliation, or just log it out or broadcast event about it?

Let's start

[2022-03-16 10:19] prometherion commented on #520
I'm not a Kyverno expert, please correct me if I'm wrong.

Essentially, this policy is creating a validation pipeline made up of 3 steps.

1. with the stage `default-shared-nodeselector` you're ​providing a default value in case the Pod doesn't have it.
2. with the stage `disallow-non-tenant-nodes` you're validating only the Pods that got a value different from shared, retrieving the Tenant and ch

[2022-03-17 10:23] MaxFedotov commented on #527
What we do in order to configure ArgoCD to work with capsule and capsule-proxy:
1. We had a dedicated cluster (we call it management cluster) in each region where we install argoCD, where we connect all kubernetes clusters, located in the region
2. We add `system:serviceaccounts:argocd-system` to `userGroups` in `CapsuleConfiguration` CRD in each cluster
3. We add the following to `owners` list in

[2022-03-19 08:53] prometherion commented on #527
Am I wrong or assigning `ArgoCD` ServiceAccount as Tenant Owner means that the ArgoCD instance would be able to create Namespace resources only if assigned to a Tenant?

With that setup, if I understood correctly, ArgoCD would deploy only the Tenant namespaces, other components would be managed by a different instance due to the `owner.namespace.capsule.clastix.io` webhook, isn't it?

[2022-03-19 09:18] MaxFedotov commented on #527
Yes and no :) we had a single instance of argocd, which manages both, user application and cluster components (they are located in different argocd projects).
The thing is that in our case every node or namespace is located in some tenant - for cluster components we use a special tenant called system (and for components which are installed before capsule we create namespaces using yaml files, wher

[2022-03-22 12:23] fierman333 commented on #439
@prometherion Sorry for late answer. Last time when we had this issue we have decreased pods count from 3 to 1 for capsule manager and we didn't has issues for long time until now. Should this means that probably we should try with deployment count set again to 3 pods as probably that issue was fixed in newer version ?

[2022-03-25 15:50] prometherion opened #531 "Document ProxySetting Capsule-Proxy CRD"
The Capsule repository is hosting the documentation website also for Capsule Proxy.

With clastix/capsule-proxy/issues/196 a new CRD is added to provide additional proxy settings to users who aren't tenant owners.

[2022-03-29 17:15] fierman333 commented on #439
I think the problem is some race condition between installing secrets `capsule-tls` and `capsule-ca` by helm chart. On each helm chart deployment that files are redeployed as empty secrets and if I am correct that secrets should be updated.
If that secrets are not managed by helm shouldn't make sense that they should be completely managed by capsule app instead ?

[2022-03-30 03:43] viveksyngh commented on #439
@prometherion @bsctl  IMO the generation of the `capsule-tls` and `capsule-ca`, we are doing this through built-in controllers in the capsule and trying to remove any other dependency required for the capsule to run. But can we make this feature somehow optional and provide another way to provide the tls cert and ca cert? For other operators, we use cert-manager to inject ca and tls certs for webh

[2022-03-30 13:23] prometherion commented on #439
Thanks @fierman333, you're totally right and thanks for spotting this: now we should full take advantage of the 3-way strategic merge patch offered by Helm, please, review the PR related to this issue!

[2022-03-30 13:25] prometherion commented on #439
I think yes, @viveksyngh, also considering the work on #521: we could provide a Helm option to skip the creation of certificates, and reference the name of the ones created by cert-manager in the CapsuleConfiguration.

Could I ask you to open an issue? As usual, contributions are highly appreciated! 🤗

[2022-03-30 15:29] fierman333 commented on #439
@prometherion Thanks for your help fixing this issue !
I can confirm that I have tested that solution and secrets are not overwritten by helm on new deployment.
I have approved that MR.

[2022-03-31 03:18] viveksyngh commented on #439
@prometherion I will open an issue and also work on implementing that.

[2022-03-31 07:28] #439 closed

[2022-03-31 07:31] prometherion commented on #439
Chart has been released with version v0.1.7, thanks all for the hard work on tackling this!

[2022-04-01 09:58] carpenterm commented on #524
@MaxFedotov did you manage to get anywhere with this one? If you can't get to it perhaps we can help?

[2022-04-04 15:15] prometherion opened #535 "CI is broken"
`controller-gen` is no more installed and not available in the `bin` folder.

[2022-04-06 15:52] #535 closed

[2022-04-06 20:30] MaxFedotov opened #538 "post and pre jobs in capsule helm chart should use the same tolerations as capsule deployment"
When installing capsule from helm chart and adding `tolerations` values (e.g  effect: NoSchedule, key: node-role.kubernetes.io/master) capsule installation will fail because the `post-install-job` will not be able to start on master nodes due to missing tolerations in job spec

[2022-04-07 08:16] #538 closed

[2022-04-12 09:05] prometherion opened #543 "Upgrade to Go 1.18"

[2022-04-12 12:36] prometherion commented on #526
Chart has been upgraded in #523, closing.

[2022-04-12 12:36] #526 closed

[2022-04-12 12:41] prometherion commented on #520
@MaxFedotov I'd like to offer this enhancement to Capsule, overcoming the limitations of the [`PodNodeSelector`](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podnodeselector) that is not enabled by default, so we can decrease the number of add-ons required to run Capsule properly.

My idea is to create a new handler in the Pods webhook, iterating over the conditio

[2022-04-12 12:42] prometherion commented on #475
Closing this issue and linking the [Kamaji](https://github.com/clastix/kamaji) repository.

[2022-04-12 12:42] #475 closed

[2022-04-12 12:43] prometherion commented on #434
Closing due to inactivity, feel free to open it back!

[2022-04-12 12:43] #434 closed

[2022-04-12 20:34] rumstead commented on #527
Isn't this a chicken and egg problem? How do you create the `argocd-system` before Argo CD has access to deploy to the cluster?

[2022-04-13 07:48] bsctl opened #546 "Validating webhooks fail due wrong ca bundle after helm upgrade"
# Bug description

Validating webhooks fail due wrong ca bundle after helm upgrade:

# How to reproduce

Steps to reproduce the behavior:

1. Install Capsule with Helm
2. Create some tenants
4. Update Capsule via helm upgrade

[code]

5. Login as tenant owner and create a namespace in the given tenant

[code]

# Expected behavior
Tenant owner is able to operate after capsule helm upgrade

# Logs

[2022-04-14 14:10] #546 closed

[2022-04-14 14:35] #524 closed

[2022-04-14 15:21] #543 closed

[2022-04-18 20:06] bsctl commented on #525
@prometherion even if it is a good and smart design, I’m having some concerns about this approach. Who’s in charge of creating the `TenantResource` object? If we leave the tenant owner the duty of creating additional resources in such way, we’re breaking the Capsule rule of native Kubernetes experience since the tenant owners have to create custom resources specific of Capsule as they were forced

[2022-04-21 11:05] alegrey91 opened #549 "Design an AppArmor security profile"
# Describe the feature

We should consider designing an **AppArmor** profile to be assigned to **Capsule** when installed.
Being a sensitive component in the cluster, this should be a good security improvement.

# What would the new user story look like?

1. Prerequisites for this feature are that **AppArmor** must be already installed on the cluster machines.
2. The **AppArmor** profile must be d

[2022-04-26 10:19] alegrey91 opened #550 "Add capsule charm link to documentation"
# Description

Capsule has now been published on [charmhub](https://charmhub.io).
We should update the documentation with the charm link or a badge like this:
[![Get it from the Charmhub](https://charmhub.io/capsule-k8s/badge.svg)](https://charmhub.io/capsule-k8s)

[2022-04-29 12:50] prometherion opened #551 "Documenting how to integrate the Kubernetes Dashboard with Capsule Proxy"
Since it works, why not share it with the community?

[2022-05-06 06:48] viveksyngh opened #554 "Use cert-manager to issue certificate for the capsule webhooks"
# Describe the feature

the generation of the `capsule-tls` and `capsule-ca,` we are doing this through built-in controllers in the capsule and trying to
remove any other dependency required for the capsule to run.

But can we make this feature somehow optional and provide another way to provide the tls cert and ca cert? For other operators, we use `cert-manager` to inject ca and tls certs for web

[2022-05-06 07:36] MaxFedotov commented on #554
@viveksyngh funny thing is that i've just wrote the same thing to @prometherion yesterday :)
Already working on PR, will be ready today or on Monday

[2022-05-06 07:48] viveksyngh commented on #554
Yeah, we had the same issue and discussed that solution some time back. here #439 . Happy to review and test it once you have the MR ready.

[2022-05-09 14:18] TinySong commented on #550
/assgin

[2022-05-09 14:59] alegrey91 commented on #550
Hi @TinySong, [charmhub](charmhub.io) is a package hub for charms. Charms are operators that run on [Charmed Kubernetes](https://ubuntu.com/kubernetes/charmed-k8s), which is the Kubernetes distribution from Canonical.
We released **capsule** as charm operator few days ago (link [here](https://charmhub.io/capsule-k8s)), and we have to add a section about the charm in the **capsule** documentation i

[2022-05-13 09:20] maxgio92 opened #560 "Docs: link the Capsule Community repository"
This issue tracks the need to link the [capsule-community](https://github.com/clastix/capsule-community) repository.

[2022-05-13 09:34] #560 closed

[2022-05-16 12:52] MaxFedotov opened #563 "Annotation to protect tenant from accidental deletion"
Now if we delete a tenant all tenant namespaces are deleted automatically by kubernetes garbage collector. To protect critical tenants from accidental deletion (e.g. wrong commit to ci\cd system) it would be good to have some annotation, like
`capsule.clastix.io/protected`, which will make `capsule-controller` to ignore tenant deletion and instead add event and message to a log.

@prometherion WDY

[2022-05-16 12:57] bsctl commented on #563
@MaxFedotov we have a customer having the same request. We solved by adding a finalizer, so tenant cannot be deleted accidentally.

[2022-05-16 13:52] prometherion commented on #563
What about using the actual webhook handlers to prevent deletion? We got already `/tenant`, it's just a matter of adding a new handler.

[2022-05-16 13:52] prometherion commented on #563
What about using the actual webhook handlers to prevent deletion? We got already `/tenant`, it's just a matter of adding a new handler.

[2022-05-16 14:21] prometherion commented on #531
Closed via #562

[2022-05-16 14:21] #531 closed

[2022-05-16 14:59] prometherion opened #564 "Not returning an error in case of non limited custom resource"
Actually, we're not discriminating upon the error of parsing the limit for custom resources.

https://github.com/clastix/capsule/blob/8c0c8c653d473ae946b46c1b10c3a1fee10f65ae/pkg/webhook/tenant/custom_resource_quota.go#L79-L81

The function `capsulev1beta1.GetLimitResourceFromTenant` can return an error due to parsing, or because the resource is not limited, and we should do proper error validatio

[2022-05-16 15:51] #564 closed

[2022-05-23 07:17] #554 closed

[2022-05-23 07:26] prometherion opened #567 "Support for dynamic ignored user groups"
Capsule is leveraging Kubernetes multi-tenancy using a combination of custom controllers and webhooks, used to intercept requests issued by tenant owners and allow or deny those.

Capsule supports ownership from multiple sources, such as User, Group, or ServiceAccount: the latter ones are also controllers living in the Kubernetes management system, aka `kube-system`. With that said, we cannot let

[2022-05-23 07:27] prometherion commented on #567
@gkarthiks I could have missed something, let me know.

If it looks good to you and still eager to work on this, let me know so I can assign it.

[2022-05-23 17:13] gkarthiks commented on #567
looks great, I will work on this.

[2022-05-24 13:05] ptx96 opened #569 "CI - Upload image to docker.io"
It is necessary to have the OCI images also on docker.io

[2022-05-24 13:26] #569 closed

[2022-05-27 19:20] #550 closed

[2022-05-28 14:27] TinySong opened #573 "question about capsule tenant owner default Role"
# Bug description

I have some questions about the default role of tenant owner as described in https://capsule.clastix.io/docs/general/tutorial#assign-tenant-ownership. Maybe this is not a bug.

as the description above. when creating the tenant using the yaml
[code]
question 1:
alice the tenant owner will assign  `ClusterRole/editor` and `ClusterRole/manager`. In other word,  the clusterRole `ed

[2022-05-28 14:29] TinySong commented on #573
cc @prometherion  need some help!

[2022-05-30 08:58] prometherion opened #574 "Switch default container registry to Docker Hub rather than quay.io"

[2022-05-31 09:00] prometherion commented on #573
manager should I create manually?

tl;dr; yes

This feature has been designed to address a fine-grained multi-tenancy implementation. Let's imagine the case where you're working in a company that must address specific security guidelines and your security department states that the `admin` role is too much wide for their standards. They're requiring you to implement a new one, named `limited_admin

[2022-05-31 12:38] #574 closed

[2022-06-01 09:54] gkarthiks commented on #567
@prometherion I got confused again.

So what you are proposing is to have an annotation `capsule.clastix.io/ignored-user-groups` and have the list of `userGroups` there.

Q1: What is the `ignored-user-group` mean, when a user request is coming from a usergroup that is part of that annotation, then we will want to deny that request?

[2022-06-01 10:17] prometherion commented on #567
Yes, and looking at the code, it means returning `false`, as we're doing here:
https://github.com/clastix/capsule/blob/9f6883d309368a9dc0dda2c79a436837dc924c55/pkg/webhook/utils/is_capsule_user.go#L11-L16

The main difference is that right now we just need to check a single entry, with the new feature, instead, we're going to check for multiple entries. We can easily go for a `range` function, we

[2022-06-02 11:51] MaxFedotov opened #578 "support cert-manager and capsule controller for generating certificates"
in #554 support for `cert-manager` for generating certificates was added. But in this issue, the wrong solution was used, which led to missing `caBundle` in tenant CRD when certificates were generated using `cert-manager`.

We need to develop a single approach for different types of TLS certificates:
- generated by  Capsule controller
- generated by cert-manager
- manually added by user

[2022-06-06 02:40] TinySong commented on #573
@prometherion  PR has submitted, please see if there is anything that needs to be added. 😄

[2022-06-06 04:48] #573 closed

[2022-06-07 09:44] oliverbaehler opened #582 "Grant Global Namespace Patch Rights"
# Describe the feature

For users to be able to bootstrap namespaces via Kustomize oder Helm we need global Patch Rights. Because both actions perform a PATCH operation (Dry-Run) on the namespace API when they try to create a namespace. Currently this is not possible:

[code]

If we implement this functionality we can provide true namespace self service to our developers/customers.
Currently we ha

[2022-06-07 11:44] maxgio92 commented on #528
Hey @bsctl I was working exactly on the same use case [here](https://github.com/maxgio92/flux2-capsule-multi-tenancy).
And I then came across the issue @oliverbaehler just discussed in #582.

## Tenant self-service reconciliation

TL;DR: The tenant owner needs permission to `patch` (also `list`) cluster-scoped Kubernetes resources/objects too.
The flux kustomize-controller in the end will `kubectl

[2022-06-07 12:07] oliverbaehler commented on #582
@maxgio92 **Don't use this in production. If someone pushes a namespace that exists into the repository they can hijack it into a tenant and have full control over it!**

You can reproduce this by adding a namespace manifest called `kube-system` to your repository. You will see that it's added to the tenant and therefor hijacked.

[2022-06-07 12:12] oliverbaehler commented on #528
Yeah that's what our current setup looks like. We have shell-operator in place which dumps kubeconfigs from serviceaccounts into secrets which access the capsule proxy's internal url. We could add something like that to the capsule proxy.

You will still need to get around, since you implement a huge security exploit when just allowing patch privileges #582

[2022-06-07 13:22] maxgio92 commented on #582
Of course @oliverbaehler, the workaround I linked is absolutely bad :-)
For that reason I think we need the work @prometherion explained. As a detail, when used Capsule Proxy the kubeconfig provided to the GitOps reconciler will be used, without impersonation I'd say.
Also, the ClusterRole with `patch` privilege on Namespace should be bound only if using Capsule Proxy.

[2022-06-07 20:32] pramodsetlur opened #583 "Integration with GCP IAM"
# Describe the feature
Integrate Capsule with GKE and GCP IAM.

# What would the new user story look like?
The ability to create a tenant with IAM users/groups in GCP would be helpful.

Eg:
[code]

Applying the above results in
[code]

A user like `pramod.setlur@emailaddress.com` or a group like `our-company-group@company.com` can be used in giving the group/user Viewer access at the GCP project l

[2022-06-08 11:12] #578 closed

[2022-06-08 18:27] oliverbaehler commented on #516
@barrydobson Progress on #528 might be interesting for you

[2022-06-09 07:03] oliverbaehler commented on #528
Hi @maxgio92, I have tried the approach to allow Flux within tenants, meaning that cross references within namespaces in the same tenant are such which are marked as public, are allowed. But we don't have the time to maintain such policies over time and we are also moving towards argo, so i guess we won't need them anymore (They weren't used in production yet). Maybe it's something usefu. See the

[2022-06-09 12:46] maxgio92 commented on #528
Thank you @oliverbaehler !

[2022-06-09 12:57] prometherion commented on #582
What do you mean here?

[2022-06-09 15:11] maxgio92 commented on #582
I think I made a wrong assumption about the fact we need proxy to filter also results from `patch` requests.
That should be true only for `list`.

[2022-06-09 15:27] prometherion opened #586 "Tests are failing"
Due to a missing clean-up function for the feature test `Deleting a tenant with protected annotation`, local tests are failing.

[2022-06-09 15:28] prometherion opened #587 "Unrequired patch verb for Namespace deleter ClusterRole"
https://github.com/clastix/capsule/blob/fd738341ed162ed83197f4f16359d44c571c722f/controllers/rbac/const.go#L38

There's no need for this verb for the said ClusterRole and should be removed since it's out of the scope.

[2022-06-09 18:33] #582 closed

[2022-06-09 18:34] prometherion commented on #528
Could we make this optional right now and use the Kyverno policies shared by @oliverbaehler so we can close this with the docs update?

[2022-06-10 11:47] #587 closed

[2022-06-10 11:47] #586 closed

[2022-06-11 13:41] oliverbaehler commented on #528
@prometherion If we want to propose these i would take some time to harden them and verify that they are working as expect, not that we create a security leak.

My intention was to share reconciler resources which are common (eg. bitnami helm repository is in a public namespace). But I don't know if I am still a fan of this idea, since these policies rely on api calls which decrease cluster perfor

[2022-06-12 19:40] prometherion commented on #528
It depends on the time since I'd like to publish the v0.1.2 before the next community call, expected in 2 weeks.

Do you think that's feasible according to your availability?

I'm missing the context here, could you elaborate a bit more?

[2022-06-13 08:06] maxgio92 commented on #528
@prometherion TL;DR without point `2` a Tenant could bypass Capsule and modify system resources (e.g. in _kube-system_ NS) or other Tenants' resources.

Point `2` is important to avoid that Tenant resources are reconciled with _cluster-admin_ privileges.
This would happen because we cant' enforce reconciliation with impersonation of the _default_ SA of the same namespace of the `Kustomization` (i.

[2022-06-13 09:54] prometherion opened #590 "Support for Kubernetes 1.24"
Ensure that Capsule can work in Kubernetes 1.24

[2022-06-13 17:37] maxgio92 commented on #528
I wrote down these test definitions:

- [ ] A tenant should not be able to write other tenants' Namespaces (e.g. try to re-assign Namespace)
- [ ] A tenant should not be able to read other tenants' namespaced resource (e.g. reference Source-type Flux CRs)
- [ ] A tenant should not be able to write other tenants' namespaced resource
- [ ] A tenant should not be able to read non-tenant namespaced re

[2022-06-16 14:00] maxgio92 commented on #528
TL;DR The last two points can be achieved without policies, instead enabling also the default SA impersonation-feature of Flux MultiTenancy Lockdown.
What is needed is the privilege of the Tenant Owner to impersonate himself, and add support in Capsule Proxy for requests with impersonation headers.

Moreover, with this approach we remove the dependency of a further policy engine.

[2022-06-19 12:29] prometherion opened #594 "Unable to run Capsule locally"
After a fresh installation of Capsule using the `e2e` cluster locally, I'm not able to run the manager from my local machine.

[code]

[2022-06-22 16:35] prometherion opened #596 "Document Capsule Proxy metrics"
Since clastix/capsule-proxy#207 has been merged we have to document the new metrics endpoint.

[2022-06-23 13:02] MeghanaSrinath opened #597 "GKE nodes going to NotReady state after installing capsule"
We have a GKE cluster on which we have deployed capsule. We have used this[ values.yaml](https://github.com/clastix/capsule/blob/741db523e5edd8aa0fb5dece5005542217317d9c/charts/capsule/values.yaml#L131) file during installation via helm. But once the cluster is scaled to 0 nodes and when we try to scale up to bring new nodes, all the nodes are going to NotReady state. Even if a new node tries to c

[2022-06-24 07:44] viveksyngh commented on #596
You can assign this to me. I will work on this.

[2022-06-29 08:40] #424 closed

[2022-06-29 08:42] prometherion commented on #292
@maxgio92 I'm not a guru of the Falco ecosystem, do you think that a sidekick could be worth it?

Keep in mind that the context is the audit purpose, not sure if it's the correct project.

[2022-06-29 10:53] #583 closed

[2022-06-29 13:10] maxgio92 commented on #292
If the type of the event is of the native Kind Audit event [`Event`](https://kubernetes.io/docs/reference/config-api/apiserver-audit.v1/#audit-k8s-io-v1-Event) I think we don't need a new plugin, as there's already one [in place](https://falco.org/docs/event-sources/kubernetes-audit/).

If so, based on that data source, Falco inspects those events and is able to filter based on user-defined rules

[2022-07-02 13:08] bsctl opened #599 "Create a ready-to-use Grafana dashboard"
# Describe the feature
Create a ready-to-use Grafana dashboard in the form of Config Map. Most recent Grafana versions can load automatically dashboards via Config Map. ~~It would be useful to have such CM, including in the Helm Chart, so that no manual dashboard creation is required.~~

[2022-07-04 04:29] MeghanaSrinath commented on #597
This fix worked perfectly. Thank you!

[2022-07-04 04:29] #597 closed

[2022-07-08 05:58] bsctl opened #600 "Provide daemonset deployment mode in Capsule Helm Chart"
# Describe the feature
Deploying Capsule to the cluster is done through the usual means, but for minimal latency in the requests, it might be a good idea to let a `daemonset` deploy the Capsule pods to the same master nodes as the API servers run on.

Since multiple replicas of Capsule is supported, it would be useful to have `daemonset` deploy mode in the Helm Chart too.

# What would the new use

[2022-07-14 07:08] #600 closed

[2022-07-15 10:04] iamNoah1 opened #603 "Isolation does not work on K8s 1.22.11 (on Azure AKS)"
# Bug description

I created a new tenant, logged in with the user and tried to get all namespaces which was successful, but shouldn't.

# How to reproduce
* Create a K8s cluster in Azure (probably the bug is not related to Azure K8s)
* Create a tenant
* Create a new user using the hackscript
* Log in as a user of the tenant
* `kubectl get namespaces`

Steps to reproduce the behavior:

1. Provide

[2022-07-15 11:47] maxgio92 commented on #603
Hi @iamNoah1, thanks for reporting this.
We're going to try to reproduce the issue. Keep you posted :-)

[2022-07-15 12:36] maxgio92 commented on #603
Hey @iamNoah1 in order to do this:

which commands you run?

I followed these steps:
[code]

but as you see I wasn't able to reproduce the issue.

Also, which version of Capsule you installed?

Thanks

[2022-07-15 17:40] MaxFedotov opened #604 "Release new version of helm chart"
We need to release a new version of helm chart, because latest builds of capsule are incompatible with current helm chart version

[2022-07-16 07:48] iamNoah1 commented on #603
hm, crazy :/ ... how to see the version of capsule?

`helm list -n capsule-system` says

[code]

[2022-07-18 06:42] #599 closed

[2022-07-18 06:49] #604 closed

[2022-07-18 08:37] maxgio92 commented on #603
@iamNoah1 please run:
[code]
You should see something like:

[code]

[2022-07-19 09:56] maxgio92 commented on #528
Update: all the points are achieved.
I updated the one before the last by removing the fact that `spec.kubeconfig` should not be empty. This is not required now, but the important part is that Capsule Proxy enables list operations for the Tenant GitOps Reconciler.

Even though not-so-elegant, the Tenant GitOps Reconciler communicates to the Capsule Proxy impersonating himself (`ServiceAccount`'s `

[2022-07-20 06:14] bsctl commented on #528
@maxgio92 Are these tests automated in e2e?

[2022-07-20 08:07] prometherion opened #607 "Presenting Capsule Proxy metrics with a Grafana dashboard"
As #596 is completed, the new metrics exported by the Capsule Proxy must be exposed in a Grafana dashboard in order to provide more visibility on this component.

Let's evaluate if using a new dashboard, or rather, the Capsule one.

[2022-07-20 08:21] maxgio92 commented on #528
@bsctl no, I'm not sure it would make so much sense as they wouldn't test Capsule but a use case integration with an external project.

[2022-07-20 08:34] bsctl commented on #528
@maxgio92 you're right, my bad.

[2022-07-20 08:47] maxgio92 opened #608 "Improve GitOps user experience"
### Describe the feature

It would be useful to let Capsule set all the needed RBAC and identities for a machine Tenant Owner, that would be responsible of reconciling Tenant resources.

### What would the new user story look like?

As a platform/admin user, I want to provide tenant users the ability to declare their resources and let a GitOps Kubernetes operator reconcile them from Git, with an u

[2022-07-20 16:08] #596 closed

[2022-07-21 14:27] oliverbaehler opened #610 "Default Value PriorityClass/storageClasses/allowedClasses"
# Describe the feature

Generally it's a default value for `priorityClasses`, `storageClasses` and `allowedClasses` (Ingress). Adding a default value would simplify working in the tenant for the customer, since they wouldn't have to worry to much about these values, since a default value is applied. But then con overwrite it, by setting their value.

Would you be happy to accept this feature(s)? I

[2022-07-22 08:12] oliverbaehler commented on #610
Maybe it would even make sense adding a namespace selector.

[code]

[2022-07-22 08:30] iamNoah1 commented on #603
* `terraform apply --var resource_group="multitenancy" --var aks_name="multitenant-aks"` using https://github.com/iamNoah1/terraform-aks
* `echo "$(terraform output -raw kube_config)" > ./azurek8s`
* `export KUBECONFIG=`pwd`/azurek8s`
* `helm repo add clastix https://clastix.github.io/charts`
* `helm install capsule clastix/capsule -n capsule-system --create-namespace`
* change dir to capsule-demo

[2022-07-22 09:44] #528 closed

[2022-07-22 10:13] prometherion commented on #610
This feature would require a mutating webhook in order to patch pods with the default value.

Along with that, I would start using a bare value to keep the homogeneity of the other keys such as `allowed` that are referring to bare names.

Regarding the selector, it's something we are already evaluating in #436, and that would be absolutely breaking since it means dropping the exact match and the r

[2022-07-22 10:30] bsctl commented on #603
@iamNoah1 could you please tell us what's your expected outcome after the latest command?

`kubectl get namespaces`

what you're expecting here?

Since the user `noah` is tenant owner of the `jesters` tenant, he cannot get namespaces at cluster level as @maxgio92 explained in his example:

[code]

Capsule is designed to restrict namespaces access to tenant owners, so the tenant owner can only crea

[2022-07-22 10:37] iamNoah1 commented on #603
My expected outcome is that I cannot see any namespaces, but I can see every namespace

[2022-07-22 11:04] bsctl commented on #603
Likely you're acting as cluster admin, check the `noah-jesters.kubeconfig` file and the `kubectl` context

[2022-07-22 13:43] bsctl opened #615 "Clarify the design of the clusterrole assigment tenant owners"
# Bug description
In documentation, clarify the usage of `clusterroles` that can be assigned to a tenant owner `alice` by the annotation: `clusterrolenames.capsule.clastix.io/user.alice: editor,manager`.

Currently, assigning a `clusterrole` to a tenant owner in such way, Capsule prevents the tenant owner `alice` to act as namespaces admin by missing the default and usual `rolebindings`: `capsule-

[2022-07-22 14:05] #603 closed

[2022-07-22 14:07] maxgio92 commented on #528
Hey @oliverbaehler, we released the guide for this scenario https://capsule.clastix.io/docs/guides/flux2-capsule 🥳

If you want to take a look and you notice some improvement, correction, please let me know :-)

In any case, thank you a lot for the value you put on this! 🙏🏻

[2022-07-22 14:11] prometherion commented on #516
Closing this, we've introduced full support for Flux v2.

[2022-07-22 14:11] #516 closed

[2022-07-22 14:12] maxgio92 commented on #603
I think @iamNoah1 as @bsctl you likely used a wrong context of the kubeconfig, using a cluster admin instead of the tenant owner.

Anyway, if you experience this issue again do not hesitate to let us know :-)

[2022-07-22 15:21] bsctl opened #616 "Support for new PodSecurityStandard as replacement for PodSecurityPolicy"
# Describe the feature
[PodSecurityPolicy](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) exists in Kubernetes to provide security controls. PSPs are deprecated in Kubernetes 1.21 and will be removed entirely in 1.25. As replacement, Kubernetes introduced the [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/). The Capsule operator shoul

[2022-07-22 17:05] prometherion opened #617 "Tenant owners can edit Namespace labels or annotations although these are forbidden."
With the current manifest, `alice` shouldn't be able to change the Namespaces label `pod-security.kubernetes.io/enforce`.

[code]

In fact, if a Namespace creation is issued (`kubectl --as alice --as-group capsule.clastix.io create ns solar-development`), the labels is available thanks to the `spec.namespaceOptions.additionalMetadata`.

[code]

However, if a change is put in place, this is not blo

[2022-07-22 17:16] bsctl commented on #616
This can be addressed with `spec.namespaceOptions.additionalMetadata.labels`

[code]

so it's just matter of documenti it.

[2022-07-22 19:29] #617 closed

[2022-07-27 07:29] alegrey91 opened #621 "Include gosec in CI pipeline"
# Describe the feature

[gosec](https://github.com/securego/gosec) is a Golang Security Checker. It inspects source code for security problems by scanning the Go AST.
I would include this in our pipeline.

# What would the new user story look like?

A new user comes and wants to contribute to capsule.
He writes some Go code and pushes it to its branch.
At this time, the CI checks for the new code

[2022-07-28 17:27] maxgio92 opened #623 "Document how to use Capsule with GCP"
### Describe the feature

This issue tracks the work to document how to use Capsule in a GCP environment with GKE and GCP IAM.

### What would the new user story look like?

As an adopter I'd like to understand how to setup GCP and Kubernetes resources to make Capsule work in GKE with Tenant users as Google Users.

[2022-07-28 17:40] maxgio92 commented on #623
1. Create/update GKE cluster enabling the [Google Groups for Kubernetes RBAC](https://cloud.google.com/kubernetes-engine/docs/how-to/google-groups-rbac) **GKE feature**
2. Create a GCP IAM **Group** "gke-security-group"
3. Create a GCP IAM **Group** wich will be a Capsule Group, e.g.:
  * email: `capsule@clastix.io`
  * name: `capsule-group`
4. Add the `capsule-group` GCP IAM **Group** above as a

[2022-07-29 14:15] JimBugwadia commented on #582
Hi @oliverbaehler - I am a Kyverno maintainer and would love to learn more about the problems you faced so we can improve in this area. There were a number of memory and performance related updates in 1.7.2 and we would like to capture more scenarios to test. Can you please create an issue or discussion in the Kyverno repo for this?

[2022-07-29 14:29] chipzoller commented on #582
@oliverbaehler second maintainer here and I'm sorry to hear about the issues that you encountered. Did you ever come talk to us in the #kyverno channel in Kubernetes Slack about this? Or was there some other venue/channel you tried and didn't get satisfactory help?

[2022-07-29 19:27] oliverbaehler commented on #582
Hi @chipzoller  @JimBugwadia, thanks for the proactive approach. I have removed the comment now since that was pointless blaming from my side (Kubernetes gets overwhelming with absolutely no staff). So what happened: We had Policies deployed which were just so resource intense, that the controllers were constantly under CPU pressure, resulting in often getting webhook timeouts. Also noone monitore

[2022-07-30 19:30] #616 closed

[2022-07-30 20:11] JimBugwadia commented on #582
@oliverbaehler - thanks for the follow-up and details! We want to improve the configuration and sizing guidelines, so this information is helpful. Also, please try 1.7.2 (if you have not already), as there are additional improvements for memory.

[2022-07-31 07:37] #615 closed

[2022-07-31 09:00] #504 closed

[2022-08-01 07:37] #621 closed

[2022-08-05 15:39] YvosOnTheHub opened #630 "DOC: Limit Range manifest example not correct"
# Bug description

There is an issue in the documentation on the following link: [https://capsule.clastix.io/docs/general/tutorial/#assign-resources-quota](https://capsule.clastix.io/docs/general/tutorial/#assign-resources-quota )

Check the **Pods and containers limits** paragraph:

[code]

I believe the correct writing is ("- limits:" was missing):
[code]

thanks in advance for changing that. It

[2022-08-13 15:23] maxgio92 opened #632 "Support ServiceAccount Tenant owner with SA name"
### Describe the feature

The proposal is to support in the `ownerSpec`, `ServiceAccount`-kind owners with `name` as Service Account name, besides the related  user's name (i.e. `system:serviceaccount:<namespace>:<service account name>`).

### What would the new user story look like?

As a cluster/platform admin I would like to specify ServiceAccount tenant owners with the ServiceAccount name inst

[2022-08-16 12:41] prometherion opened #633 "Support for RuntimeClass"
# Describe the feature

[RuntimeClass](https://kubernetes.io/docs/concepts/containers/runtime-class/) is a feature for selecting the container runtime configuration. The container runtime configuration is used to run a Pod's containers.

# What would the new user story look like?

As a Cluster Administrator, I want to limit, prevent, or allow the use of specific `RuntimeClass` to specific tenants.

[2022-08-16 13:40] oliverbaehler commented on #633
@prometherion I ll do that. I guess we are looking for same functionality as eg. PriorityClasses:

[code]

I would also add the `default` attribute and could combine it with #610. That  makes sense for you?

[2022-08-17 08:13] maxgio92 commented on #608
We don't do #631 , as discussed with @prometherion.

#### Capsule as a framework

Instead, in order to keep Capsule a framework for soft multi-tenancy, we'd provide an additional and dedicated addon to manage RBAC as an adapter for GitOps environments.

This is still more appropriate when RBAC is related to impersonation, which is now, leveraged by a GitOps operator(s) in particular.

#### cluster

[2022-08-17 14:07] prometherion commented on #633
I confirm that, also because we do already have our mechanism to check regex values and the exact match.

Let's keep it separated to avoid huge PRs.

Just a minor note, we have to address this for the new type, `v1beta2`, and we're still blocked since we don't have the required scaffolding.

I'll be back to you once everything is settled so you can start working on it! 💪🏻

[2022-09-02 15:13] maxgio92 opened #639 "Introduce static analysis of operator RBAC"
# Describe the feature

The CI pipeline could integrate static security analysis on the (`Cluster`)`Roles` that the operator would run with.

# What would the new user story look like?

As a maintainer, I would like that contribution would pass a static analysis of RBAC being introduced before being integrated.

This is one of the examples of shifting left the security, statically analyzing (SAST)

[2022-09-03 14:56] ptx96 commented on #639
This will be nice for our quality gate checks!
Anyway, we should check if this overlap with [kubescape](https://github.com/clastix/capsule/issues/405)

[2022-09-09 14:24] maxgio92 opened #640 "Improve documentation on Capsule Proxy"
This issue tracks the need to add details on how to use Capsule Proxy, specifically a user guide.

The guide could add details about how to communicate over the proxy, instead of directly to the API server.

As a proposal, a specific how-to guide could be added.

[2022-09-19 12:48] atamgp opened #642 "node webhook combined with karpenter causes new nodes to fail"
# Bug description
We combine karpenter auto-scaler with capsule. The issue is that on a new cluster, at start-up, it's quit normal that when capsule is deployed, there are no available nodes to schedule.
This causes an issue because the node level webhook is registered immediately while capsule pods wait for the scheduler.
When karpenter starts a new node (and all following) the new node tries to

[2022-09-19 12:55] prometherion commented on #642
Thanks for opening an issue, @atamgp!

I suspect this could be a duplicate of this: https://github.com/clastix/capsule/issues/597#issuecomment-1164404524: may I ask you to install Capsule disabling the nodes webhook `failurePolicy`?

[2022-09-20 08:25] atamgp commented on #642
De failurePolicy worked, thank you!

[2022-09-20 08:25] #642 closed

[2022-09-20 08:28] prometherion commented on #642
Glad to hear that! 🚀

For any issue, please, don't hesitate to ping us here on GitHub or on the Slack channel. 👍🏻

[2022-09-20 09:10] unai-ttxu opened #643 "Tenant Resource Quota is not honoured"
# Bug description

We are testing the Tenant Resource Quota feature and discovered that Resource Quota at Tenant level is not honoured.

# How to reproduce

1. Create the following Tenant:

[code]

2. Create the Namespaces `test-1` and `test-2`

At this point the following `resourcequotas` are created:

[code]

3. Deploy Pod `test-1` in `test-1` Namespace:

[code]

At this point `resourcequotas` a

[2022-09-20 09:39] prometherion commented on #643
Hei @unai-ttxu, thanks for reaching out! I think this is a sort of duplicate of #49.

Unfortunately, Capsule is relying on the [`ResourceQuota`](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#resourcequota) admission controller, with its trade-off:
- it's already upstream in Kubernetes
- it allows specifying various quotas that would be difficult to replicate

Obvio

[2022-09-20 14:08] unai-ttxu commented on #643
Hi @prometherion!

Thank you for the quick response :smile:

Yes, it's the same behavior described in https://github.com/clastix/capsule/issues/49. Sorry to not saw this issue before openning this new one.

The problem is that this over-quota can be almost `x2` tenant configured quota in worst scenario. We will think about an alternative solution and let you know it If we figure it out.

Thanks ag

[2022-09-20 15:45] prometherion commented on #643
You're right, it could be.

Would be great, thanks!

I would suggest closing this issue and moving the discussion to a possible workaround in the main issue.

[2022-09-20 15:45] #643 closed

[2022-09-27 16:33] prometherion commented on #633
@oliverbaehler I missed to assign this to you, wondering if you're still on it, otherwise I can take care.

[2022-09-27 16:34] prometherion commented on #525
@oliverbaehler my bad, missed this notification.

Since #644, we're planning this for the v0.2.0 release, and landing in the `v1beta2` Tenant specification, too.

[2022-09-27 20:05] mathuvenkat opened #646 "Capsule proxy endpoint failing to list Priorityclass for tenant even with ProxySettings specifying List verb for PriorityClasses"
# Bug description

Filtering does not work for StorageClasses,PriorityClasses on querying the capsule proxy endpoint after setting up the resources with label name and explicitly allowing list verb in the tenant yaml.
CC: @bsctl

# How to reproduce

Steps to reproduce the behavior:

1. Provide the Capsule Tenant YAML definitions
[code]
3. Provide all managed Kubernetes resources

[code]

Priorityc

[2022-09-28 09:44] prometherion commented on #646
Thanks for reporting this, @mathuvenkat.

Let me check this so I can evaluate if the fix must be addressed in the Capsule code base or, rather, in the capsule-proxy one.

[2022-09-28 23:43] mathuvenkat opened #647 "Capsule proxy support for oidc roles->group mapping"
# Bug description
When oidc is configured and roles is mapped to groups in the api-server configuration for authentication, capsule-proxy is not able to filter resources when a call is made with jwt token issued by the oidc server, that has only roles and not groups.

A clear and concise description of what the bug is.

# How to reproduce

workflow I followed and was able to have the tenant create

[2022-09-28 23:43] mathuvenkat commented on #647
CC @bsctl - thanks!

[2022-09-29 05:26] prometherion commented on #647
I think this should be opened in `capsule-proxy` repository, going to close it.

May I ask you to open the same one there, please? Unfortunately, I cannot move issues from projects to project.

[2022-09-29 18:06] mathuvenkat commented on #647
Sure thanks - filed it here  https://github.com/clastix/capsule-proxy/issues/233

[2022-09-30 18:36] mathuvenkat opened #649 "Tenant owner able to update capsule created network policies specified in tenant spec by cluster-admin"
# Bug description
A tenant owner is able to edit cluster-admin created network policies (Defined in tenant spec) on his namespace.

# How to reproduce
1. Created SA in default ns
2. created tenant and assigned ownership to SA . Added this in tenant spec per this doc https://capsule.clastix.io/docs/general/mtb/#block-access-to-multitenant-resources
3.
[code]
4. created namespace and verified tenant

[2022-09-30 20:08] prometherion commented on #649
Thanks for the report, @mathuvenkat

Just to be sure, are you referring to NetworkPolicies created by the Tenant Owner, or the Capsule ones?

In the latter case, it seems blocked to me.

[code]

In one of the Tenant Namespaces:

[code]

[2022-09-30 21:06] mathuvenkat commented on #649
Thanks @prometherion for quick response.
I'm referring to the ones created by capsule-In my example, the below 2 are created by capsule.
But sorry , even though the auth can-i returned yes, I could not edit it, which I tried now.
[code]

Auth can-i returns yes - whcih was not expected ------> any idea why this is the casde ?
[code]

When i actually edited and attempted to save it - it denied as ex

[2022-10-01 12:58] prometherion commented on #649
We're blocking the update or deletion of Capsule NetworkPolicies using a validating webhook, and the Subject Access Review used by the `auth can-it` command is not aware of that since it's just reading from the bare RBAC profile, which is `admin` assigned to the Tenant Owners.

NetworkPolicies on Kubernetes are a sort of mapping of `iptables` rules on the host. When these are not available, all in

[2022-10-05 10:53] bsctl commented on #647
@mathuvenkat we're going to close this in place of https://github.com/clastix/capsule-proxy/issues/233

[2022-10-05 10:53] #647 closed

[2022-10-06 18:34] bsctl commented on #649
@mathuvenkat do you need more support on this issue? I think we can close it since it works as expected. Please, @prometherion comment on it.

[2022-10-07 10:38] bsctl commented on #436
@prometherion as we're approaching new API version for Tenant resource, what about to introduce this enhancement? To avoid breaking changes, we can just add another method of specifying Classes to make the transition smooth:

[code]

[2022-10-10 09:00] prometherion commented on #649
Closing since unable to replicate, please, open back at your wish!

[2022-10-10 09:00] #649 closed

[2022-10-11 13:36] prometherion commented on #646
I was able to replicate the issue you reported, and the main problem is that `PriorityClass` objects [are not labelled as requested](https://capsule.clastix.io/docs/general/proxy#priority-classes):

Please, note the label `name` matches the `metadata.name` value.

Since `capsule-proxy` is totally relying on the filtering capabilities offered by Kubernetes API Server, this labelling is required to

[2022-10-11 17:27] mathuvenkat commented on #646
Thanks @prometherion for replicating this issue.
I had provided in my original comment the yaml of Priority class where metadata.name and labels.name is same, which is high-priority-mv. This should be sufficient right, but it did not work ? Is there anything I missed here ?

[code]

[2022-10-13 15:36] prometherion commented on #525
After a chat with the maintainer, we decided to go in a direction where two new CRDs are introduced, a cluster-scoped one named `GlobalTenantResource`, and a Namespaced one, `TenantResources`.

[code]

[code]

The last PR attached to this issue contains all the required information, along with the CRDs documentation.

[2022-10-13 15:39] prometherion commented on #436
@bsctl you're right, @MaxFedotov agreed on working on this.

[2022-10-14 10:36] prometherion opened #652 "Align official documentation and code up to Tenant v1beta2 API"
Once #644 is merged, the documentation must be aligned to the new Tenant API, as well as the code in the controllers code-base.

[2022-10-14 15:58] prometherion opened #653 "Service controller doesn't skip sentinel error"
# Bug description

The Operator is reporting sentinel errors, although these should be ignored to don't occupy the workqueue.

# How to reproduce

Steps to reproduce the behavior:

[code]

# Expected behaviour

No error should be reported since it's a sentinel one.

# Logs

[code]

# Additional context

- Capsule version: v0.1.2
- Helm Chart version: N.R.
- Kubernetes version: N.R.

[2022-10-14 18:21] #653 closed

[2022-10-15 15:03] prometherion commented on #632
This looks to me an egg/chicken problem: if the Tenant is created by the Cluster administrator, and no Namespaces are there, how can a ServiceAccount create Namespaces?

Although the verbosity for ServiceAccout name is not pleasant, I'd say it's pretty Kubernet-ish, just thinking of `kubectl --as system:serviceaccount:default:my-sa create deployment ...`

WDTY?

[2022-10-15 15:08] prometherion commented on #646
Correct, just the label `name` is required.

I'm not getting the point here: in the tenant manifest the user `system:serviceaccount:default:privtest` is reported as the tenant owner, however, the last message is referring to the ServiceAccout `tenant-owner-admin` in the namespace `infra-admin-tenant-ns-abc`.

Due to limitations of Kubernetes API which RBAC has been designed around resources rather

[2022-10-18 06:58] TinySong opened #655 "remove namespace from tenant"
# Bug description

how to remote namespace from tenant

# How to reproduce

Steps to reproduce the behavior:
None
# Expected behavior

I want to know the way to remove a  namespace from a tenant.
# Logs

# Additional context

- Capsule version: (`capsule --version`)
  v0.1.2

[2022-10-18 07:20] prometherion commented on #655
Hey Tony, would you like to remove the Namespace association from a Tenant while keeping its content, right?

In that case you would need to remove the `ownerReference` field and the Capsule labels at the same time.

In case it wouldn't work, we can try to debug it together.

Let me know if it works!

[2022-10-18 08:05] TinySong commented on #655
@prometherion  thank you rely so quick. Remove `ownerReference` and `Capsule labels `work if the user is a Kubernetes cluster admin who isn't a tenant Owner. But if the user is a Tenant owner, using OIDC Token request removing ownerReference and Capsule labels doesn't work. Like this:

OIDC kubeconfig:
[code]
kubectl commmand:
[code]
this way doesn't work.

[2022-10-18 08:11] TinySong commented on #655
Additional information: the user groups of admin include capsule.clastix.io already.

[2022-10-19 13:43] prometherion commented on #655
I always wanted to state that in a GitHub issue: _it's not a bug, it's a feature_.

Jokes apart :trollface: I think this is legit, since the following considerations. A tenant owner will create a Namespace according to the Tenant definitions assigned to their user, thus a set of system critical resources such as the `NetworkPolicy`, `ResourceQuota`, or `LimitRange`, will be replicated across their

[2022-10-21 15:07] prometherion commented on #610
We can work on this, once #644 is merged.

[2022-10-21 17:21] oliverbaehler commented on #610
@prometherion you can assign it to me, i have already some code for this feature but will wait for the new apiv

[2022-10-28 22:50] prometherion opened #657 "Deprecate Tenant v1alpha1 version"
With the consolidation of v1beta2, the old version must be marked as deprecated.

[2022-11-10 10:51] sagar-jadhav opened #658 "error: //go:linkname must refer to declared function or variable"
# Bug description

Error after running `make docker-build` command

# How to reproduce

Run `make docker-build` command

Reference: https://capsule.clastix.io/docs/contributing/development#fork-build-and-deploy-capsule

# Expected behavior

`make docker-build` command should run without any errors

# Logs

[code]

# Additional context

- Go version: go version go1.18.8 darwin/amd64
- kubebuilder v

[2022-11-10 20:14] prometherion commented on #655
Closing due to inactivity, feel free to open it back, or open a new user story as requested.

[2022-11-10 20:14] #655 closed

[2022-11-10 20:20] prometherion commented on #658
Thanks @sagar-jadhav for opening this issue.

At first sight, it seems a problem with your local Go development environment: after looking for the error message on Google, I found this [SO thread](https://stackoverflow.com/questions/71507321/go-1-18-build-error-on-mac-unix-syscall-darwin-1-13-go253-golinkname-mus).

Also, keep in mind we're running these steps every time we run the CI, this means

[2022-11-11 03:48] sagar-jadhav commented on #658
Sure @prometherion I will try and close the issue. Thanks

[2022-11-11 05:55] sagar-jadhav commented on #658
@prometherion I tried the following:
- Cleaned up my local Go development environment
- Steps mentioned in [SO thread](https://stackoverflow.com/questions/71507321/go-1-18-build-error-on-mac-unix-syscall-darwin-1-13-go253-golinkname-mus)

But that didn't resolve the issue.

Next I tried setting version of **controller-gen** from `0.5.0` to `0.6.0` in the Makefile and then again tried `make docker-

[2022-11-11 09:07] oliverbaehler commented on #658
I have the same issue with Apple M1 Pro. Build it on a ubuntu server or something like that.

The x/sys dependency should work with the version 1.0.0. But idc how the dependency is indirect used

[2022-11-11 09:40] sagar-jadhav commented on #658
@oliverbaehler so looks to be issue with only with Apple M1.

[2022-11-11 13:25] krugerm-4c commented on #527
Hi all.
We are busy investigating capsule for multi-tenancy and are busy using ArgoCD to achieve GitOps pattern.
In our case we deploy ArgoCD within the cluster and it manages that cluster.
What I am struggling to achieve is to declaratively create a Tenant namespace using the label defined in the Capsule documentation.

How I understand it is if I create a namespace as any user and use the label

[2022-11-11 18:51] oliverbaehler commented on #527
HI @krugerm-4c

Have you added `system:serviceaccount:argocd:argocd-server` to the default CapsuleConfiguration?

[2022-11-14 04:38] javad2157 opened #660 "Using capsule in air-gap environment (without internet)"
# Bug description

I want to use capsule in an environment without internet. when I use helm or install.yml file to
install capsule in the kubernetes cluster that has internet access, capsule run without any problem but
when install capsule in the kubernetes cluster without internet i get following error
`ERROR	controller-runtime.manager	error received after stop sequence was engaged	{"error": "co

[2022-11-14 09:35] oliverbaehler commented on #660
Since you are using cert-manager with the default installation: is cert manager installed on your air gapped environment?

[2022-11-14 09:41] sagar-jadhav commented on #658
Closing the issue as workarounds are available.

[2022-11-14 10:13] krugerm-4c commented on #527
I added that under the `userGroups` directive in the default `CapsuleConfiguration`, but it didn't work.

The big difference I can see is that the namespace created from an tenant via `kubectl` has the `ownerReferences` under `metadata` to link it to Capsule and the specific Tenant.

If I add the below metadata to the namespace YAML **manually** it links up correctly:
[code]

But this seems like a

[2022-11-14 10:34] prometherion commented on #527
@krugerm-4c no, the ownerReference is done by the Capsule mutating webhook that intercepts the Namespace creation calls.

These calls are filtered if the user issuing those is part of the Capsule groups, I'd say something is not working there properly due to a misconfiguration. I know that @MaxFedotov is using that without any problem: would be great if you could share the `CapsuleConfiguration` c

[2022-11-14 10:36] prometherion commented on #660
Hey @javad2157, thanks for opening the issue!

From the logs I see that Capsule tries to reach out to the Kubernetes API Server in order to create a lock for the leader election: `https://10.96.0.1:443/api/v1/namespaces/capsule-system/configmaps/42c733ea.clastix.capsule.io`.

I would try to understand why a POS cannot reach out the API server since it seems to me a problem due to NetworkPolicies,

[2022-11-14 11:30] krugerm-4c commented on #527
@prometherion

See below configuration I work with:
[code]
The git repository is a public one I am using for the creation of a PoC.

For context, it has a single YAML file to be synced:
[code]

[2022-11-14 14:29] prometherion commented on #527
There's a typo in the `CapsuleConfiguration`, please, notice the difference.

[code]

Since we're talking about groups, you must specify the group, not the user.

Let me know if this works for you.

[2022-11-15 04:11] javad2157 commented on #660
thanks for your reply. I use calico as cni for my kubernetes cluster and i didn't make any changes in default configuration of calico. In this situation i don't have any problem with other program that i want using it on kubernetes cluster but when i use capsule i get this error.
what kind of information about my kubernetes cluster is helpful for you to T-Shoot this problem??

[2022-11-15 04:30] javad2157 commented on #660
thank for your reply. yes i use cert-manager with the default installation but now i deleted cert-manager from my cluster and i got this error again. is cert-manager must be install or not? if yes which configuration is needed for capsule to could work?
In general as a question, does capsule need to internet to work?

[2022-11-15 06:26] krugerm-4c commented on #527
That worked!

The namespaces synced by ArgoCD are showing up on the Tenant custom resource.

Thanks @prometherion.  Looked back at the documentation and didn't see this part about the default CapsuleConfiguration related to namespaces and service accounts.

[2022-11-15 07:42] oliverbaehler commented on #660
HI @javad2157, Yeah so capsule uses cert-manager to generate it's certificates for it's admission webhooks (I assume you have enabled that on your normal environment). So if you are not looking to deploy cert-manager (I would always recommend cert-manager) you have the following options:

1. Disable Cert-Manager. Then you should be able to observe a job which creates certificates as a post-install

[2022-11-15 09:26] prometherion commented on #660
Besides `cert-manager` that shouldn't be the root cause of this issue, let's try this approach.

Could you try to disable the leader election mechanism of the Operator? You can edit the Capsule deployment and remove the CLI flag `--enable-leader-election`.

I'm expecting honestly more errors since Capsule needs to interact with the Kubernetes API Server to watch the events, and cache resources, th

[2022-11-16 04:29] javad2157 commented on #660
HI @oliverbaehler as i said i run capsule in the kuberntes cluster without cert-manager but that cluster have internet access.
the error i get is related to tls.crt  `ERROR	setup	problem running manager	{"error": "open /tmp/k8s-webhook-server/serving-certs/tls.crt: no such file or directory"}` but with internet i didn't get this error.
I don't use helm chart to install capsule and cert manager and

[2022-11-16 05:13] javad2157 commented on #660
i did what you say and i got these logs:

`2022-11-16T05:26:54.732Z	INFO	setup	Capsule Version v0.1.2 a36c754`
`2022-11-16T05:26:54.732Z	INFO	setup	Build from: https://github.com/clastix/capsule`
`2022-11-16T05:26:54.732Z	INFO	setup	Build date: 2022-07-26T18:40:49`
`2022-11-16T05:26:54.732Z	INFO	setup	Go Version: go1.18.4`
`2022-11-16T05:26:54.732Z	INFO	setup	Go OS/Arch: linux/amd64`
`2022-11-16T0

[2022-11-16 06:46] prometherion commented on #660
@javad2157 I don't see a correlation with the air-gapped environment here, it should be out of the equation.

May I ask you to share also the content of your Helm values, or the CLI `set` ones?

[2022-11-19 05:17] javad2157 commented on #660
without any change in my cluster, Capsule Version v0.1.0 7979c25 is working and i don't have any problem with this version.

[2022-11-19 07:33] javad2157 commented on #660
without any changes in my cluster and just using capsule version 0.1 i could use capsule in air-gapped environment. logs with this version of capsule:

`2022-11-19T07:11:30.946Z	INFO	setup	Capsule Version v0.1.0 7979c25`
`2022-11-19T07:11:30.946Z	INFO	setup	Build from: https://github.com/clastix/capsule`
`2022-11-19T07:11:30.946Z	INFO	setup	Build date: 2021-08-23T15:09:36`
`2022-11-19T07:11:30.946

[2022-11-19 10:18] prometherion commented on #660
I think what's the issue here: during the transition to 0.1.1 from 0.1.0 we changed the way how we generate certificates, and this requested also a change in the manifests.

Keep in mind that the suggested and most supported way to install Capsule is Helm, with that said:
1. [ensure to have Helm installed](https://helm.sh/docs/intro/install/)
2. add the Clastix repository (`helm repo add clastix h

[2022-11-19 10:19] prometherion commented on #646
Closing due to stale activity, feel free to open it back if you're still having the described issue.

[2022-11-19 10:19] #646 closed

[2022-11-23 17:21] #222 closed

[2022-11-23 17:21] #416 closed

[2022-11-23 17:21] #525 closed

[2022-11-23 17:21] #431 closed

[2022-11-23 17:21] #426 closed

[2022-11-24 13:36] MaxFedotov opened #663 "Tenant owner is unable to label namespaces"
Having the following tenant spec
[code]

tenant admin is unable to label namespace:
[code]

[2022-11-24 18:06] prometherion opened #665 "Support for Kubernetes 1.26"
The code-base must be aligned to support Kubernetes v1.26, also considering that starting from 1.25 version `v1beta1` of the `EndpointSlice` resource has been deprecated.